<%= form_tag locations_path, :method => 'get' do %>
  <%= label_tag :by_name, 'Name' %>
  <%= text_field_tag :by_name, params[:by_name] %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.street %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zip %></td>
    <td><%= location.phone %></td>
    <td><%= location.lat %></td>
    <td><%= location.lon %></td>
    <td><%= location.website %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
