<div class="column_container">
	<div id="login" class="w_320 mt_10">
		<h2>Resend confirmation instructions</h2>

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>

			<div class="field form-inputs">
				<p><%= f.label :login %></p>
				<p><%= f.text_field :login, autofocus: true, required: true %></p>
			</div>

			<div class="actions">
				<%= f.submit "Submit", class: "button" %>
			</div>
			<br />
		<% end %>

		<div style="margin-top: 10px;">If you don't receive the email, whitelist admin@pinballmap.com and try again, and <span class="bold brightpurple">check your spam folder</span>.</div>

		<%= render "devise/shared/links" %>
	</div>
</div>
