!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@body}
      -# Comment: #{@comment}
      -# %br
      -# Location: #{@location_name} - #{@location_address}
      -# %br
      -# Machine: #{@machine}
      -# %br
      -# Date: #{@date}