100% of pinball machines have an issue at some point (and everyone knows this). But not all machines get fixed. Machine comments listing problems are GOOD, because they are an opportunity for you to demonstrate that yours are maintained (e.g., "issue fixed!").

Here are the edits made to your pinball machines yesterday on Pinball Map. We hope this helps you identify and fix problems.

You opted in to receive these emails, but if you don't want them anymore, reply to this message and tell us. Also, see our FAQ: https://pinballmap.com/faq#operators

Machine Comments
- @machine_comments.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:comment]
  = item[:user_name]

Machines Added
- @machines_added.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:user_name]

Machines Removed
- @machines_removed.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:user_name]
