<div class="page_login">
	<div class="column_container">
		<div class="column w_320 bg_gray">
			<h2>
				Why join?
			</h2>
			<p class="serif">
				Because updating pinball maps is fun! The maps are kept up to date by you! Signing up is simple, and will allow you to add and remove machines from places, add comments about machines, etc. Plus you can track your contributions.
			</p>
			<p class="serif">
				We won't share your email address with anyone! View <%= link_to 'Privacy Policy', privacy_path %>.
			</p>
		</div>
		<div id="login" class="column w_320">
			<h2>Join</h2>

			<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= f.error_notification %>

				<div class="form-inputs">
					<span class="why_login">(How about your initials?)</span>
					<%= f.input :username, :required => true, :autofocus => true, as: :string %>
					<%= f.input :email, :required => true, :autofocus => true, :input_html => {:minlength => 4} %>
					<span class="why_login">(Choose a password that you don't use elsewhere)</span>
					<%= f.input :password, :required => true %>
					<%= f.input :password_confirmation, :required => true %>
					<p class="red serif">Security Question (required)</p>
					<%= f.input :security_test, label: "What are we mapping on this site?" %>
				</div>
				<div class="form-actions">
					<%= f.button :submit, "Join" %>
				</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
