<div class="login_why_outer">
	<div class="login_why_inner">
		<p class="why_login darkb">
			Why join?
		</p>
		<p class="palatino">
			If you're not logged in, the maps are read-only. So you need to sign up and login to add and remove machines from places, add comments about machines, etc. The maps are kept up to date because of you! So please sign up and help out.
		</p>
		<p class="palatino">
			We won't share your email address with anyone. We may add you to our own mailing list, but you'll be able to opt out of that. View <a href="http://pinballmap.com/privacy">Privacy Policy</a>.
		</p>
	</div>
	<div id="login" class="login_new_div">
		<h2>Join</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		  	<span class="why_login">(For your username, how about your initials?)</span>
		    <%= f.input :username, :required => true, :autofocus => true, as: :string %>
		    <%= f.input :email, :required => true, :autofocus => true %>
		    <span class="why_login">(For your password, choose one that you don't use elsewhere)</span>
		    <%= f.input :password, :required => true %>
		    <%= f.input :password_confirmation, :required => true %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Join" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
