%div#map_activity.mt_20.mb_20.pt_10
  %div.bold.flex_center{:style => 'margin: 12px;'}
    %span.sorted_submissions
      - if pagy.count == 0
        No recent edits within the map view
      - else
        Showing #{pagy.from}-#{pagy.to} of #{pagy.count} recent edits within the map view
    %span.close_activity.pointer{:onclick => "closeActivity();"}
      X

  = render 'shared/activity_item', show_location_link: true, page_activity: false

  - if pagy.pages > 1
    #next_link{:style => 'margin: 20px 10px; padding-bottom: 20px;'}
      != @pagy.series_nav()

:javascript
  $(document).trigger('activity-loaded');
