%div#nearby_activity.mt_20.mb_20.pt_10
  %div.bold.flex_center{:style => 'margin: 12px;'}
    %span.sorted_submissions
      - if pagy.count == 0
        No recent edits within map view
      - else
        Showing #{pagy.from}-#{pagy.to} of #{pagy.count}#{pagy.count >= 2000 ? '+' : ''} recent edits within map view
    %span.close_activity.pointer{:onclick => "closeActivity();"}
      X
  - sorted_submissions.each do |recent_activity|
    = render 'shared/activity_item', activity: recent_activity, show_location_link: true

  - if pagy.pages > 1
    #next_link{:style => 'margin: 20px 10px; padding-bottom: 20px;'}
      != pagy_nav(pagy)

:javascript
  $(document).trigger('activity-loaded');
