#map_page_body
  #form_container
    #form
      = form_tag map_location_data_path, :method => 'get', :id => 'address_search_form', :class => 'location_search' do
        = hidden_field_tag :by_location_id
        = hidden_field_tag :by_city_name
        = hidden_field_tag :by_state_name
        = hidden_field_tag :by_city_no_state
        .map_input_search
          %span.input_title Search
          .search_input_wrapper
            = text_field_tag "address", params[:address], class: 'lookup_search_input', placeholder: 'City, venue, or address...', clear_id: 'clearButton2'
            #clearButton2{input_id: "address"}
              X
          %button.map.search{type: "submit", id: "location_search_button", "aria-label": "Search"}
            %svg{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", fill: "currentColor"}
              %path{d: "M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"}
          .map_input_filter.filter_button_wrapper
            %button#open_filter_modal_button.filter_button{:type => "button", :onclick => "showFilterModal();"}
              %svg{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 20 20", fill: "currentColor", "aria-hidden": "true"}
                %path{d: "M5 1.6c0-.553-.448-.6-1-.6-.553 0-1 .047-1 .6V10h2V1.6zM3 18.4c0 .551.447.6 1 .6.552 0 1-.049 1-.6V15H3v3.4zM6.399 11h-4.8C1.046 11 1 11.448 1 12v1c0 .553.046 1 .599 1H6.4c.55 0 .6-.447.6-1v-1c0-.552-.05-1-.601-1zm12 1h-4.801c-.552 0-.598.448-.598 1v1c0 .553.046 1 .599 1H18.4c.55 0 .6-.447.6-1v-1c0-.552-.05-1-.601-1zM13 7c0-.552-.05-1-.601-1h-4.8C7.046 6 7 6.448 7 7v1c0 .553.046 1 .599 1H12.4c.55 0 .6-.447.6-1V7zm-2-5.4c0-.553-.448-.6-1-.6-.553 0-1 .047-1 .6V5h2V1.6zM9 18.4c0 .551.447.6 1 .6.552 0 1-.049 1-.6V10H9v8.4zm8-16.8c0-.553-.448-.6-1-.6-.553 0-1 .047-1 .6V11h2V1.6zm-2 16.8c0 .551.447.6 1 .6.552 0 1-.049 1-.6V16h-2v2.4z"}
              Filter
            %button#clear_filters_button.filter_button{:type => "button", :style => "display: none;", :onclick => "clearFiltersAndApply();", "aria-label": "Clear filters"}
              ✕

        #filter_modal_overlay{:style => "display: none;", :onclick => "hideFilterModal();"}
        #filter_modal{:style => "display: none;"}
          .filter_modal_header
            %h3 Filter Map Results
            %div.filter_modal_close{:onclick => "hideFilterModal();"}
              X
          .filter_modal_body
            .filter_modal_section
              %div.font18.bold.center.brightpurple.mb_15
                Machine Filters
              .map_input_machine
                .input_title Machine
                %select.by_machine_select{ multiple: "multiple", id: "by_machine_select" }
                  - @selected_machines.each do |m|
                    %option{ value: m.id, selected: "selected" }= m.name_and_year
                #single_hide
                  .machine_version_prompt
                    %svg.down_arrow_icon{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", fill: "currentColor"}
                      %path{d: "M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"}
                    %span ...This machine version, or all?
                  .machine_type_toggle
                    %button#all_version_toggle.machine_type_btn.active{:type => "button", :onclick => "setSingleVersion(false)"} All Versions
                    %button#selected_version_toggle.machine_type_btn{:type => "button", :onclick => "setSingleVersion(true)"} Selected Version
                #ic_eligible_hide{:style => "display: none;"}
                  .machine_version_prompt
                    %svg.down_arrow_icon{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", fill: "currentColor"}
                      %path{d: "M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"}
                    %span ...Has Stern Insider Connected?
                  .machine_type_toggle
                    %button#no_ic_version_toggle.machine_type_btn.active{:type => "button", :onclick => "setIcVersion(false)"} Doesn't matter
                    %button#has_ic_version_toggle.machine_type_btn{:type => "button", :onclick => "setIcVersion(true)"} Has IC
              .map_input_limit
                .input_title Manufacturer
                %select.by_manufacturer{ multiple: "multiple", id: "by_manufacturer", name: "manufacturer[]" }
                  - Array(params[:manufacturer]).each do |m|
                    %option{ value: m, selected: "selected" }= m
              .map_input_limit
                .input_title Machine type
                .machine_type_toggle
                  %button#all_toggle.machine_type_btn.active{:type => "button", :onclick => "setMachineType('all')"} All
                  %button#em_toggle.machine_type_btn{:type => "button", :onclick => "setMachineType('em')"} EM
              .map_input_limit
                .input_title Machine year
                .year_range_selects
                  = select_tag "by_machine_year_gte", options_for_select([['From', '']] + @machine_years.map { |y| [y.to_s, y] }, params[:by_machine_year_gte])
                  = select_tag "by_machine_year_lte", options_for_select([['To', '']] + @machine_years.map { |y| [y.to_s, y] }, params[:by_machine_year_lte])
            .filter_modal_section.mt_20
              %div.font18.bold.center.brightpurple
                Location Filters
              .map_input_limit
                .input_title Limit by number of machines
                = hidden_field_tag "by_at_least_n_machines", params[:by_at_least_n_machines].presence || ''
                .machine_type_toggle
                  %button#n_machines_all.machine_type_btn.n_machines_btn.active{:type => "button", :onclick => "setNMachines('')"} All
                  %button#n_machines_2.machine_type_btn.n_machines_btn{:type => "button", :onclick => "setNMachines('2')"} 2+
                  %button#n_machines_5.machine_type_btn.n_machines_btn{:type => "button", :onclick => "setNMachines('5')"} 5+
                  %button#n_machines_10.machine_type_btn.n_machines_btn{:type => "button", :onclick => "setNMachines('10')"} 10+
                  %button#n_machines_20.machine_type_btn.n_machines_btn{:type => "button", :onclick => "setNMachines('20')"} 20+
              .map_input_limit
                .input_title Location type
                = select_tag "by_type_id[]", options_from_collection_for_select(LocationType.all.sort_by(&:name), 'id', 'name', params["by_type_id"]), multiple: "multiple", :class => 'by_type_id', :id => 'by_type_id'
              .map_input_limit
                .input_title Location has at least 1 Stern Insider Connected machine?
                .machine_type_toggle
                  %button#all_ic_toggle.machine_type_btn.active{:type => "button", :onclick => "setIcActive(false)"} All
                  %button#ic_toggle.machine_type_btn{:type => "button", :onclick => "setIcActive(true)"} Has IC
              .map_input_limit.operators_select_col
                .input_title Operator
                %select.by_operator_id{ id: "by_operator_id", name: "by_operator_id" }
                  %option{ value: "" }
                  - if params[:by_operator_id].present?
                    %option{ value: params[:by_operator_id], selected: "selected" }= Operator.find_by(id: params[:by_operator_id])&.name
          .filter_modal_footer
            %button.clear_filters_button{:type => "button", :onclick => "clearAllFilters(); updateClearFiltersButton();"} Clear
            %button.apply_filters_button{:type => "submit"} Apply
  #map
    #map_canvas

  #map_buttons
    #closest_button.fixed.hide_button.toggle_btn_reg{:onclick => "findClosestLocations()"}
      Nearby locations
    #map_activity_button.fixed.hide_button.toggle_btn_reg
      Activity feed
  #refresh_button.fixed.toggle_btn_reg Refresh map area
  - unless mobile_device?
    #key_container.fixed.hide_button.toggle_btn_reg.flex_center
      =image_tag( 'marker-z-1-noShadow.png', :alt => '1 machine example',:style => 'height: 20px;padding-right: 5px;')
      1 machine
      =image_tag( 'marker-z-2-noShadow.png', :alt => '2 machines example',:style => 'height: 20px;padding: 0 5px 0 10px;')
      2-9
      =image_tag( 'marker-z-10-noShadow.png', :alt => '10 machines example',:style => 'height: 20px;padding: 0 5px 0 10px;')
      10+

  %button#top_button{onclick: "topFunction()", title: "Go to top"} Top

  #lookup.map_lookup
    - if (current_page?(map_path) && @map_no_params)
      #intro_container
        = render :partial => 'pages/intro'
    %div#map_activity_container
    #locations

- if (current_page?(map_path) && @map_no_params)
  :javascript
    center_lat = #{@nearby_lat};
    center_lon = #{@nearby_lon};
    map_init = 1;
    map_init_zoom = #{@map_init_zoom};
    homeMapBounds(center_lat, center_lon, map_init, map_init_zoom);

:javascript
  center_lat = #{@nearby_lat};
  center_lon = #{@nearby_lon};
  const inputField = document.getElementById("address");
  const clearButton2 = document.getElementById("clearButton2");

  function inputDisplayToggle(event) {
    let clearButton = document.getElementById(this.getAttribute("clear_id"));
    if (event.target.value.length > 0) {
      clearButton.style.display = "block";
    } else {
      clearButton.style.display = "none";
    }
  }
  inputField.addEventListener("input", inputDisplayToggle);

  function clearSearch(event) {
    document.getElementById('address').value = "";
    document.getElementById('by_city_name').value = "";
    document.getElementById('by_state_name').value = "";
    document.getElementById('by_city_no_state').value = "";
    document.getElementById('by_location_id').value = "";
    event.target.style.display = "none";
  }

  clearButton2.addEventListener("click", clearSearch);
  var savedLocations = "";

  // Tracks machine_group_id for each selected machine, so we know when a
  // single selection belongs to a group (and the exact-version toggle applies).
  var machineGroups = #{raw @selected_machines.to_h { |m| [m.id.to_s, m.machine_group_id] }.to_json};
  var machineIcEligible = #{raw @selected_machines.to_h { |m| [m.id.to_s, m.ic_eligible] }.to_json};
  var emModeActive = false;
  var icActiveMode = false;
  var singleVersionActive = false;
  var icVersionActive = false;

  (function() {
    var vh = window.visualViewport ? window.visualViewport.height : window.innerHeight;
    document.documentElement.style.setProperty('--modal-max-height', (vh - 95) + 'px');
  })();

  function setSingleVersion(active) {
    singleVersionActive = active;
    $('#selected_version_toggle').toggleClass('active', active);
    $('#all_version_toggle').toggleClass('active', !active);
  }

  function setIcVersion(active) {
    icVersionActive = active;
    $('#has_ic_version_toggle').toggleClass('active', active);
    $('#no_ic_version_toggle').toggleClass('active', !active);
  }

  function setNMachines(val) {
    $('#by_at_least_n_machines').val(val);
    $('.n_machines_btn').removeClass('active');
    $('#' + (val === '' ? 'n_machines_all' : 'n_machines_' + val)).addClass('active');
    updateClearFiltersButton();
  }

  function machineSelectIds() {
    return $('#by_machine_select').val() || [];
  }

  function updateMachineSingleHide() {
    var ids = machineSelectIds();
    if (ids.length === 1 && machineGroups[ids[0]]) {
      $('#single_hide').css('display', 'flex');
    } else {
      $('#single_hide').hide();
      setSingleVersion(false);
    }
    if (ids.length === 1 && machineIcEligible[ids[0]]) {
      $('#ic_eligible_hide').css('display', 'flex');
    } else {
      $('#ic_eligible_hide').hide();
      setIcVersion(false);
    }
  }

  function filtersApplied() {
    var machineIds = machineSelectIds();
    var nMachines = $('#by_at_least_n_machines').val();
    var typeIds = $('#by_type_id').val();
    var mfr = $('#by_manufacturer').val();
    var yearGte = $('#by_machine_year_gte').val();
    var yearLte = $('#by_machine_year_lte').val();
    var operatorIds = $('#by_operator_id').val();
    return (machineIds && machineIds.length > 0) ||
           (nMachines !== null && nMachines !== '') ||
           (typeIds && typeIds.length > 0) ||
           (mfr && mfr.length > 0) ||
           emModeActive ||
           icActiveMode ||
           (yearGte && yearGte !== '') ||
           (yearLte && yearLte !== '') ||
           (operatorIds && operatorIds.length > 0);
  }

  function updateClearFiltersButton() {
    if (filtersApplied()) {
      $('#clear_filters_button').css('display', 'flex');
    } else {
      $('#clear_filters_button').css('display', 'none');
    }
  }

  function clearFiltersAndApply() {
    clearAllFilters();
    updateClearFiltersButton();
    $('#address_search_form').submit();
  }

  function setMachineType(type) {
    emModeActive = (type === 'em');
    $('#em_toggle').toggleClass('active', emModeActive);
    $('#all_toggle').toggleClass('active', !emModeActive);
    updateClearFiltersButton();
  }

  function setIcActive(active) {
    icActiveMode = active;
    $('#ic_toggle').toggleClass('active', icActiveMode);
    $('#all_ic_toggle').toggleClass('active', !icActiveMode);
    updateClearFiltersButton();
  }

  $(function () {
    $('#by_machine_select').select2({
      placeholder: 'Select machines...',
      width: '100%',
      closeOnSelect: true,
      minimumInputLength: 0,
      ajax: {
        url: '/machines/autocomplete',
        dataType: 'json',
        delay: 250,
        data: function (params) {
          var d = { term: params.term };
          if (emModeActive) d.machine_type = ['em', 'me'];
          var mfr = $('#by_manufacturer').val();
          if (mfr && mfr.length > 0) d.manufacturer = mfr;
          var yearGte = $('#by_machine_year_gte').val();
          if (yearGte) d.by_machine_year_gte = yearGte;
          var yearLte = $('#by_machine_year_lte').val();
          if (yearLte) d.by_machine_year_lte = yearLte;
          return d;
        },
        processResults: function (data) {
          return {
            results: data.map(function (m) {
              return { id: m.id, text: m.value, group_id: m.group_id, ic_eligible: m.ic_eligible };
            })
          };
        }
      }
    });

    $('#by_machine_select').on('select2:select', function (e) {
      var d = e.params.data;
      machineGroups[String(d.id)] = (d.group_id != null && d.group_id !== '') ? d.group_id : null;
      machineIcEligible[String(d.id)] = d.ic_eligible || false;
      $('#by_location_id').val('');
      updateMachineSingleHide();
      updateClearFiltersButton();
    });
    $('#by_machine_select').on('select2:unselect', function() {
      updateMachineSingleHide();
      updateClearFiltersButton();
    });

    $('.by_type_id').select2({
      placeholder: 'Select location types...',
      closeOnSelect: false,
      width: '100%'
    });

    var manufacturerData = null;
    $('#by_manufacturer').select2({
      placeholder: 'Select manufacturers...',
      closeOnSelect: false,
      width: '100%',
      ajax: {
        transport: function(params, success, failure) {
          if (manufacturerData !== null) {
            success(manufacturerData);
            return { abort: function() {} };
          }
          return $.getJSON('/machines/manufacturers')
            .done(function(data) { manufacturerData = data; success(data); })
            .fail(failure);
        },
        processResults: function(data, params) {
          var term = ((params && params.term) || '').toLowerCase();
          var filtered = term ? data.filter(function(m) { return m.text.toLowerCase().indexOf(term) !== -1; }) : data;
          return { results: filtered };
        }
      }
    });

    var operatorData = null;
    $('#by_operator_id').select2({
      placeholder: 'Select an operator...',
      width: '100%',
      ajax: {
        transport: function(params, success, failure) {
          if (operatorData !== null) {
            success(operatorData);
            return { abort: function() {} };
          }
          return $.getJSON('/operators_autocomplete')
            .done(function(data) { operatorData = data; success(data); })
            .fail(failure);
        },
        processResults: function(data, params) {
          var term = ((params && params.term) || '').toLowerCase();
          var filtered = term ? data.filter(function(o) { return o.text.toLowerCase().indexOf(term) !== -1; }) : data;
          return { results: term ? filtered : [{ id: '__clear__', text: 'N/A' }].concat(filtered) };
        }
      }
    });

    $('#by_operator_id').on('select2:select', function(e) {
      if (e.params.data.id === '__clear__') {
        $(this).find('option[value="__clear__"]').remove();
        $(this).val('').trigger('change');
      }
    });
    $('#by_type_id').on('select2:select select2:unselect change', updateClearFiltersButton);
    $('#by_manufacturer').on('select2:select select2:unselect change', updateClearFiltersButton);
    $('#by_operator_id').on('select2:select select2:unselect change', updateClearFiltersButton);
    $('#by_machine_year_gte, #by_machine_year_lte').on('change', updateClearFiltersButton);

    // Restore toggle/button state from deep-link URL params.
    updateMachineSingleHide();
    #{Array(params[:by_machine_single_id]).map(&:to_i).uniq.length == 1 && @selected_machines.size == 1 && @selected_machines.first&.machine_group_id ? "setSingleVersion(true);" : ""}
    #{(params[:by_machine_id_ic].present? || params[:by_machine_single_id_ic].present?) && @selected_machines.size == 1 && @selected_machines.first&.ic_eligible ? "setIcVersion(true);" : ""}
    #{Array(params[:by_machine_type]).include?('em') ? "emModeActive = true; $('#em_toggle').addClass('active'); $('#all_toggle').removeClass('active');" : ""}
    #{params[:by_ic_active].present? ? "icActiveMode = true; $('#ic_toggle').addClass('active'); $('#all_ic_toggle').removeClass('active');" : ""}
    #{params[:by_at_least_n_machines].present? ? "setNMachines('#{params[:by_at_least_n_machines].to_i}');" : ""}
    updateClearFiltersButton();

    $('#address').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_city_name').val('');
      $('#by_state_name').val('');
      $('#by_city_no_state').val('');
    });

    $('#address').autocomplete({
      source: function(request, response) {
        $.getJSON('/search/autocomplete', { term: request.term }, response);
      },
      minLength: 3,
      delay: 300
    }).autocomplete('instance')._renderItem = function(ul, item) {
      var $inner = $('<div>').text(item.label);
      if (item.type === 'city') {
        $inner.append($('<span class="search_type_city">').text('(City)'));
      }
      return $('<li>').append($inner).appendTo(ul);
    };
    $('#address').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      if (ui.item.type === 'city') {
        $('#address').val(ui.item.label);
        if (ui.item.state) {
          $('#by_city_name').val(ui.item.city);
          $('#by_state_name').val(ui.item.state);
        } else {
          $('#by_city_no_state').val(ui.item.city);
        }
      } else {
        $('#address').val(ui.item.name);
        $('#by_location_id').val(ui.item.id);
        $('#by_machine_select').val(null).trigger('change');
        $('#by_type_id').val(null).trigger('change');
        $('#single_hide').hide();
        setSingleVersion(false);
      }
      $('#address_search_form').submit();
    });
  });

  let mapActivityFilters = [];

  $(document).on('activity-loaded', function() {
    topFunction();
    mapActivityFilters.forEach(function(filter) {
      $('#map_activity_container .map_activity_filter[value="' + filter + '"]').prop('checked', true);
    });
  });

  $("#map_activity_container").on("click", ".apply_map_activity_filters", function() {
    mapActivityFilters = [];
    $('#map_activity_container .map_activity_filter:checked').each(function() {
      mapActivityFilters.push(this.value);
    });
    loadMapActivity();
  });

  $("#map_activity_container").on("click", "#next_link > nav > a", function(e) {
    e.preventDefault();
    let url = new URL(e.target.href);
    let page = url.searchParams.get("page") || "";

    $('#map_activity_container').html(loadingHTML());
    $.get('/user_submissions/list_within_range', {
      boundsData: getMapBoundsData(),
      page: page,
      submission_type: mapActivityFilters
    }, function(data) {
      $('#map_activity_container').html(data);
    });
  });

  function getMapBoundsData() {
    let bounds = map.getBounds();
    return {
      ne: bounds.getNorthEast(),
      sw: bounds.getSouthWest()
    };
  }

  function loadMapActivity() {
    $('#map_activity_container').html(loadingHTML());
    $.get('/user_submissions/list_within_range', {
      boundsData: getMapBoundsData(),
      submission_type: mapActivityFilters
    }, function(data, textStatus, jqxhr) {
      $('#map_activity_container').html(data);
    });
  }

  $('#map_activity_button').bind('click', function(event, ui) {
    if ($('#map_activity_container').html().trim() !== '') {
      $('#map_activity_container').html('');
    } else {
      savedLocations = $('#map_activity_container').html;
      $('#intro_container').css('display','none');
      loadMapActivity();
    }
    return false;
  });

  document.getElementById("refresh_button").addEventListener("click", function(event) {
    var by_at_least_n_machines = $('#by_at_least_n_machines').val();
    var by_type_id = $('#by_type_id').val();
    var manufacturer = $('#by_manufacturer').val();
    var by_operator_id = $('#by_operator_id').val();
    var by_machine_year_gte = $('#by_machine_year_gte').val() || undefined;
    var by_machine_year_lte = $('#by_machine_year_lte').val() || undefined;
    var by_machine_type = emModeActive ? ['em', 'me'] : undefined;
    $('#intro_container').css('display','none');

    var machineIds = machineSelectIds();
    var by_machine_id, by_machine_single_id, by_machine_id_ic, by_machine_single_id_ic;

    if (icVersionActive && machineIds.length) {
      if (machineIds.length === 1 && machineGroups[machineIds[0]] && !singleVersionActive) {
        by_machine_id_ic = machineIds;
      } else {
        by_machine_single_id_ic = machineIds;
      }
    } else if (machineIds.length === 1 && machineGroups[machineIds[0]] && !singleVersionActive) {
      by_machine_id = machineIds;
    } else if (machineIds.length) {
      by_machine_single_id = machineIds;
    }

    var mapActivityVisible = $('#map_activity_container').html().trim() !== '';

    getMapBounds({ by_at_least_n_machines, by_type_id, by_machine_id, by_machine_single_id, manufacturer, by_operator_id, by_machine_type, by_machine_id_ic, by_machine_single_id_ic, by_ic_active: icActiveMode ? '1' : undefined, by_machine_year_gte, by_machine_year_lte });
    clearSearch(event);

    if (mapActivityVisible) {
      loadMapActivity();
    }
  });

  $('#address_search_form').on('submit', function(e) {
    e.preventDefault();

    var machineIds = machineSelectIds();
    var machineParams = '';

    if (icVersionActive && machineIds.length) {
      if (machineIds.length === 1 && machineGroups[machineIds[0]] && !singleVersionActive) {
        machineParams = '&by_machine_id_ic[]=' + encodeURIComponent(machineIds[0]);
      } else {
        machineIds.forEach(function(id) {
          machineParams += '&by_machine_single_id_ic[]=' + encodeURIComponent(id);
        });
      }
    } else if (machineIds.length === 1 && machineGroups[machineIds[0]] && !singleVersionActive) {
      machineParams = '&by_machine_id[]=' + encodeURIComponent(machineIds[0]);
    } else {
      machineIds.forEach(function(id) {
        machineParams += '&by_machine_single_id[]=' + encodeURIComponent(id);
      });
    }

    if (emModeActive) {
      machineParams += '&by_machine_type[]=em&by_machine_type[]=me';
    }
    if (icActiveMode) {
      machineParams += '&by_ic_active=1';
    }

    hideFilterModal();
    mapAdjusted = 0;
    $('#map_activity_button').css('display','block');
    $('#intro_container,#map_activity').css('display','none');

    var form = $(this);
    var formAction = form.attr('action');
    var formData = form.serialize();

    // Drive the shareable pushState URL (read by _locations.html.haml).
    // Machine multiselect, EM toggle, and IC checkbox have no form names — appended manually.
    var formQuery = $("#address_search_form :input").filter(function(index, element) { return $(element).val() != ''; }).serialize();
    search_string = formQuery + machineParams;

    var hasGeoParam = $('#address').val() || $('#by_location_name').val() ||
                      $('#by_location_id').val() || $('#by_city_name').val() ||
                      $('#by_city_no_state').val();

    if (!hasGeoParam && mapLoaded === 1) {
      var capturedBoundsData = getMapBoundsData();
      var by_machine_id_val, by_machine_single_id_val, by_machine_id_ic_val, by_machine_single_id_ic_val;
      if (icVersionActive && machineIds.length) {
        if (machineIds.length === 1 && machineGroups[machineIds[0]] && !singleVersionActive) {
          by_machine_id_ic_val = machineIds;
        } else {
          by_machine_single_id_ic_val = machineIds;
        }
      } else {
        by_machine_id_val = (machineIds.length === 1 && machineGroups[machineIds[0]] && !singleVersionActive) ? machineIds : undefined;
        by_machine_single_id_val = (!by_machine_id_val && machineIds.length) ? machineIds : undefined;
      }
      lastSearchFn = function() {
        refresh_bounds = map.getBounds();
        $('#locations').html(loadingHTML());
        $.ajax({
          url: '/get_bounds',
          type: 'POST',
          data: {
            boundsData: capturedBoundsData,
            by_at_least_n_machines: $('#by_at_least_n_machines').val(),
            by_type_id: $('#by_type_id').val(),
            manufacturer: $('#by_manufacturer').val(),
            by_operator_id: $('#by_operator_id').val(),
            by_machine_type: emModeActive ? ['em', 'me'] : undefined,
            by_machine_id: by_machine_id_val,
            by_machine_single_id: by_machine_single_id_val,
            by_machine_id_ic: by_machine_id_ic_val,
            by_machine_single_id_ic: by_machine_single_id_ic_val,
            by_ic_active: icActiveMode ? '1' : undefined,
            by_machine_year_gte: $('#by_machine_year_gte').val() || undefined,
            by_machine_year_lte: $('#by_machine_year_lte').val() || undefined,
            sort: currentSort
          },
          success: function(data) {
            $('#locations').html(data);
            refresh_bounds = undefined;
          }
        });
      };
    } else {
      lastSearchFn = function() {
        $('#locations').html(loadingHTML());
        $.get(formAction, formData + machineParams + '&sort=' + currentSort, function(data, textStatus, jqxhr) {
          $('#locations').html(data);
        });
      };
    }
    lastSearchFn();

    return false;
  });
