#map_page_body
  - if mobile_device?
    %div.search_mobile
      %div.search_modal{:onclick => "showSearchModal();"}
        %button Search
      - unless current_page?(operators_path)
        #closest_button.hide_button.toggle_btn_reg{:onclick => "findClosestLocations()"} Nearby
  #form_container
    #form
      - if mobile_device?
        %div.close_button{:onclick => "hideSearchModal();"}
          X
      = form_tag map_location_data_path, :method => 'get', :id => 'address_search_form', :class => 'location_search' do
        = hidden_field_tag :by_machine_id, params[:by_machine_id]
        = hidden_field_tag :by_machine_group_id, params[:by_machine_group_id]
        = hidden_field_tag :by_machine_single_id, params[:by_machine_single_id]
        = hidden_field_tag :by_location_id
        = hidden_field_tag :by_city_name
        = hidden_field_tag :by_state_name
        = hidden_field_tag :by_city_no_state
        .map_input
          %span.input_title Machine
          = text_field_tag "by_machine_name", params["by_machine_name"], class: 'lookup_search_input', placeholder: @machine_placeholder, clear_id: 'clearButton'
          #clearButton{input_id: "by_machine_name"}
            X
          #single_hide
            %input{:type => "checkbox", :id => "singleVersion", :name => "singleVersion", :class => "m_0 single_hide"}
            %span.single_hide Exact machine version?
        .map_input
          %span.input_title Near
          = text_field_tag "address", params[:address], class: 'lookup_search_input', placeholder: @big_cities_placeholder, clear_id: 'clearButton2'
          #clearButton2{input_id: "address"}
            X
        .map_input
          %div.limit.filter
            %span.info Limit to
            = select_tag "by_at_least_n_machines", "<option></option><option value=\"2\">2+</option><option value=\"5\">5+</option><option value=\"10\">10+</option><option value=\"20\">20+</option>".html_safe
            %span.info machines.
          %div.limit.filter
            %span.info Filter by location type
            = select_tag "by_type_id", options_for_select([['All', '']]) + options_from_collection_for_select(LocationType.all, 'id', 'name', params["by_type_id"])
        .hr or
        .map_input
          %span.input_title Venue
          = text_field_tag "by_location_name", params["by_location_name"], class: 'lookup_search_input', placeholder: @location_placeholder, clear_id: 'clearButton3'
          #clearButton3{input_id: "by_location_name"}
            X
          = image_submit_tag('search_icon.png', class: 'map search', id: "location_search_button")

  #map
    #map_canvas

  - unless mobile_device?
    #closest_button.fixed.hide_button.toggle_btn_reg{:onclick => "findClosestLocations()"} Nearby locations
  #map_activity_button.fixed.hide_button.toggle_btn_reg
    Activity feed
  #refresh_button.fixed.toggle_btn_reg Refresh map area
  - unless mobile_device?
    #key_container.fixed.hide_button.toggle_btn_reg.flex_center
      =image_tag( 'marker-z-1-noShadow.png', :alt => '1 machine example',:style => 'height: 20px;padding-right: 5px;')
      1 machine
      =image_tag( 'marker-z-2-noShadow.png', :alt => '2 machines example',:style => 'height: 20px;padding: 0 5px 0 10px;')
      2-9
      =image_tag( 'marker-z-10-noShadow.png', :alt => '10 machines example',:style => 'height: 20px;padding: 0 5px 0 10px;')
      10+

  %button#top_button{onclick: "topFunction()", title: "Go to top"} Top

  #lookup.map_lookup
    - if (current_page?(map_path) && @map_no_params)
      #intro_container
        = render :partial => 'pages/intro'
    %div#map_activity_container
    #locations

- if (current_page?(map_path) && @map_no_params)
  :javascript
    center_lat = #{@nearby_lat};
    center_lon = #{@nearby_lon};
    map_init = 1;
    map_init_zoom = #{@map_init_zoom};
    homeMapBounds(center_lat, center_lon, map_init, map_init_zoom);

:javascript
  const inputField = document.getElementById("by_machine_name");
  const inputField2 = document.getElementById("address");
  const inputField3 = document.getElementById("by_location_name");
  const clearButton = document.getElementById("clearButton");
  const clearButton2 = document.getElementById("clearButton2");
  const clearButton3 = document.getElementById("clearButton3");

  function inputDisplayToggle(event) {
    let clearButton = document.getElementById(this.getAttribute("clear_id"));
    if (event.target.value.length > 0) {
      clearButton.style.display = "block";
    } else {
      clearButton.style.display = "none";
    }
  }
  inputField.addEventListener("input", inputDisplayToggle);
  inputField2.addEventListener("input", inputDisplayToggle);
  inputField3.addEventListener("input", inputDisplayToggle);

  function clearMachine(event) {
    document.getElementById('by_machine_id').value = "";
    document.getElementById('by_machine_name').value = "";
    document.getElementById('by_machine_single_id').value = "";
    document.getElementById('by_machine_group_id').value = "";
    document.getElementById('single_hide').style.display = "none";
    document.getElementById('singleVersion').checked = false;
    event.target.style.display = "none";
    stored_machine_id = "";
  }
  function clearAddress(event) {
    document.getElementById('address').value = "";
    document.getElementById('by_city_name').value = "";
    document.getElementById('by_state_name').value = "";
    document.getElementById('by_city_no_state').value = "";
    event.target.style.display = "none";
  }
  function clearLocation(event) {
    document.getElementById('by_location_id').value = "";
    document.getElementById('by_location_name').value = "";
    event.target.style.display = "none";
  }

  clearButton.addEventListener("click", clearMachine);
  clearButton2.addEventListener("click", clearAddress);
  clearButton3.addEventListener("click", clearLocation);
  var savedLocations = "";

  $(function () {
    // Initialize form state from URL parameters
    if ($('#by_machine_id').val()) {
      stored_machine_id = $('#by_machine_id').val();
    } else if ($('#by_machine_single_id').val()) {
      stored_machine_id = $('#by_machine_single_id').val();
      $('#singleVersion').prop('checked', true);
    }

    // Show exact version toggle if machine group is present
    if ($('#by_machine_group_id').val()) {
      $('#single_hide').show();
    }

    // Show clear button if machine name is present
    if ($('#by_machine_name').val()) {
      $('#clearButton').show();
    }

    $('#by_location_name').bind('input', function(event, ui) {
      event.preventDefault();
      $('#address').val('');
      $('#by_city_name').val('');
      $('#by_state_name').val('');
      $('#by_city_no_state').val('');
      $('#by_machine_id').val('');
      $('#by_machine_name').val('');
      $('#by_machine_single_id').val('');
      $('#by_machine_group_id').val('');
      $('#by_at_least_n_machines').val('');
      $('#by_type_id').val('');
      $('#single_hide').hide();
      stored_machine_id = "";
      $('#singleVersion').prop('checked', false);
    });

    $('#by_machine_name').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      if ($('#by_machine_name').val().length === 0) {
        $('#by_machine_id').val('');
        $('#by_machine_name').val('');
        $('#by_machine_single_id').val('');
        $('#by_machine_group_id').val('');
        $('#single_hide').hide();
        stored_machine_id = "";
        $('#singleVersion').prop('checked', false);
      }
    });

    $('#address').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#by_city_name').val('');
      $('#by_state_name').val('');
      $('#by_city_no_state').val('');
    });

    $('#by_location_name').autocomplete({
      source: '/locations/autocomplete',
      minLength: 3,
      delay: 500
      });
    $('#by_location_name').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_machine_id').val('');
      $('#by_machine_name').val('');
      $('#by_machine_single_id').val('');
      $('#by_machine_group_id').val('');
      $('#by_location_id').val(ui.item.id);
      $('#by_location_name').val(ui.item.value);
      $('#single_hide').hide();
      $('#singleVersion').prop('checked', false);
    });

    $('#by_machine_name').autocomplete({
      source: '/machines/autocomplete',
      minLength: 2,
      delay: 500
    });
    $('#by_machine_name').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#by_machine_id').val(ui.item.id);
      $('#by_machine_single_id').val(ui.item.id);
      $('#by_machine_name').val(ui.item.value);
      $('#by_machine_group_id').val(ui.item.group_id);
      stored_machine_id = ui.item.id;
      if ($('#by_machine_group_id').val().length != 0) {
        document.getElementById('single_hide').style.display = "flex";
      } else {
        $('#single_hide').hide();
        $('#singleVersion').prop('checked', false);
      }
    });

    $('#address').autocomplete({
      source: '/locations/autocomplete_city',
      minLength: 3,
      delay: 500
      });
    $('#address').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#address').val(ui.item.value);
      [city, state] = ui.item.value.split(", ");
      if (typeof state == 'undefined') {
        $('#by_city_no_state').val(city);
      } else {
        $('#by_city_name').val(city);
        $('#by_state_name').val(state);
      }
    });
  });

  $(document).on('activity-loaded', function() {
    topFunction();
  });

  $("#map_activity_container").on("click", "#next_link > nav > a", function(e) {
    e.preventDefault();
    let url = new URL(e.target.href);
    let page = url.searchParams.get("page") || "";

    $('#map_activity_container').html(loadingHTML());
    $.get('/user_submissions/list_within_range', {
      boundsData: getMapBoundsData(),
      page: page
    }, function(data) {
      $('#map_activity_container').html(data);
    });
  });

  function getMapBoundsData() {
    let bounds = map.getBounds();
    return {
      ne: bounds.getNorthEast(),
      sw: bounds.getSouthWest()
    };
  }

  function loadMapActivity() {
    $('#map_activity_container').html(loadingHTML());
    $.get('/user_submissions/list_within_range', { boundsData: getMapBoundsData() }, function(data, textStatus, jqxhr) {
      $('#map_activity_container').html(data);
    });
  }

  $('#map_activity_button').bind('click', function(event, ui) {
    if ($('#map_activity_container').html().trim() !== '') {
      $('#map_activity_container').html('');
    } else {
      savedLocations = $('#map_activity_container').html;
      $('#intro_container').css('display','none');
      loadMapActivity();
    }
    return false;
  });

  document.getElementById("refresh_button").addEventListener("click", function(event) {
    by_at_least_n_machines = $('#by_at_least_n_machines').val();
    by_type_id = $('#by_type_id').val();
    $('#intro_container').css('display','none');
    if ($("#singleVersion").is(':checked')) {
      by_machine_single_id = $('#by_machine_single_id').val();
      by_machine_id = undefined;
    } else {
      by_machine_id = $('#by_machine_id').val();
      by_machine_single_id = undefined;
    }

    var mapActivityVisible = $('#map_activity_container').html().trim() !== '';

    getMapBounds(by_at_least_n_machines, by_type_id, by_machine_id, by_machine_single_id);
    clearAddress(event);

    if (mapActivityVisible) {
      loadMapActivity();
    }
  });

  $('#address_search_form').on('submit', function(e) {
    if ($("#singleVersion").is(':checked')) {
      $('#by_machine_group_id').val('');
      $('#by_machine_id').val('');
      $('#by_machine_single_id').val(stored_machine_id);
    } else {
      $('#by_machine_group_id').val('');
      $('#by_machine_single_id').val('');
      $('#by_machine_id').val(stored_machine_id);
    }

    hideSearchModal();
    mapAdjusted = 0;
    $('#map_activity_button').css('display','block');
    $('#intro_container,#map_activity').css('display','none');
    e.preventDefault();
    search_string = $("#address_search_form :input").filter(function(index, element) { return $(element).val() != ''; }).serialize();

    var form = $(this);

    $('#locations').html(loadingHTML());

    $.get(form.attr('action'), form.serialize(), function(data, textStatus, jqxhr) {
      $('#locations').html(data);
    });

    return false;
  });
