#region_page_body
  - if mobile_device?
    %div.search_mobile
      %div.search_modal{:onclick => "showSearchModal();"}
        %button Search
  #form_container
    #form
      = render :partial => 'locations/form'
  - if mobile_device?
    #map
      #map_canvas
  #map_activity_button.fixed.hide_button.toggle_btn_reg
    Activity feed
  #refresh_button.fixed.toggle_btn_reg
    Refresh map area
  - unless mobile_device?
    #key_container.fixed.hide_button.toggle_btn_reg.flex_center
      =image_tag( 'marker-z-1-noShadow.png', :alt => '1 machine example',:style => 'height: 20px;padding-right: 5px;')
      1 machine
      =image_tag( 'marker-z-2-noShadow.png', :alt => '2 machines example',:style => 'height: 20px;padding: 0 5px 0 10px;')
      2-9
      =image_tag( 'marker-z-10-noShadow.png', :alt => '10 machines example',:style => 'height: 20px;padding: 0 5px 0 10px;')
      10+

  %button#top_button{onclick: "topFunction()", title: "Go to top"} Top
  #lookup
    - if (@region_no_params)
      #intro_container
        = render :partial => 'pages/intro'
        - if !@region.motd.blank?
          %p.bg_vlightpurple.radius5
            %span.red.font18.bold Message of the Day:
            = @region.html_motd
    %div#map_activity_container
    #locations
      = yield :presearch_sidebar
  - if !mobile_device?
    #map
      #map_canvas

- if (@region_no_params)
  :javascript
    regionMapLocations(#{@region.id});

:javascript
  function getMapBoundsData() {
    let bounds = map.getBounds();
    return {
      ne: bounds.getNorthEast(),
      sw: bounds.getSouthWest()
    };
  }

  function loadMapActivity() {
    $('#map_activity_container').html(loadingHTML());
    $.get('/user_submissions/list_within_range', { boundsData: getMapBoundsData() }, function(data, textStatus, jqxhr) {
      $('#map_activity_container').html(data);
    });
  }

  $('#map_activity_button').bind('click', function(event, ui) {
    if ($('#map_activity_container').html().trim() !== '') {
      $('#map_activity_container').html('');
    } else {
      savedLocations = $('#map_activity_container').html;
      $('#intro_container').css('display','none');
      loadMapActivity();
    }
    return false;
  });

  document.getElementById("refresh_button").addEventListener("click", function() {
    var mapActivityVisible = $('#map_activity_container').html().trim() !== '';

    getMapBounds();

    if (mapActivityVisible) {
      loadMapActivity();
    }
  });
