#page_body
  .column_container
    .column.bg_vlightpurple.w_450
      %p.red.font18.bold.center
        Request a Pinball Map API Token
      - if @api_token.nil? || @api_token.denied?
        %p
          Starting in 2026, all API requests must include an
          %span.bold api_token
          parameter. See the
          = link_to "blog post", "https://blog.pinballmap.com/2026/07/16/api-tokens/"
          for more details.
        %p
          By requesting a token, you are confirming that your app adheres to the
          = link_to "data use agreement", "/faq#data-usage"
          and will not clone Pinball Map's functionality (hint: if your app contains some variation of, "find places to play pinball" then it's likely unnecessary and you should point people to us instead).
        %p
          After being granted a token, it may be revoked if you do not make smart decisions. Server resources are not infinite. See the
          = link_to "docs", apipie_apipie_path
          and see the
          = link_to "llms.txt", "/llms.txt"
          file for tips. Do not make thousands of unnecessary requests.
        - if user_signed_in?
          %p
            Describe your planned use of the API below. Includes details such as which endpoints you are planning to use.
          - if @api_token&.denied?
            %p.red
              Your previous request was not approved. Feel free to submit a new one with more detail.
          #api_token_maker.pb_10
            = form_tag api_token_path, method: :post do
              %ul.pl_0
                %li.msg.h_auto
                  %label{for: "api_token_requested_use"} Planned use:
                  %textarea{name: "api_token[requested_use]", id: "api_token_requested_use", class: "text w_400", required: true}
                %li.submit{style: "clear:both;"}
                  %input{type: "submit", value: "Request API Token", class: "submit_button"}
        - else
          %p.red== To request a token you first need to #{link_to 'login', new_user_session_path, :class => "red bold"}. Thank you!
      - elsif @api_token.pending?
        %p
          Your API token request is pending review. We'll email you once it's been approved.
      - elsif @api_token.active?
        %p
          Your API token:
        %p.center
          %code= @api_token.token
        %p
          Include this as the
          %span.bold api_token
          parameter (or
          %span.bold X-Api-Token
          header) on your API requests.
        #api_token_regenerate.pb_10
          = form_tag regenerate_api_token_path, method: :post do
            %p
              If your token has been compromised, you can regenerate it. Your old token will stop working immediately.
            %input{type: "submit", value: "Regenerate Token", class: "submit_button"}
      - elsif @api_token.revoked?
        %p
          Your API token access has been revoked. Contact us if you think this is a mistake.
