#page_body
  .column_container
    .column.w_320.bg_vlightpurple.profile
      %div.font22.bold.bg_lightpurple{:style => 'padding: 25px 5px;margin: 0 -10px;text-align: center;'}
        =link_to @user.username, profile_user_path(@user.id)
      %div.render_user_flag
        = render :partial => 'users/render_user_flag', :locals => {:user => @user}
      - if @user.contributor_rank.present?
        - rank = @user.contributor_rank
        %div.red.bold.font18.flex_center
          #{rank}
          %span.ml_8
            =image_tag("rank/#{rank.gsub(' ', '')}.png", :class => "rank_icon_profile rank_icon_#{rank.gsub(' ', '')}")
      - if @user.admin_title.present?
        %div.center.font16.semiBold.flex_center
          #{@user.admin_title}
          = image_tag('icons/shield-account.svg', :class => 'user_admin profile_icon')
      - if @user.operator_id.present?
        %div.center.font16.semiBold.flex_center
          Operator: #{@user.operator.name}
          = image_tag('icons/wrench.svg', :class => 'user_operator profile_icon')
      %div.center.font16.semiBold Member since: #{@user.created_at.strftime('%b %d, %Y')}
      - if current_user && (@user.id == current_user.id)
        %div.font14{:style => 'padding: 0 10px;'}
          =link_to "Update Email / Update Password / Delete Account", edit_user_registration_path
        %div{:style => 'padding: 0 10px;'}
          = form_tag update_user_flag_user_path(:action => 'update_user_flag', id: @user.id), :id => "update_user_flag_#{@user.id}", :remote => true, :method => 'post' do
            %label{:for => "user_flag", :class => 'mb_8 font14 darkgrey block'} Select a flag to go with your username:
            =select_tag :user_flag, grouped_options_for_select(Flag.grouped_list), { include_blank: true, :class => 'user_flag_select', :id => 'user_flag'}
            = submit_tag 'Save', :class => "save_button", :id => "save_user_flag_#{@user.id}"
      - elsif !current_user
        %div.font14{:style => 'padding: 0 15px;'}
          =link_to "LOGIN to Update Email / Update Password / Delete Account", new_user_session_path
    .column.w_560.mt_5
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.user_submissions_count,:delimiter => ",")}
        %span.stats_text Total Contributions
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_machines_added,:delimiter => ",")}
        %span.stats_text Machines Added
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_machines_removed,:delimiter => ",")}
        %span.stats_text Machines Removed
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_lmx_comments_left,:delimiter => ",")}
        %span.stats_text Machine Comments
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_msx_scores_added,:delimiter => ",")}
        %span.stats_text High Scores Added
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_life_list_machines,:delimiter => ",")}
        %span.stats_text Machines in Life List
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_locations_suggested,:delimiter => ",")}
        %span.stats_text Locations Submitted
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_locations_edited,:delimiter => ",")}
        %span.stats_text Locations Edited
      - if @edited_locations.any?
        %div.darkgrey.stats.font18
          %div.ml_5.bold
            List of Locations Edited (with your last 50 updates):
          - if current_user && current_user.id == @user.id
            %div.ml_8.mb_20.font16{:style => 'margin-top: 15px;'}
              You can see all of your edits in the filtered #{link_to 'Activity Feed', activity_path(submission_type: ['your_activity']), class: 'red bold'}
          %span.stats_list
            - @edited_locations.each do |location_id, location_name|
              %span.location_edited.mb_5
                = link_to(location_name, map_path + "/?by_location_id=#{location_id}")
      - if !@user.list_fave_locations.empty?
        %div.darkgrey.stats.font18
          %div.ml_5.bold
            Saved Locations:
          %span.stats_list
            - @user.list_fave_locations.each do |fave_location|
              %span.location_edited.mb_5
                = link_to(fave_location.location.name, map_path + "/?by_location_id=#{fave_location.location.id}")
      %div.darkgrey.stats.font18#life_list_section
        %div.ml_5.bold.mb_15
          Your Machine List and High Scores:
        - if current_user && current_user.id == @user.id
          %div.ml_8.mb_20.font16 You can manage a "life list" of all the pinball machines you've ever played. Any time you add a score, that machine will be added to your list. And you can manually add machines below or when viewing a machine at a location. #{link_to 'Click here to add new high scores', add_score_path, class: 'red bold'}
          %div.machine_comments_container{style: 'width: 80%; margin: 10px auto 20px;'}
            %div.bold.font16.mb_8 Add machines to your list
            = form_tag user_machine_xrefs_path, method: :post, id: 'add_life_list_profile' do
              = select_tag 'machine_id[]', options_for_select(@all_machines), id: 'life_list_machine_select', style: 'width: 100%;', multiple: true
              %br/
              = submit_tag 'Add machine', class: 'submit_button mt_8', id: 'add_life_list_btn'
        - if @life_list_stats.any?
          %input#life_list_filter{type: 'text', placeholder: 'Filter machines...', style: 'width: 80%; margin: 0 auto 15px; display: block; padding: 6px 10px; font-size: 15px;'}
          %div.stats_list
            - @life_list_stats.each do |entry|
              %div.life_list_entry{id: "life_list_entry_#{entry[:umx_id]}"}
                %div.machine_name_container.mtb_15
                  %div.machine_name
                    #{entry[:machine_name]}
                    = " "
                    %span.machine_year_man #{entry[:machine_year_man]}
                  - if current_user && current_user.id == @user.id && entry[:count].nil?
                    = form_tag user_machine_xref_path(entry[:umx_id]), method: :delete, class: 'remove_life_list_form', data: { machine_name: entry[:machine_name] } do
                      %button.remove_machine_button{type: 'submit'}
                        = image_tag('icons/trash-can-outline.svg', alt: 'Remove Machine')
                - if entry[:list].present?
                  %div.scores_container.mlr_10.mb_20
                    %span.font18
                      %span.bold.inline Highest score:
                      #{number_with_precision(entry[:list].first, precision: 0, delimiter: ',')}
                    - if entry[:count] > 1
                      %span.pt_10.bold
                        All scores:
                      - entry[:list].each do |score|
                        %span{:style => "padding-left: 5px"}
                          #{number_with_precision(score, precision: 0, delimiter: ',')}
                      %span.pt_10
                        %span.bold.inline Average:
                        #{number_with_precision(entry[:average], precision: 0, delimiter: ',')}
                      %span.pt_10
                        %span.bold.inline Count:
                        #{number_with_precision(entry[:count], precision: 0, delimiter: ',')}
        - else
          %div.ml_8.font16 No machines or scores to list yet

:javascript
  var lifeListMachineIds = new Set(#{(@user_machine_ids || []).to_json});

  $(document).ready(function() {
    $('.user_flag_select').select2({
      placeholder: 'Select a flag',
      allowClear: true,
      templateResult: formatOptions
    });

    $('#life_list_machine_select').select2({
      placeholder: 'Search for a machine...',
      closeOnSelect: true,
      templateResult: formatMachineOption
    });

    $('#add_life_list_profile').submit(function() {
      var form = $(this);
      var selected = $('#life_list_machine_select').val();
      if (!selected || selected.length === 0) { return false; }
      $.post(form.attr('action'), form.serialize(), function() {
        $('#life_list_machine_select').val(null).trigger('change');
        location.reload();
      });
      return false;
    });

    $('#life_list_filter').on('input', function() {
      var query = $(this).val().toLowerCase();
      $('.life_list_entry').each(function() {
        var name = $(this).find('.machine_name').text().toLowerCase();
        $(this).toggle(name.includes(query));
      });
    });

    $('.remove_life_list_form').submit(function() {
      var form = $(this);
      if (confirm('Remove "' + form.data('machine-name') + '" from your Life List?')) {
        $.post(form.attr('action'), form.serialize(), function() {
          form.closest('.life_list_entry').fadeOut('slow');
        });
      }
      return false;
    });
  });
  function formatMachineOption (state) {
    if (!state.id) { return state.text; }
    if (lifeListMachineIds.has(parseInt(state.id, 10))) {
      return $('<span class="already_on_list">&#10003; ' + state.text + ' <em>(already on your list)</em></span>');
    }
    return state.text;
  }
  function formatOptions (state) {
    if (!state.id) { return state.text; }
    var $state = $(
    '<span><img style="display: inline-block; vertical-align: middle; width: 36px; height: 24px; object-fit: cover; object-position: left center;" src="/flags/' + state.element.value.toLowerCase() + '.png" /> <span style="vertical-align: middle;">' + state.text + '</span></span>'
    );
    return $state;
  }
  $('#update_user_flag_#{@user.id}').submit(function () {
    var form = $(this);
    $.post(form.attr('action'), form.serialize(), function (data) {
      $('div.render_user_flag').load('/users/#{@user.id}/render_user_flag');
    });

    return false;
  });
