#page_body
  .column_container
    .column.w_320.bg_vlightpurple.profile
      %div.font22.bold.flex_center.bg_lightpurple{:style => 'padding: 25px 5px;margin: 0 -10px;'}
        =link_to @user.username, profile_user_path(@user.id)
        %span.render_user_flag{:style => 'height: 21px;'}
          = render :partial => 'users/render_user_flag', :locals => {:user => @user}
      - if @user.contributor_rank.present?
        - rank = @user.contributor_rank
        %div.red.bold.font18.flex_center
          #{rank}
          %span.ml_8
            =image_tag("rank/#{rank.gsub(' ', '')}.png", :class => "rank_icon_profile rank_icon_#{rank.gsub(' ', '')}")
      - if @user.admin_title.present?
        %div.center.font16.semiBold.flex_center
          #{@user.admin_title}
          = image_tag('icons/shield-account.svg', :class => 'user_admin profile_icon')
      - if @user.operator_id.present?
        %div.center.font16.semiBold.flex_center
          Operator: #{@user.operator.name}
          = image_tag('icons/wrench.svg', :class => 'user_operator profile_icon')
      %div.center.font16.semiBold Member since: #{@user.created_at.strftime('%b %d, %Y')}
      - if current_user && (@user.id == current_user.id)
        %div.font14{:style => 'padding: 0 10px;'}
          =link_to "Update Email / Update Password / Delete Account", edit_user_registration_path
        %div{:style => 'padding: 0 10px;'}
          = form_tag update_user_flag_user_path(:action => 'update_user_flag', id: @user.id), :id => "update_user_flag_#{@user.id}", :remote => true, :method => 'post' do
            %label{:for => "user_flag", :class => 'mb_8 font14 darkgrey block'} Select a flag to go with your username:
            =select_tag :user_flag, grouped_options_for_select(Flag.grouped_list), { include_blank: true, :class => 'user_flag_select', :id => 'user_flag'}
            = submit_tag 'Save', :class => "save_button", :id => "save_user_flag_#{@user.id}"
      - elsif !current_user
        %div.font14{:style => 'padding: 0 15px;'}
          =link_to "LOGIN to Update Email / Update Password / Delete Account", new_user_session_path
    .column.w_560.mt_5
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.user_submissions_count,:delimiter => ",")}
        %span.stats_text Total Contributions
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_machines_added,:delimiter => ",")}
        %span.stats_text Machines Added
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_machines_removed,:delimiter => ",")}
        %span.stats_text Machines Removed
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_lmx_comments_left,:delimiter => ",")}
        %span.stats_text Machine Comments
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_msx_scores_added,:delimiter => ",")}
        %span.stats_text High Scores Added
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_locations_suggested,:delimiter => ",")}
        %span.stats_text Locations Submitted
      %div.darkgrey.stats.font18
        %div.stat_num_o.bold
          %span.stats
            #{number_with_delimiter(@user.num_locations_edited,:delimiter => ",")}
        %span.stats_text Locations Edited
      - if @edited_locations.any?
        %div.darkgrey.stats.font18
          %div.ml_5.bold
            List of Locations Edited (with your last 50 updates):
          %span.stats_list
            - @edited_locations.each do |location_id, location_name|
              %span.location_edited.mb_5
                = link_to(location_name, map_path + "/?by_location_id=#{location_id}")

      - if @machine_scores_stats.any?
        %div.darkgrey.stats.font18
          %div.ml_5.bold
            Your High Scores:
          %span.stats_list
            - @machine_scores_stats.each do |ms|
              %div.bold.font22.mt_10.mb_8.underline
                #{ms[:machine_name]}
              %div.ml_8.mb_20
                %span.font18
                  - if ms[:count] > 1
                    %span.bold.inline Highest:
                  #{number_with_precision(ms[:list].first, precision: 0, delimiter: ',')}
                - if ms[:count] > 1
                  %span.pt_10.bold
                    All scores:
                  - ms[:list].each do |score|
                    %span{:style => "padding-left: 5px"}
                      #{number_with_precision(score, precision: 0, delimiter: ',')}
                  %span.pt_10
                    %span.bold.inline Average:
                    #{number_with_precision(ms[:average], precision: 0, delimiter: ',')}
                  %span.pt_10
                    %span.bold.inline Count:
                    #{number_with_precision(ms[:count], precision: 0, delimiter: ',')}

      - if !@user.list_fave_locations.empty?
        %div.darkgrey.stats.font18
          %div.ml_5.bold
            Saved Locations:
          %span.stats_list
            - @user.list_fave_locations.each do |fave_location|
              %span.location_edited.mb_5
                = link_to(fave_location.location.name, map_path + "/?by_location_id=#{fave_location.location.id}")

:javascript
  $(document).ready(function() {
    $('.user_flag_select').select2({
      placeholder: 'Select a flag',
      allowClear: true,
      templateResult: formatOptions
    });
  });
  function formatOptions (state) {
    if (!state.id) { return state.text; }
    var $state = $(
    '<span><img style="display: inline-block; vertical-align: middle;" src="/flags/' + state.element.value.toLowerCase() + '.png" /> <span style="vertical-align: middle;">' + state.text + '</span></span>'
    );
    return $state;
  }
  $('#update_user_flag_#{@user.id}').submit(function () {
    var form = $(this);
    $.post(form.attr('action'), form.serialize(), function (data) {
      $('span.render_user_flag').load('/users/#{@user.id}/render_user_flag');
    });

    return false;
  });
