<div class="column_container">
	<div id="login" class="w_320 mt_10">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			<%= render "devise/shared/error_messages", resource: resource %>

			<div class="form-inputs">
				<%= f.label :login %><br />
				<%= f.text_field :login, :required => true, autofocus: true %>
			</div>

			<div class="form-inputs mt_10">
				<p class="red bold">Security Question (required):</p>
				<%= label_tag :security_question, "What are we mapping on this site?" %><br />
				<%= text_field_tag :security_question, nil, autocomplete: "off" %>
			</div>

			<div class="form-actions reset-password">
				<%= f.submit "Submit", class: "button" %>
			</div>
			<br />
		<% end %>

		<div style="margin-top: 10px;">If you don't receive the email, whitelist admin@pinballmap.com and try again, and <span class="bold brightpurple">check your spam folder</span>.</div>

		<%= render "devise/shared/links" %>
	</div>
</div>
