- @recent_activity.each do |activity|
  %div.activity_container
    %div.activity_icon
      =image_tag("icons/#{activity.submission_type}.svg", :alt => "#{activity.submission_type}", :class => '')
    %div.activity_date.font14.bold #{activity.created_at.strftime("%b %d, %Y")}
    %div.activity_submission.font14
      - if (activity.submission_type == 'new_condition')
        - if (activity.machine_name.blank?)
          #{activity.submission}
        - else
          %span.inline_block.mb_8 "#{activity.comment}"
          %br/
          %span.bold.red #{activity.machine_name}
          %div.mt_5
      - if (activity.submission_type == 'new_msx' && (activity.high_score.present? || activity.submission.present?))
        - if (activity.high_score.blank?)
          #{activity.submission}
        - else
          %span.bold #{number_with_precision(activity.high_score, precision: 0, delimiter: ',')}
          %br/
          %span.bold.red.mt_8.inline_block #{activity.machine_name}
          %div.mt_5
      - if (activity.submission_type == 'new_lmx' || activity.submission_type == 'remove_machine')
        %span.bold.red #{activity.machine_name}
        - if (activity.submission_type == 'new_lmx')
          added#{show_location_link ? " to" : ""}
        - if (activity.submission_type == 'remove_machine')
          removed#{show_location_link ? " from" : ""}
      - if (activity.submission_type == 'confirm_location')
        Line-up confirmed#{show_location_link ? " at" : ""}
      - if (activity.submission_type == 'add_location')
        New location added#{show_location_link ? ":" : ""}
      - if show_location_link
        %span.bold
          - if (activity.location.blank?)
            #{activity.location_name}
          - else
            =link_to "#{activity.location_name}", "/#{@region.present? && page_activity ? @region.name : 'map'}?by_location_id=#{activity.location_id}"
        - if (activity.city_name.present?)
          in #{activity.city_name}
      - if (!activity.user_name.blank?)
        by
        %span.bold #{activity.user_name}
        = render partial: 'shared/activity_icons', :locals => {:activity => activity}
  .activity_hr

- if page_activity
  #next_link{:style => 'margin: 20px 10px'}
    != @pagy.series_nav()

  :javascript
    $("#next_link > nav > a").on("click", function(e) {
      e.preventDefault()

      let url = new URL(e.target.href)
      let pagenum = ""
      if (url.searchParams.has("page")) {
        pagenum = `?page=${url.searchParams.get("page")}`
      }

      document.getElementById("activity_filter").scrollIntoView({ "behavior": "smooth" })

      refreshActivityList(url, pagenum)
    });
