.text_col
  %p.yellow Portland has a thriving pinball community. As you can see from the map, there are machines everywhere. If you're interested, here are some additional resources to check out.
  %br/
  %p.subpage_text
    = image_tag 'portland/cff_logo.png', :class => 'pic', :alt => 'CFF logo', :align => 'right'
    %p 
      = link_to 'http://crazyflipperfingers.com/talk/index.php', 'The Crazy Flipper Fingers (message board)', :class => 'light_blue'
      %span The principal location for discussing matters of pinball in Portland. Everyone is welcome! Talk strategy, machines, scores, keep up to date on the latest local 
      tournaments. Sign up and type!
  %br/
  %br/
  %p.subpage_text
    = link_to 'http://games.groups.yahoo.com/group/portlandpinball/', 'The Portland Pinball League', :class => 'light_blue'
    %span - Casual competitive play each Wednesday. No obligation necessary! Join the Yahoo Group, check the calendar, stay up to date with weekly reminder emails.</p> 
  = image_tag 'portland/gk.gif', :class => 'pic', :alt => 'Ground Kontrol logo'
  %br/
  = link_to 'http://www.groundkontrol.com', 'Ground Kontrol', :class => 'light_blue'
  %span - A sweet place to play a lot of pinball.
  = link_to 'http://pdxpinball.com/', 'Ricochet Pinball', :class => 'light_blue'
  %span - Local operator's website!
  %br/
  = link_to 'http://pnwpinball.com/', 'Pacific Northwest Pinball', :class => 'light_blue'
  %br/
  = link_to 'http://ipdb.org/', 'The Internet Pinball Machine Database', :class => 'light_blue'
  %br/
  = link_to 'http://groups.google.com/group/rec.games.pinball/topics', 'Rec.Games.Pinball', :class => 'light_blue'
.right_column
  %br/
  %br/
  = image_tag 'portland/playing.jpg', :alt => 'play', :class => 'photo_image'
