.text_column{:style => 'width:440px;padding:10px;'}
  %p.yellow Portland has a thriving pinball community. As you can see from the map, there are machines everywhere. If you're interested, here are some additional resources to check out.
  %p.subpage_text
    = link_to 'Rose City Pinball', 'http://rosecitypinball.com', :class => 'light_blue', :target => '_blank'
    %br/
    Portland is renowned for its frequent, well-run, and inventive pinball tournaments. Rose City Pinball is the hub for local tournaments. Check out the calendar, pictures, tournament recaps, videos, rankings, and live scores!
  %p.subpage_text 
    = link_to 'The Crazy Flipper Fingers', 'http://crazyflipperfingers.com/', :class => 'light_blue', :target => '_blank'
    %br/
    It's the pinball gang you love to hate! Check out their funky blog and the popular message board. Issue them a challenge!
  %p.subpage_text
    = link_to 'The Portland Pinball League', 'http://games.groups.yahoo.com/group/portlandpinball/', :class => 'light_blue', :target => '_blank'
    %br/
    Casual competitive play each Wednesday. No obligation necessary! Join the Yahoo Group, check the calendar, stay up to date with weekly reminder emails. 
  %br/
  = link_to 'Ground Kontrol', 'http://www.groundkontrol.com', :class => 'light_blue', :target => '_blank'
  %span.subpage_text - A sweet place to play a lot of pinball.
  %br/
  = link_to 'Ricochet Pinball', 'http://pdxpinball.com/', :class => 'light_blue', :target => '_blank'
  %span.subpage_text - Local operator's website!
  %br/
  = link_to 'Pacific Northwest Pinball', 'http://pnwpinball.com/', :class => 'light_blue', :target => '_blank'
  %br/
  = link_to 'The Internet Pinball Machine Database', 'http://ipdb.org/', :class => 'light_blue', :target => '_blank'
  %br/
  = link_to 'Rec.Games.Pinball', 'http://groups.google.com/group/rec.games.pinball/topics', :class => 'light_blue', :target => '_blank'
  %br/
  = link_to 'The Pinball Archive (rad videos)', 'http://pinball.org/videos/', :class => 'light_blue', :target => '_blank'
.right_column{:style => 'text-align:center;'}
  %p
    = link_to image_tag('portland/rcp_logo.png'), 'http://rosecitypinball.com', :class => 'pic', :alt => 'Rose City Pinball logo', :target => '_blank'
  %p
    = link_to image_tag('portland/cff_logo.png'), 'http://crazyflipperfingers.com/', :class => 'pic', :alt => 'CFF logo', :target => '_blank'
  %p
    = link_to image_tag('portland/gk.gif'), 'http://www.groundkontrol.com', :class => 'pic', :alt => 'Ground Kontrol logo', :target => '_blank'
  