- if !mobile_device?
  #header{:class => "#{@region ? '' : 'header_home'}"}
    =link_to image_tag('pinballmapcom_nodot.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path
    - if (@region)
      %div{:class => "header_buttons"}
        %span.menu_link
          %ul#nav
            %li.first_header_link=link_to 'Suggest Location', suggest_path
            %li=link_to 'About', about_path
            %li=link_to 'Events', events_path
            %li=link_to 'High Scores', high_rollers_path
            %li=link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
            %li=link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
            %li=link_to 'Event RSS', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
            %li.first_global_link
              =link_to 'Home', root_path
            %li=link_to 'User Profile', (Authorization.current_user && !Authorization.current_user.is_a?(Authorization::AnonymousUser)) ? profile_user_path(Authorization.current_user.id) : encourage_profile_path
            %li=link_to 'Blog', 'http://blog.pinballmap.com'
            %li=link_to 'T-Shirts', store_path
            %li=link_to 'App', apps_path
            %li=link_to 'FAQ', faq_path
            %li=link_to 'Contact', 'http://pinballmap.com/portland/about'
            %li.last_header_link
              =link_to 'Donate', donate_path
        %div.login.login_region
          %span.darkb
            - if !user_signed_in?
              = link_to 'Log In', "http://#{request.host_with_port}/users/sign_in"
              %span.login_slash
                |
              = link_to 'Sign Up', "http://#{request.host_with_port}/users/sign_up"
            - else
              = link_to 'Log Out', "http://#{request.host_with_port}/users/sign_out", :class => "loggedin"
        %span.darkb.closest_locations{:onclick => "findClosestLocations('#{@region.name}')"}
          = link_to 'Show Closest Locations', '#', {:id => 'find_closest_locations'}
        %div.region_logo_dropdown
          %div.other_regions
            %span.region_name_page
              =link_to "#{@region.full_name}", region_homepage_path
          - if !mobile_device?
            %ul.other_regions_list= other_regions_html(@region)
    - else
      %div{:class => "header_buttons"}
        %span.menu_link.menu_home
          %ul#nav
            %li.first_header_link
              =link_to 'User Profile', (Authorization.current_user && !Authorization.current_user.is_a?(Authorization::AnonymousUser)) ? profile_user_path(Authorization.current_user.id) : encourage_profile_path
            %li=link_to 'Blog', 'http://blog.pinballmap.com'
            %li=link_to 'T-Shirts', store_path
            %li=link_to 'App', apps_path
            %li=link_to 'FAQ', faq_path
            %li=link_to 'Contact', 'http://pinballmap.com/portland/about'
            %li.last_header_link
              =link_to 'Donate', donate_path
        %div.login.login_home
          %span.darkb
            - if !user_signed_in?
              = link_to 'Log In', "http://#{request.host_with_port}/users/sign_in"
              %span.login_slash
                |
              = link_to 'Sign Up', "http://#{request.host_with_port}/users/sign_up"
            - else
              = link_to 'Log Out', "http://#{request.host_with_port}/users/sign_out", :class => "loggedin"
        %span.darkb.geo_header{:onclick => "findClosestRegion()"}
          = link_to 'Find Your Closest Map', '#'
- else
  #header{:class => "#{@region ? '' : 'header_home'}"}
    - if !(@region)
      =link_to image_tag('pinballmapcom_nodot.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path
      %span.menu_link
        %div.login.login_home
          %span.darkb
            - if !user_signed_in?
              = link_to 'Log In', "http://#{request.host_with_port}/users/sign_in"
              %span.login_slash
                |
              = link_to 'Sign Up', "http://#{request.host_with_port}/users/sign_up"
            - else
              = link_to 'Log Out', "http://#{request.host_with_port}/users/sign_out"
        %div.geo_header_wrapper
          %span.darkb{:onclick => "findClosestRegion()"}
            = link_to 'Find Your Closest Map', '#'
        %ul#nav
          %li.first_header_link
            =link_to 'User Profile', (Authorization.current_user && !Authorization.current_user.is_a?(Authorization::AnonymousUser)) ? profile_user_path(Authorization.current_user.id) : encourage_profile_path
          %li=link_to 'Blog', 'http://blog.pinballmap.com'
          %li=link_to 'T-Shirts', store_path
          %li=link_to 'App', apps_path
          %li=link_to 'FAQ', faq_path
          %li=link_to 'Contact', 'http://pinballmap.com/portland/about'
          %li.last_header_link
            =link_to 'Donate', donate_path
    - else
      %span.menu_link
        %div.login.login_region
          %span.darkb
            = link_to 'User Profile', (Authorization.current_user && !Authorization.current_user.is_a?(Authorization::AnonymousUser)) ? profile_user_path(Authorization.current_user.id) : encourage_profile_path
            - if !user_signed_in?
              = link_to 'Log In', "http://#{request.host_with_port}/users/sign_in"
              %span.login_slash
                |
              = link_to 'Sign Up', "http://#{request.host_with_port}/users/sign_up"
            - else
              = link_to 'Log Out', "http://#{request.host_with_port}/users/sign_out"
        - if user_signed_in?
          =link_to image_tag('pinballmapcom_nodot.png', :class => "#{@region ? 'header_image' : 'header_image_home'} header_image_login", :alt => 'Pinball Map Logo'), root_path
        - else
          =link_to image_tag('pinballmapcom_nodot.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path
        %ul#nav
          %li.first_header_link=link_to 'Suggest Location', suggest_path
          %li=link_to 'About', about_path
          %li=link_to 'Events', events_path
          %li=link_to 'High Scores', high_rollers_path
          %li=link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
          %li=link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
          %li=link_to 'Event RSS', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
          %li.first_global_link
            =link_to 'Home', root_path
          %li=link_to 'Blog', 'http://blog.pinballmap.com'
          %li=link_to 'T-Shirts', store_path
          %li=link_to 'App', apps_path
          %li=link_to 'FAQ', faq_path
          %li=link_to 'Contact', 'http://pinballmap.com/portland/about'
          %li.last_header_link
            =link_to 'Donate', donate_path
  - if (@region)
    #header_lower
      %span.darkb.closest_locations{:style => "float:right;", :onclick => "findClosestLocations('#{@region.name}')"}
        = link_to 'Show Closest Locations', '#', {:id => 'find_closest_locations'}
      %div.region_logo_dropdown
        %div.other_regions
          %span.region_name_page
            =link_to "#{@region.full_name}", region_homepage_path

- if !mobile_device?
  :javascript
    $().ready(function() {

      $(".region_logo_dropdown").hover(function () {
          $(".other_regions_list").show();
        },function(){
          $(".other_regions_list").hide();
      });
      $(document).click(function () {
          $(".other_regions_list").hide();
      });
      $("#nav").addClass("js").before('<div id="menu">&#9776;</div>');

    });

- else
  :javascript
    $("#nav").addClass("js").before('<div id="menu">&#9776;</div>');
    $(document).on('click', function(event) {
      if (!$(event.target).closest('#menu').length) {
        $("#nav").css('display', 'none');
      }
    });

    $("#menu").click(function(){
          $("#nav").toggle();
    });
