#header
  - if (@region)
    =image_tag "region_names/#{params[:region]}-diag.png", :class => "region_logo"
  =link_to image_tag('pinballmapcom.jpg', :class => "#{@region ? 'header_image' : 'header_image_home'}"), @region ? region_homepage_path : root_path
  - if (@region)
    %ul
      %li=link_to 'About Pinball Map', about_path
      %li=link_to 'Enter A New Location', suggest_new_location_path
      %li=link_to 'Contact Us', contact_path
      %li=link_to 'Apps', apps_path
      %li=link_to 'Links', links_path
    %ul
      %li
        %span.other_regions.other_regions_arrow Other Regions
        %ul
          #other_regions= other_regions_html(@region)
      %li=link_to 'Events', events_path
      %li
        =link_to 'Location Feed', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
      %li
        =link_to 'Score Feed', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
      %li=link_to 'High Rollers', high_rollers_path

:javascript
  $().ready(function() {
    $("#other_regions_menu li ul").hide();

    $("#other_regions_menu li").hover(
          function () {
      $(this).children("ul").show();
          },function(){
      $(this).children("ul").hide();
    });
  });
