- if !mobile_device?
  #header{:class => "#{@region ? '' : (defined? @region) and current_page?(region_homepage_path) ? 'header_fixed' : ''} #{current_page?(regionless_path) ? 'header_fixed' : '' } #{current_page?(saved_path) ? 'header_fixed' : '' }"}
    - if current_page?(regionless_path)
      =link_to 'BETA', regionless_path, :class => 'beta'
    =link_to image_tag('pinballmap-logo.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path, :class => "logo_link"
    %div{:class => "header_buttons_container"}
      %div.menu_link
        #menu &#9776;
        %ul#nav.js
          = render :partial => 'pages/menu'
      .header_buttons_child.header_menu_02{:class => "#{@region ? 'header_menu_region' : ''}"}
        - if !user_signed_in?
          = link_to 'Login', new_user_session_path
          %span.login_slash
            |
          = link_to 'Join', new_user_registration_path
        - else
          = link_to 'Logout', destroy_user_session_path, method: :delete
          - if (current_user && !current_user.region_id.blank?)
            %span.login_slash
              |
            = link_to 'Admin', rails_admin_path
      - if !current_page?(regionless_path)
        .header_buttons_child
          = link_to 'Try the BIG map!', regionless_path
      - if !(@region)
        .header_buttons_child
          =link_to 'Add Location', regionless_location_suggest_path, :class => "bold"
      - else
        .header_buttons_child.header_menu_01
          =link_to 'Add Location', suggest_path, :class => "bold"
      - if (current_user)
        .header_buttons_child.header_menu_03
          =link_to 'Saved Locations', saved_path, :class => "bold"
      - if (@region || current_page?(regionless_path))     
        .header_buttons_child{:class => "#{@region ? 'header_menu_04' : ''}"}
          %span.bold{:onclick => "findClosestLocations('#{@region ? @region.name : 'regionless'}')"}
            = link_to 'Closest Locations', '#', {:id => 'find_closest_locations'}
        - if (@region)
          %div.region_logo_dropdown.header_buttons_child
            %span.region_name_page
              =link_to "#{@region.full_name}", region_homepage_path
            - if !mobile_device?
              %ul.other_regions_list= other_regions_html(@region)
      - else
        .header_buttons_child.header_menu_05.w_95
          %span{:onclick => "findClosestRegion()"}
            = link_to 'Find Your Closest Map', '#'
- else
  #header{:class => "#{@region ? '' : 'header_home'}"}
    #menu &#9776;
    - if current_page?(regionless_path)
      =link_to 'BETA', regionless_path, :class => 'beta'
    #header_image
      =link_to image_tag('pinballmap-logo.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path, :class => 'logo_link'
    - if user_signed_in?
      =link_to image_tag('user.png', :alt => 'profile icon'), profile_user_path(current_user.id), :class => 'user_icon_link'
    - else
      =link_to image_tag('user.png', :alt => 'login icon'), new_user_session_path, :class => 'user_icon_link'
    %div.menu_link
      %ul#nav.js
        - if !user_signed_in?
          %span.login_list
            %li.login_list= link_to 'Login', new_user_session_path
            %span.login_slash
              |
            %li.login_list= link_to 'Join', new_user_registration_path
        - else
          %span.login_list
            %li.login_list= link_to 'Logout', destroy_user_session_path, method: :delete
            - if (current_user && !current_user.region_id.blank?)
              %span.login_slash
                |
              %li.login_list= link_to 'Admin', rails_admin_path
        = render :partial => 'pages/menu'
  #header_lower.header_buttons_container
    - if !current_page?(regionless_path)
      .header_buttons_child= link_to 'Try the BIG map!', regionless_path
    - if !(@region)
      .header_buttons_child=link_to 'Add Location', regionless_location_suggest_path, :class => "bold"
    - else
      .header_buttons_child=link_to 'Add Location', suggest_path, :class => "bold"
    - if (current_user)
      .header_buttons_child
        =link_to 'Saved Locations', saved_path, :class => "bold"
    - if (@region || current_page?(regionless_path))
      %span.header_buttons_child{:onclick => "findClosestLocations('#{@region ? @region.name : 'regionless'}')"}
        = link_to 'Closest Locations', '#', {:id => 'find_closest_locations'}
    - else
      .header_buttons_child
        %span{:onclick => "findClosestRegion()"}
          = link_to 'Find Your Closest Map', '#'
  - if (@region)
    .region_name_page
      =link_to "#{@region.full_name}", region_homepage_path

:javascript
  $().ready(function() {
    $(".region_logo_dropdown").hover(function() {
        $(".other_regions_list").show();
      },function(){
        $(".other_regions_list").hide();
    });
    $(document).click(function () {
        $(".other_regions_list").hide();
    });
    $("#menu").click(function() {
      $("#nav").toggle();
    });
    $(document).on('click', function(event) {
      if (!$(event.target).closest('#menu').length) {
        $("#nav").css('display', 'none');
      }
    });
  });
