#header{:class => "#{@region ? '' : 'header_home'}"}
  =link_to image_tag('pinballmapcom.jpg', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path
  - if (@region)
    %div{:class => "header_buttons"}
      %span.darkb.closest_locations{:style => "float:right;", :onclick => "findClosestLocations('#{@region.name}')"}
        = link_to 'Show Closest Locations', '#', {:id => 'find_closest_locations'}
      %div.region_logo_dropdown
        %div.other_regions
          %span.region_name_page
            =link_to "#{@region.full_name}", region_homepage_path
        - if !mobile_device?
          %ul.other_regions_list= other_regions_html(@region) 
  - else  
    %div{:class => "pick_a_map"}
      %span.darkb.blog_header
        = link_to 'Blog', 'http://blog.pinballmap.com'
      %span.darkb.apps_header
        = link_to 'App', apps_path
      %span.darkb.store_header
        = link_to 'T-Shirts', store_path
      %span.darkb.geo_header{:onclick => "findClosestRegion()"}
        = link_to 'Find Your Closest Map', '#'
  - if (@region)
    %ul.region_links
      %span{:onclick => ""}
        menu
      %li.first_header_link=link_to 'About', about_path
      %li=link_to 'Suggest Location', suggest_path
      %li=link_to 'App', apps_path
      %li=link_to 'Events', events_path
      - if !mobile_device?
        %li.other_links
          =link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
          %ul.other_links_dropdown
            %li.other_links_list
              =link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
            %li.other_links_list
              =link_to 'Event RSS', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
      - else
        %li.other_links
          =link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
        %li.other_links
          =link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
        %li.other_links
          =link_to 'Event RSS', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
      %li=link_to 'High Scores', high_rollers_path
      %li.darkb.blog_header.blog_header_region
        = link_to 'Blog', 'http://blog.pinballmap.com'
      %li.darkb.store_header.store_header_region
        = link_to 'T-Shirts', store_path

:javascript
  $().ready(function() {

    $(".region_logo_dropdown").hover(function () {
        $(".other_regions_list").show();
      },function(){
        $(".other_regions_list").hide();
    });
    $(document).click(function () {
        $(".other_regions_list").hide();
    });
  });

