- if !mobile_device?
  #header{:class => "#{@region ? '' : (defined? @region) and current_page?(region_homepage_path) ? 'header_fixed' : ''} #{current_page?(map_path) ? 'header_fixed' : '' } #{current_page?(saved_path) ? 'header_fixed' : '' }"}
    =link_to image_tag('pinballmap-logo-base4.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path, :class => "logo_link"
    %div.header_buttons_container
      %div#menu_button
        %input{:type => "checkbox", :id => "menu", :autocomplete => "off"}
          %label{:for => "menu"}
            %span
        %div#menu_container
          = render :partial => 'pages/menu'
      .header_buttons_child.header_menu_02{:class => "#{@region ? 'header_menu_region' : ''}"}
        - if !user_signed_in?
          = link_to 'Login', new_user_session_path
          %span.login_slash
            |
          = link_to 'Join', new_user_registration_path
        - else
          = link_to 'Logout', destroy_user_session_path, method: :delete
          - if (current_user && !current_user.region_id.blank?)
            %span.login_slash
              |
            = link_to 'Admin', rails_admin_path
      - if !current_page?(map_path)
        .header_buttons_child
          = link_to 'Map!', map_path
      - if !(@region)
        .header_buttons_child
          =link_to 'Add Location', map_location_suggest_path, :class => "bold"
      - else
        .header_buttons_child.header_menu_01
          =link_to 'Add Location', suggest_path, :class => "bold"
      - if (current_user)
        .header_buttons_child.header_menu_03.flex_center
          =image_tag( 'icons/heart-filled.svg', :alt => 'heart icon', :class => 'fave_icon')
          =link_to 'Saved Locations', saved_path, :class => "bold"
      - if (@region)
        %div.region_logo.header_buttons_child
          %span.region_name_page
            =link_to "#{@region.full_name}", region_homepage_path
- else
  #header{:class => "#{@region ? '' : 'header_home'}"}
    %div#menu_button
      %input{:type => "checkbox", :id => "menu", :autocomplete => "off"}
        %label{:for => "menu"}
          %span
        %div#menu_container
          = render :partial => 'pages/menu'
    #header_image
      =link_to image_tag('pinballmap-logo-base4.png', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path, :class => 'logo_link'
    #header_app
      =link_to 'use app', app_path
  - if (@region)
    .region_name_page
      =link_to "#{@region.full_name}", region_homepage_path
