#header{:class => "#{@region ? '' : 'header_home'}"}
  =link_to image_tag('pinballmapcom.jpg', :class => "#{@region ? 'header_image' : 'header_image_home'}", :alt => 'Pinball Map Logo'), root_path
  - if (@region)
    %span.darkb.blog_header.blog_header_region
      = link_to 'Blog', 'http://blog.pinballmap.com'
    %span.darkb.store_header.store_header_region
      = link_to 'T-Shirts', store_path
    %div.region_logo_dropdown
      %div.other_regions
        %span.region_name_page
          =link_to "#{@region.full_name}", region_homepage_path
      - if !mobile_device?
        %ul.other_regions_list= other_regions_html(@region) 
  - else  
    %div{:class => "pick_a_map"}
      %span.darkb.blog_header
        = link_to 'Blog', 'http://blog.pinballmap.com'
      %span.darkb.apps_header
        = link_to 'Apps', apps_path
      %span.darkb.store_header
        = link_to 'T-Shirts', store_path
  - if (@region)
    %ul.region_links
      %li.first_header_link=link_to 'About', about_path
      %li=link_to 'Suggest A New Location', suggest_path
      %li=link_to 'Apps', apps_path
      %li=link_to 'Events', events_path
      %li.other_links
        =link_to 'Location Feed', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
        %ul.other_links_dropdown
          %li.other_links_list
            =link_to 'Score Feed', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
          %li.other_links_list
            =link_to 'Event Feed', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
      %li=link_to 'High Scores', high_rollers_path

:javascript
  $().ready(function() {

    $(".region_logo_dropdown").hover(function () {
        $(".other_regions_list").show();
      },function(){
        $(".other_regions_list").hide();
    });
    $(".other_links").hover(function () {
        $(".other_links_dropdown").show();
      },function(){
        $(".other_links_dropdown").hide();
    });
    $(document).click(function () {
        $(".other_regions_list,.other_links_dropdown").hide();
    });
  });
