= yield :intro_extra
#intro
  %p.darkb News!
  %p 
    We completely redesigned the app! Read our 
    = link_to "release notes", "http://blog.pinballmap.com/2019/06/18/pinball-map-app-update-5-0"
    or 
    = link_to "watch this demo video", "https://youtu.be/FfbIhYt_DTE"
  %p
    You can now save your favorite locations! Click the
    =image_tag( 'heart-empty.png', :alt => 'heart icon', :class => 'fave_icon')
    next to each location name. Then view them all on the
    = link_to "Saved Map", saved_path, :class => "bold"
  %p
    We made two new
    = link_to "Pinball Map T-Shirts!", store_path, :class => "bold"
  %p 
    Check out our podcast! 
    = link_to "Mappin' Around with Scott & Ryan", "http://pod.pinballmap.com", :class => "bold"
  %p
    = link_to "Support Pinball Map via Patreon", "https://patreon.com/pinballmap", :class => "bold" 
  %p 
    Looking for spots outside of this region? Try the
    =link_to 'One Big Map.', map_path, :class => "bold" 
  %p.dark.hello
    Welcome to the #{@region.full_name} Pinball Map!
  %p.to_begin
    %span.begin
      To begin: Search!
      - if @location_count > 0
        - random_location_id = @region.random_location_id
        Or click
        =link_to 'here', "/#{@region.name.downcase}/?by_location_id=#{random_location_id}", :id => random_location_id
        for a random location!
  %p
    %span.darkb This map is best maintained with the help of YOU.
    Please
    %span.darkb "add"
    and
    %span.darkb "remove"
    machines to/from locations to keep things up to date. And 
    %span
      =link_to 'submit new locations', suggest_path
    that aren't on the map.
  - if !mobile_device?
    %p
      Want to help spread the word about the #{@region.full_name} Pinball Map?
      %span.darkb
        = link_to 'Print out this flier!', flier_path
  %p
    We are tracking
    %span.dark #{@location_count} locations
    and
    %span.dark #{@lmx_count} machines.
        
