- if !user_signed_in?
  %li.menu_header_02.mobile_hide= link_to 'Login', new_user_session_path
  %li.menu_header_02.mobile_hide= link_to 'Join', new_user_registration_path
- else
  %li.menu_header_02.mobile_hide= link_to 'Logout', destroy_user_session_path, method: :delete
  - if (current_user && !current_user.region_id.blank?)
    %li.menu_header_02.mobile_hide= link_to 'Admin', rails_admin_path
- if (@region)
  %li.menu_header_01=link_to 'Add Location', suggest_path
  %li=link_to 'About', about_path
  %li=link_to 'Contact', about_path
  %li=link_to 'Events', events_path
  %li=link_to 'Map Flier', flier_path
  %li=link_to 'High Scores', high_rollers_path
  %li=link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
  %li=link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
  %li=link_to 'Event RSS', "/#{params[:region]}/events.rss", {:class => 'feed_icon'}
  %hr/
- if current_page?(regionless_path)
  %li.mobile_hide=link_to 'Add Location', regionless_location_suggest_path  
%li=link_to 'Home', root_path
%li=link_to 'User Profile', current_user.nil? ? inspire_profile_path : profile_user_path(current_user.id)
- if !(@region)
  %li=link_to 'Location RSS', "/location_machine_xrefs.rss", {:class => 'feed_icon'}
%li=link_to 'Blog', 'http://blog.pinballmap.com'
%li=link_to 'Store', store_path
%li=link_to 'App', app_path
%li=link_to 'FAQ', faq_path
- if !(@region)
  %li=link_to 'Contact', about_path('portland')
%li
  =link_to 'Donate', donate_path
%li
  =link_to "Podcast", "http://pod.pinballmap.com"