%ul
  - if mobile_device?
    %span.login_list
      %span.inner_login_list
        - if !user_signed_in?
          %li.login_list= link_to 'Login', new_user_session_path
          %span.login_slash
            |
          %li.login_list= link_to 'Join', new_user_registration_path
        - elsif (mobile_device? and user_signed_in?)
          %li.login_list= link_to 'Logout', destroy_user_session_path, method: :delete
          - if (current_user && !current_user.region_id.blank?)
            %span.login_slash
              |
            %li.login_list= link_to 'Admin', rails_admin_path
      %li.login_list
        %button#theme_toggle_btn{:onclick => "toggleTheme()", :title => "Toggle dark/light mode", "aria-label" => "Toggle dark/light mode"}
          %svg.theme_icon#theme_icon_moon{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", width: "20", height: "20", fill: "currentColor"}
            %path{d: "M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"}
          %svg.theme_icon#theme_icon_sun{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", width: "20", height: "20", fill: "currentColor"}
            %circle{cx: "12", cy: "12", r: "5"}
            %line{x1: "12", y1: "1", x2: "12", y2: "3"}
            %line{x1: "12", y1: "21", x2: "12", y2: "23"}
            %line{x1: "4.22", y1: "4.22", x2: "5.64", y2: "5.64"}
            %line{x1: "18.36", y1: "18.36", x2: "19.78", y2: "19.78"}
            %line{x1: "1", y1: "12", x2: "3", y2: "12"}
            %line{x1: "21", y1: "12", x2: "23", y2: "12"}
            %line{x1: "4.22", y1: "19.78", x2: "5.64", y2: "18.36"}
            %line{x1: "18.36", y1: "5.64", x2: "19.78", y2: "4.22"}
  - elsif (!mobile_device? and !user_signed_in?)
    %li.menu_header_02=link_to 'Login', new_user_session_path
    %li.menu_header_02=link_to 'Join', new_user_registration_path
  - else
    %li.menu_header_02=link_to 'Logout', destroy_user_session_path, method: :delete
    - if (current_user && !current_user.region_id.blank?)
      %li.menu_header_02= link_to 'Admin', rails_admin_path
  - if user_signed_in?
    %li.menu_header_03=link_to 'Saved Locations', saved_path
  - if (@region)
    %li.menu_header_01=link_to 'Add Location', suggest_path
    %li=link_to 'About / Contact', about_path
    %li=link_to 'Events', events_path
    %li=link_to 'High Scores', high_rollers_path
    %li=link_to 'Activity Feed', region_activity_path
    %li=link_to 'Location RSS', "/#{params[:region]}/location_machine_xrefs.rss", {:class => 'feed_icon'}
    %li=link_to 'Score RSS', "/#{params[:region]}/machine_score_xrefs.rss", {:class => 'feed_icon'}
    %hr/
  - if (mobile_device? and !(@region))
    %li=link_to 'Add Location', map_location_suggest_path
  - if !current_page?(map_path)
    %li=link_to 'Global Map', map_path
  %li=link_to 'Operators Map', operators_path
  %li=link_to 'User Profile', current_user.nil? ? inspire_profile_path : profile_user_path(current_user.id)
  %li=link_to 'App', app_path
  - if !(@region)
    %li=link_to 'Activity Feed', activity_path
    %li=link_to 'Location RSS', "/location_machine_xrefs.rss", {:class => 'feed_icon'}
  %li=link_to 'Blog', 'http://blog.pinballmap.com'
  %li=link_to 'Stats', stats_path
  %li=link_to 'Store', store_path
  %li=link_to 'FAQ', faq_path
  - if !(@region)
    %li=link_to 'Contact', about_path('portland')
  %li=link_to 'Map Flier', map_flier_path
  %li=link_to 'Donate', donate_path
  %li=link_to "Podcast", "http://pod.pinballmap.com"
