#page_body
  .left_column_outer
    .left_column_about
      %p
        This map lists all the pinball machines in the 
        %span.darkb= @region.full_name
        region. The data is kept up to date by YOU (and you and you, too).
      %p
        = link_to 'pinballmap.com', 'http://pinballmap.com'
        was developed by Scott and Ryan. If you live in a region with pinball and would like to see it added to this site, AND you would like to serve as the regional administrator of the data, please
        - if (@region.name == 'portland')
          contact us via the form below. For more details about the criteria we use for adding regions, 
          = link_to 'see this blog post.', 'http://blog.pinballmap.com/2014/07/21/criteria-for-adding-a-new-pinball-map', :target => '_blank'
        - else
          = link_to 'contact us via the Portland region page.', 'http://pinballmap.com/portland/about'
      %p  
        Follow
        = link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
        on Twitter for updates and news!
      %p 
        View the
        =link_to 'Pinball Map Privacy Policy', privacy_path
    .left_column_about
      %p.dark 
        Contact the 
        = @region.full_name 
        regional administrator:
      #contact_maker
        = form_tag contact_sent_path, :method => 'get' do
          %ul
            %li
              %label{:for => "contact_name"} Your Name:
              %input{:type => "text", :name => "contact_name", :params => "contact_name", :class => "text"}
            %li
              %label{:for => "contact_email"} Your Email:
              %input{:type => "text", :name => "contact_email", :params => "contact_email", :class => "text"}
            %li.msg
              %label{:for => "contact_msg"} Message: 
              %textarea{:type => "text", :name => "contact_msg", :params => "contact_msg", :class => "text"}
            %li.recaptcha{:style => "clear:both;"}
              %div= recaptcha_tags
            %li.submit{:style => "clear:both;"}
              %input{:type => "submit", :value => "Submit Comment", :class => "submit_button"}
  .right_column_outer
    .right_column.links_column
      %p.darkb.links_category Top 10 Machines
      - @top_machines.each do |lmx|
        .machine_quantity
          %p
            = link_to "#{lmx.machine.name}: with #{lmx.machine_count} machines", "/#{@region.name}/?by_machine_id=#{lmx.machine.id}"
    .right_column.links_column
      - if (@links.size > 0)
        - @links.keys.sort.each do |key|
          %p.darkb.links_category #{key}
          - @links[key].sort_by! { |rlx| rlx.sort_order || 0 }.each do |l|
            %p.links_content
              = link_to l.name, l.url, :target => '_blank'
              %br/
              %span #{l.description}
      - else
        %p Links coming soon...
