#page_body
  .column_container
    .column.bg_vlightpurple.w_450
      %p.red.font18.bold
        Contact
        - if (@region.name == 'portland')
          Pinball Map HQ
        - else
          the
          = @region.full_name
          Pinball Map administrator
      %p
        If a location no longer has machines, NO NEED to tell us! Please just remove the machines from the location, and we will auto-delete it within a week.
      %p
        If a location has moved or changed names, tell us which location you're referring to! 
      #contact_maker.pb_10
        = form_tag contact_sent_path, :method => 'post' do
          %ul.pl_0
            - if !user_signed_in?
              %li
                %label{:for => "contact_name"} Your Name:
                %input{:type => "text", :name => "contact_name", :params => "contact_name", :class => "text w_400"}
              %li
                %label{:for => "contact_email"} Your Email:
                %input{:type => "text", :name => "contact_email", :params => "contact_email", :class => "text w_400", required: true}
            %li.msg.h_auto
              %label{:for => "contact_msg"} Message:
              %textarea{:type => "text", :name => "contact_msg", :params => "contact_msg", :class => "text w_400", required: true}
            - if !user_signed_in?
              %li
                %span.red Security Question (required)
                %label{:for => "security_test", } What are we mapping on this site?
                %input{:type => "text", :name => "security_test", :params => "security_test", :class => "text w_400", required: true}
            %li.submit{:style => "clear:both;"}
              %input{:type => "submit", :value => "Submit Comment", :class => "submit_button"}
    .column.bg_vlightpurple.w_450
      %p.red.font18.bold
        About Pinball Map
      %p Pinball Map was founded in 2008 in Portland, Oregon, by Scott & Ryan. It's an open source project, with numerous contributors writing code and adding features (notably, Beth on the app; and Elijah for various operations), over 100 administrators managing data, and thousands of users keeping it up to date.
      %p== Study the #{link_to 'FAQ', faq_path}. If you contact us for something that is answered in the FAQ, we will point you to the FAQ (and then will expect you to acknowledge that you've read it). Please be sensitive to your demands on our time.
      %p== Spread the word about Pinball Map by #{link_to 'distributing this flier', map_flier_path}!
      %p== View the #{link_to 'Pinball Map Privacy Policy', privacy_path}.
    - if (@region.operators.size > 0)
      .column.w_450
        %p.red.font18.bold.links_category
          Operators in this Region
          - @region.operators.each do |o|
            - if o.locations
              %p.links_content
                - if ((o.website && o.website.empty?) || (!o.website))
                  #{o.name}
                - else
                  =link_to "#{o.name}", "#{o.website}", :target => "_blank"
    .column.w_450
      %p.red.font18.bold.links_category Top 10 Machines in this Region
      - @top_machines.each do |lmx|
        .machine_quantity
          %p
            = link_to "#{lmx.machine.name}: with #{lmx.machine_count} machines", "/#{@region.name}/?by_machine_id=#{lmx.machine.id}"
      - if (@links.size > 0)
        - @links.keys.sort.each do |key|
          %p.red.font18.bold.links_category #{key}
          - @links[key].sort_by! { |rlx| rlx.sort_order || 0 }.each do |l|
            %p.links_content
              = link_to l.name, l.url, :target => '_blank'
              %br/
              %span #{l.description}
      - else
