#page_body
  .column_container.serif
    .column.bg_vlightpurple.w_450
      %p.red.font18.sans.bold
        Contact
        - if (@region.name == 'portland')
          Pinball Map HQ
        - else
          the
          = @region.full_name
          Pinball Map administrator
      %p
        If you are writing to tell us that a location no longer has machines - NO NEED! Please just remove the machines from the location, and we will auto-delete it within a week.
      #contact_maker.pb_10
        = form_tag contact_sent_path, :method => 'post' do
          %ul.pl_0
            - if !user_signed_in?
              %li
                %label{:for => "contact_name"} Your Name:
                %input{:type => "text", :name => "contact_name", :params => "contact_name", :class => "text w_400"}
              %li
                %label{:for => "contact_email"} Your Email:
                %input{:type => "text", :name => "contact_email", :params => "contact_email", :class => "text w_400"}
            %li.msg.h_auto
              %label{:for => "contact_msg"} Message:
              %textarea{:type => "text", :name => "contact_msg", :params => "contact_msg", :class => "text w_400"}
            - if !user_signed_in?
              %li
                %span.red.serif Security Question (required)
                %label{:for => "security_test", } What are we mapping on this site?
                %input{:type => "text", :name => "security_test", :params => "security_test", :class => "text w_400"}
            %li.submit{:style => "clear:both;"}
              %input{:type => "submit", :value => "Submit Comment", :class => "submit_button"}
    .column.bg_vlightpurple.w_450
      %p.red.font18.sans.bold
        About the
        = @region.full_name
        Pinball Map
      %p
        This map lists all the pinball machines in the
        %span.red.font18.sans.bold= @region.full_name
        region. The data is kept up to date by YOU!
      %p
        = link_to 'pinballmap.com', root_path
        was developed by Scott and Ryan.
        - if (@region.name == 'portland')
          Contact us via that form over there.
        - else
          = link_to 'contact us via the Portland region page.', about_path('portland')
        Read the
        = link_to 'FAQ.', faq_path
      %p
        Follow
        = link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
        on Twitter for updates and news!
      %p
        Help spread the word about the #{@region.full_name} Pinball Map by
        = link_to 'distributing this flier!', flier_path
      %p
        View the
        =link_to 'Pinball Map Privacy Policy', privacy_path
    - if (@region.operators.size > 0)
      .column.w_450
        %p.red.font18.sans.bold.links_category
          Operators in this Region
          - @region.operators.each do |o|
            - if o.locations
              %p.links_content
                - if ((o.website && o.website.empty?) || (!o.website))
                  #{o.name}
                - else
                  =link_to "#{o.name}", "#{o.website}", :target => "_blank"
    .column.w_450
      %p.red.font18.sans.bold.links_category Top 10 Machines in this Region
      - @top_machines.each do |lmx|
        .machine_quantity
          %p
            = link_to "#{lmx.machine.name}: with #{lmx.machine_count} machines", "/#{@region.name}/?by_machine_id=#{lmx.machine.id}"
      - if (@links.size > 0)
        - @links.keys.sort.each do |key|
          %p.red.font18.sans.bold.links_category #{key}
          - @links[key].sort_by! { |rlx| rlx.sort_order || 0 }.each do |l|
            %p.links_content
              = link_to l.name, l.url, :target => '_blank'
              %br/
              %span #{l.description}
      - else
