#page_body.notbold
  .column_container
    .column.w_560.bg_vlightpurple
      %p.red.bold.p1 Pinball Map FAQ
      %p== This page contains helpful app and website support information. If you have a question, comment, or suggestion, #{link_to 'contact us', about_path('portland')}. 
      %p== #{link_to 'Click here to read our privacy policy', privacy_path}.
      %p.font20.center.bold.pbt_5.bg_lightpurple#updating
        =link_to 'Updating the Map', '#updating', :class => "no_underline brightpurple"
      %p.question#9
        =link_to 'How do I add a machine to a location?', '#9', :class => "no_underline"
      %p.answer
        First, log in. On the website, lookup the location, then click the "Add a machine" button. Choose a machine. Click Add. 
      %p.answer 
        On the app, lookup the location, then click the + (plus) icon. Then select a machine and add it.
      %hr
      %p.question#2
        =link_to 'How do I remove a machine from a location?', '#2', :class => "no_underline"
      %p.answer
        First, log in. On the website, click the "remove" button that's below the machine name. On the app, click on the machine name, and then look for the "remove" button or trash can icon.
      %hr
      %p.question#7
        =link_to 'How do I add a new location?', '#7', :class => "no_underline"
      %p.answer== Fill out #{link_to 'this form', map_location_suggest_path}. Our administrators moderate submissions, so please allow 0 - 7 days or so for it to be approved. The more accurate and thorough your submission, the quicker it will get added!
      %hr
      %p.question#3
        =link_to 'This location closed/no longer has machines. What do I do - do I need to tell you?', '#3', :class => "no_underline"
      %p.answer
        Simply remove all the machines from it. Empty locations are periodically removed.
      %hr
      %p.question#4 
        =link_to 'This location is temporarily closed. Should I remove the machines from it?', '#4', :class => "no_underline"
      %p.answer
        No. If a place is seasonal or closed due to restrictions, and is expected to re-open, please do not remove the machines from it. Just edit the location description to say it's temporarily closed. You can also make sure the phone number is listed so that people can easily call and check on the status.
      %hr
      %p.question#15
        =link_to 'Location name has changed. Can I change it?', '#15', :class => "no_underline"
      %p.answer== Only administrators can edit location names. #{link_to 'Contact us', about_path('portland')}, and make sure to tell us the name of the location.
      %hr
      %p.question#5 
        =link_to 'This location has moved. Should I add a location description that no administrator will ever see? Or should I remove the machines from it and re-submit?', '#5', :class => "no_underline"
      %p.answer
        Neither. Administrators can change the address. Please 
        = link_to 'let us know', about_path('portland')
        if a location has moved, and make sure to tell us the name of the location that has moved. It's preferable for us to simply change the address because that retains the location history.
      %p.font20.center.bold.pbt_5.bg_lightpurple#data-usage
        =link_to 'Data Usage', '#data-usage', :class => "no_underline brightpurple"
      %p.question#1 
        =link_to 'Can I use Pinball Map data on my own site?', '#1', :class => "no_underline"
      %p.answer
        You can use our public API to fetch data and use it for your app. When using Pinball Map data, 
        %span.bold according to our data license you must include attribution and a link back to this site. 
        If you need bulk data for a project, please get in touch. We have collaborated with many folks on their projects, from student projects to services by major pinball companies. Please do not just scrape large amounts of this site for your own arcade/pinball mapping site, with no attribution. Thousands of people have been contributing their time and effort to this site since 2008.
      %p.font20.center.bold.pbt_5.bg_lightpurple#data-management
        =link_to 'Data Management', '#data-management', :class => "no_underline brightpurple"
      %p.question#16
        =link_to 'Can you include bat games, or other non-pinball but pinball-adjacent games?', '#16', :class => "no_underline"
      %p.answer== We fully understand that pitch and bat games resemble pinball machines and the collectors that collect them also usually collect pinball machines. The short answer is, no, no bat games. In general we use #{link_to 'OPDB.org', 'https://opdb.org', :target => "_blank"} as a guide for what machines to include. The overall goal of this site is to map pinball, and though we understand that you may passionately think bat games should also be included because etc etc, please note that in our polling of the general public basically no one else wants bat games on the map. At any rate, thank you for that question and your feedback, and if you want more details about this decision, please #{link_to 'read this blog post', 'https://blog.pinballmap.com/2021/05/31/more-spring-cleaning/', :target => "_blank" }. Please do not send us a message about this without reading that blog post. 
      
      %p.answer In the past, we made an unfortunate exception for the 1991 Williams bat game, SlugFest. This was only done because when it's not on the map, users add the 1952 Williams pinball machine, Slugfest, to the map, and then comment that it's actually the bat game from 1991. Since we abhor ugly, incorrect data, we granted an exception. However, this resulted in being "called out" for being inconsistent about including all of them. You'll be happy to know we're now consistently not including SlugFest on the map! If you add the 1952 pinball machine as a proxy for the 1991 bat game, we will give you a warning. If you do it again, we may disable your account. We want good clean data and we only want to map pinball! And we also want you to stop telling us how upset you are about this.

      %p.answer We do include some pre-pinball flipperless games. Are we missing some?
      %hr
      %p.question#8 
        =link_to 'Can I add my private collection to the map?', '#8', :class => "no_underline"
      %p.answer
        No. Pinball Map only lists publicly-accessible locations. The definition of 'public' varies - some places have entrance fees, or limited hours. But overall, the location has to be inclusive and accessible. So please don't submit your house or a private club that excludes people from becoming members. We also exclude short-term house rentals. 
      %hr
      %p.question#10 
        =link_to 'When I search for a city, the city is listed twice (and maybe the second instance of it is misspelled). Or, I see the same location listed twice. Or, the place is in the wrong spot on the map. Etc.', '#10', :class => "no_underline"
      %p.answer
        These are data entry mistakes. Please 
        = link_to 'contact us', about_path('portland')
        so we can fix them.
      %hr
      %p.question#18
        =link_to 'I submitted a new location but it never showed up on the map. What is wrong with you?', '#18', :class => "no_underline"
      %p.answer
        There are numerous reasons why a new location was not added to the map. Here are some:
      %ul
        %li 
          Not enough time has passed. Please allow 0-7 days before a location is approved. Submissions go to different people, depending on where the location is in the world. And these people work at different paces. Reminder, we're all volunteers with the goal of having a very clean data set.
        %li
          The location you submitted isn't open yet. Many locations are submitted by the business owners themselves (and people helping out those businesses), and we are honored that they think of us when they are prepping to launch their business. But guess who are also eager folks? Pinball players! So if a location gets added to the map before it's open to the world, people will drive all the way there, discover an un-opened business, and then... you guessed it! They then yell at us about it. It doesn't matter if there's a location description saying "Opens on May 5." People <i>do not read</i> (except you).
        %li
          The location you submitted is a private residence. Or private in some other way. See 
          =link_to 'this', '#8'
          FAQ item.
      %p.font20.center.bold.pbt_5.bg_lightpurple#operators
        =link_to 'Operators', '#operators', :class => "no_underline brightpurple"
      %p.question#11 
        =link_to 'How do I get listed as an operator?', '#11', :class => "no_underline"
      %p.answer
        = link_to 'Contact us', about_path('portland')
        and we'll add you. In your message, tell us the name of your business and whether you want to be notified via email when users leave comments on your machines. Check this
        = link_to 'blog post', 'https://blog.pinballmap.com/2015/10/22/operators-we-want-you/', :target => '_blank'
        about the benefits of being listed in our system!
      %hr
      %p.question#17
        =link_to 'How do I tag myself as the operator at a location?', '#17', :class => "no_underline"
      %p.answer
        If you are in our system as an operator (if you're not, please see the question above), do this:
      %p.answer
        On the website: log in with your user account, lookup the location, then click the "pencil" icon to the right of the location name. That is for editing some location details. Find the operator field, and choose your operator business from the list. Then save.
      %p.answer
        On the app: log in with your user account, lookup the location, click the "pencil" icon. Choose your operator business from the list. Then save.
      %hr
      %p.question#12 
        =link_to "I'm an operator or business owner, and people are leaving comments on my machines that I don't like. Can you make them stop, or disable comments on my machines?", '#12', :class => "no_underline"
      %p.answer
        The short answer is can't disable comments at an individual venue or for an individual user. We understand that users and operators sometimes want conflicting things. Some operators find reports of technical issues to be very useful; and some do not. Some operators wish that folks would only leave "general" machine comments and not "specific" comments (we can't control this). On the other hand, most regular users find machine comments to be a very valuable feature. It is difficult to perfectly cater to everyone, and we cannot control the comments that people make.
      %p.answer
        In some circumstances, comments may be removed and/or accounts can be disabled (see the elsewhere in the FAQ). We will always look into your concerns. But please try not to waste our time with your requests. 
      %p.answer
        To users leaving comments:
      %ul
        %li
          To regular users leaving comments: Most operators prefer you directly tell them about problems. For example, in person or with a note to staff at the venue. Many pinball issues are minor and temporary, and leaving a comment about them on the map puts it "on the record" and it may remain there long after the issue is resolved.
      %p.answer
        Some suggestions to operators:
      %ul
        %li
          A comment about a machine issue is not going to hurt your business in the short term. Pinball Map often gets blamed for "making" operators rush across town to fix and issue and write a comment saying the issue is fixed. Pinball Map does not make you do this.
        %li
          According to nearly everyone, it is really valuable to see a history of comments (thing is broken, thing is fixed, etc.). Everyone understands that machines break all the time. Seeing a dialog demonstrates that upkeep is occurring. The "latest comment" noting a problem is not particularly important to users and will not drive them away. Some operators choose to delete machines and re-add them in order to clear out comments rather than simply responding to a comment. This is bad practice - both for your business and for the map - and can result in your account being disabled. It makes it seem like the operator is whitewashing comments rather than fixing issues. Users definitely notice this, and we strongly discourage it. 
        %li
          We regularly get messages from operators and owners demanding that a user be banned from leaving comments on their location. Most often, the comments in question are not slanderous, but have some sass or "off-topic" messages (or like, "the comment is about price and not condition!!"). These requests are a big headache for us, especially because they do not warrant any action toward the user. So please, help us! Be mindful that operators are very sensitive about the content on this site, and they take it out on us.
      %p.font20.center.bold.pbt_5.bg_lightpurple#users
        =link_to 'Users', '#users', :class => "no_underline brightpurple"
      %p.question#6 
        =link_to 'I see you have a ranking system for contributors. How do I earn a contributor badge and title?', '#6', :class => "no_underline"
      %p.answer
        Great question! As a small token of acknowledgement of your contributions to the map, if you make more than 50 contributions, we christen you a "Super Mapper". After 250 contributions, you are a "Legendary Mapper". And after 500 amazing map contributions, you are a "Grand Champ Mapper"!
      %hr
      %p.question#19
        =link_to 'Can I change my username?', '#19', :class => "no_underline"
      %p.answer== Only administrators can change your username. #{link_to 'Contact us', about_path('portland')} and we'll be happy to change it.
      %hr
      %p.question#20
        =link_to 'How do I update my password, or email, or delete my account?', '#19', :class => "no_underline"
      %p.answer== These can be done on your #{link_to 'Profile page', inspire_profile_path}.
      %hr
      %p.question#13
        =link_to 'Why was my comment removed?', '#13', :class => "no_underline"
      %p.answer
        Our moderators may deem your machine or location comment to be inappropriate because:
      %ul
        %li
          It contains a personal attack.
        %li
          It isn't relevant (for example, promoting a tournament in a machine comment) or constructive.
        %li
          It is offensive.
      %hr
      %p.question#14
        =link_to 'Why was my account disabled?', '#14', :class => "no_underline"
      %ul
        %li
          If your account has been used to mess with data on the site, then we may disable it. Bad behavior includes, but is not limited to: removing machines that are at a location (or removing+adding to clear out comments); adding machines that are not at a location; leaving lots of inappropriate/abusive comments; or adding Slugfest over and over (see above).
        %li
          You created a sockpuppet account to hype your location and/or disparage the competition. This is unethical and it makes the site worse. Don't do this. Look in the mirror.
        %li
          You signed up with a disposable email account. We sometimes have legitimate reasons for contacting you individually. Disposable emails are most often used by people who abuse the site.
