#page_body.promote_body
  %p.flier_desc
    Print out this page, cut it into four, and then spread the word! THANKS!
  #promote_container
    .promote_subcontainer
      %p.dark.hello.black_text
        Find pinball machines to play on the #{@region.full_name} Pinball Map!
      %p.promote_link
        https://pinballmap.com#{region_homepage_path}
      %p.dark.hello
        Download the free app!
        %br/
        =image_tag('App_Store.png', :alt => 'ios app store logo', :class => 'app_logo')
        =image_tag('android_market.png', :alt => 'google play store logo', :class => 'app_logo')
      %p.dark.hello.help
        Help keep the map up to date!
      %p.promote_logo
        =image_tag('pinballmapcom_nodot.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
    .promote_subcontainer
      %p.dark.hello.black_text
        Find pinball machines to play on the #{@region.full_name} Pinball Map!
      %p.promote_link
        https://pinballmap.com#{region_homepage_path}
      %p.dark.hello
        Download the free app!
        %br/
        =image_tag('App_Store.png', :alt => 'ios app store logo', :class => 'app_logo')
        =image_tag('android_market.png', :alt => 'google play store logo', :class => 'app_logo')
      %p.dark.hello.help
        Help keep the map up to date!
      %p.promote_logo
        =image_tag('pinballmapcom_nodot.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
    .promote_subcontainer
      %p.dark.hello.black_text
        Find pinball machines to play on the #{@region.full_name} Pinball Map!
      %p.promote_link
        https://pinballmap.com#{region_homepage_path}
      %p.dark.hello
        Download the free app!
        %br/
        =image_tag('App_Store.png', :alt => 'ios app store logo', :class => 'app_logo')
        =image_tag('android_market.png', :alt => 'google play store logo', :class => 'app_logo')
      %p.dark.hello.help
        Help keep the map up to date!
      %p.promote_logo
        =image_tag('pinballmapcom_nodot.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
    .promote_subcontainer
      %p.dark.hello.black_text
        Find pinball machines to play on the #{@region.full_name} Pinball Map!
      %p.promote_link
        https://pinballmap.com#{region_homepage_path}
      %p.dark.hello
        Download the free app!
        %br/
        =image_tag('App_Store.png', :alt => 'ios app store logo', :class => 'app_logo')
        =image_tag('android_market.png', :alt => 'google play store logo', :class => 'app_logo')
      %p.dark.hello.help
        Help keep the map up to date!
      %p.promote_logo
        =image_tag('pinballmapcom_nodot.png', :alt => 'Pinball Map Logo', :class => 'promote_logo')
