#div_container
  .div_01
    #welcome
      %div.home_intro_container.home_intro
        %div.dark{:style => 'left:0;'}
          %span.darkb Welcome to PinballMap.com!
          %p
            Pinball Map is a crowdsourced pinball locator for public pinball machines. And we have a mobile app!
          %p.darkb News!
          %p 
            For over 9 years we've kept separate regional maps for each of the cool cities that love pinball and wanted a map. But we recently
            =link_to 'combined them into one big super map.', regionless_path
            And it supports "regionless" locations, as well. So basically, now we're aiming to cover as much area as possible, and not just select cities.
          %p 
            Stay tuned for a sweet app update that will list all locations in one big super map!
          %p.l
            We are currently listing a total of 
            %span.darkb 
              #{number_with_delimiter(Location.all.count,:delimiter => ",")} 
            locations and 
            %span.darkb 
              #{number_with_delimiter(LocationMachineXref.all.count,:delimiter => ",")} 
            machines.
  .div_01b.home_more.read_more_wrap    
    %p.f
      Help keep your map up to date by adding and removing machines to/from locations, and by submitting new locations that aren't already listed.
    %p
      Each regional map listed below is curated by a local administrator, often with the support of a league.
    %p
      We have a free
      = link_to 'mobile app for iOS and Android.', app_path, :class => 'apps_link'
    %p
      =link_to 'Contact us!', 'portland/about', :class => 'apps_link'
      Contribute to the 
      = link_to 'Pinball Map Code!', 'https://github.com/scottwainstock/pbm', :class => 'apps_link'
      Use the
      = link_to 'Pinball Map API!', apipie_apipie_path, :class => 'apps_link'
    - if mobile_device?
      %div.twitter
        %p.twitter_img
          =image_tag('sol-icon.jpeg', :alt => 'Pinball Map Twitter Icon')
        %p.twitter_box
          Follow
          =link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
          on Twitter for map updates and news!
        %ul.twitter
          - @tweets.each do |t|
            %li= auto_link(t.text)
  - if mobile_device?
    .read_more
    .read_less
  .div_02
    - if !mobile_device?
      #region_map
  .div_03
    %div.twitter
      %p.twitter_img
        =image_tag('sol-icon.jpeg', :alt => 'Pinball Map Twitter Icon')
      %p.twitter_box
        Follow
        =link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
        on Twitter for updates from across all #{@all_regions.size} regional maps!
      %ul.twitter
        - @tweets.each do |t|
          %li= auto_link(t.text)
  .div_04
    #map_summaries
      #region_list
        - @all_regions.each.map {|r| r.state}.uniq.each do |s|
          %div.state_name_container
            %div.state_name
              %span.state_name #{s}
            %div.region_name_container
              - @all_regions.select {|r| r.state == s}.each do |r|
                %div.region_name
                  =link_to "/#{r.name}" do
                    #{r.full_name}
                  %div.map_summary_info
                    %span.map_summary_locations
                      = "#{r.locations_count} Locations"
                    %span.map_summary_machines
                      = "#{r.machines_count} Machines"
    .clear
    %br/

:javascript
  $().ready(function(){
    $(".read_less").css("display","none");
    $(".read_more").css("display","block");
    $(".read_more").click(function() {
      $(".read_more").css("display","none");
      $(".read_less,.read_more_wrap").css("display","block");
    });
    $(".read_less").click(function() {
      $(".read_more_wrap,.read_less").css("display","none");
      $(".read_more").css("display","block");
    });
  });

- unless Rails.env.test?
  :javascript
    $().ready(function(){
        initializeRegionMap(
          [#{@region_data[0].join(', ')}],
          [#{@region_data[1].join(', ')}],
          [#{@region_data[2].join(', ')}],
          [#{@region_data[3].join(', ').html_safe}]
        );
    });
  
