#welcome
  %p.intro
    Welcome to pinballmap.com!
    %br/
    %br/
    This site shows all the public pinball
    machines in select regions in North America.
    Each region’s data is curated by a local
    administrator, and also maintained by players
    in the areas.
    %br/
    %br/
    Use your local region’s map to find your fave machines. 
    Keep the map up to date by adding and removing 
    machines from locations, and by submitting new locations 
    that aren't already on the map!
    %br/
    %br/
    You can also comment on a machine’s
    condition, upload photos of locations, add your high
    scores on a machine, and so on.
    %br/
    %br/
    We have    
    = link_to 'mobile apps for iPhone and Android', 'portland/apps', :class => 'apps_link'
#map_summaries.intro
  %span.pick_a_map Pick a map!
  %br/
  - count = 1
  - Region.order('full_name').each do |r|
    .map_summary
      = link_to image_tag("landing_thumbs/#{r.name}-logo.png"), "/#{r.name}", :class => 'landing_logo'
      %br/
      = link_to image_tag("landing_thumbs/#{r.name}-thumbnail.png", :size => '150x150'), "/#{r.name}"
      .map_summary_info
        Tracking:
        %br/
        = "#{Location.find_all_by_region_id(r.id).size} Machines"
        %br/
        = "#{LocationMachineXref.where("location_id in (select id from locations where region_id = ?)", r.id).size} Locations"
    - if ((count % 3) == 0)
      .clear
    - count += 1
.clear