%div.flex_center.flex_column{:style => 'margin-bottom: 20px;'}
  %p.red.bold.p1
    %span{:style => 'width:42px;margin-right: 5px;'}
      =image_tag( 'icon-color-noBGsvg.svg', :style => 'height:42px;', :alt => 'Pinball Map Ball Logo')
    Welcome to Pinball Map!
  %p.welcome.font20.center.mt_0{:style => 'max-width:540px;min-width:100px;line-height:32px;'}
    Founded in 2008, Pinball Map is an open source, crowdsourced worldwide map of public pinball machines.
  %p.explore
    = link_to 'Explore the Map', map_path
  %p.flex_center
    %span{:style => 'padding-right: 5px;', :class => 'red font18 bold'}
      #{number_with_delimiter(@locations_count_total,:delimiter => ",")}
    locations and
    %span{:style => 'padding-left: 5px;padding-right: 5px;', :class => 'red font18 bold'}
      #{number_with_delimiter(@machines_count_total,:delimiter => ",")}
    machines
  %div.flex_center.italic.darkgrey
    The map was last updated
    =distance_of_time_in_words(Time.now, @last_updated_time)
    ago
%div.flex_center.bg_lightpurple#app
  =link_to 'Use the App', '#app', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news{:style => 'display: flex;justify-content: center;'}
    =image_tag( 'lpurple-machine.png', :alt => 'machine graphic', :style => 'height:130px;')
  .news
    %p== On the go? Use the #{link_to "Pinball Map mobile app", app_path, :class => "red bold"} to find places to play near you.
    %p
      Available for Android and iOS, the app is free and contains no ads, tracking, or tricks. Just pinball!
%div.flex_center.mb_10#about
  =link_to 'About', '#about', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'portland/app_logo-350.jpg', :alt => 'portland logo',:style => 'height:260px;border-radius: 10px;')
  .news
    %p
      Pinball Map is a user-powered map. To help maintain it, create an account and add and remove machines and submit new locations. You can also add machine comments, edit location info, and add high scores.
    %p
      The data is managed by over 100 administrators and thousands of active users.
    %p== Pinball Map is not monetized and the #{link_to 'code is', 'https://github.com/pinballmap/pbm'} #{link_to 'open source', 'https://github.com/pinballmap/pbm-react'}.
    %p== You can #{link_to 'contact us', 'portland/about', :class => "bold"}, and you also might find wisdom #{link_to 'in the FAQ', faq_path}.
  - if !mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'portland/app_logo-350.jpg', :alt => 'portland logo',:style => 'height:260px;;border-radius: 10px;')
%div.flex_center.bg_lightpurple#store
  =link_to 'Store', '#store', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news
    =link_to image_tag('beanie-three-500.jpg', :alt => 'Pinball Map Store', :style => 'height: 260px;border-radius: 10px;'), store_path, :target => "_blank"
  .news
    %p
      We have beanies! They're waffle-knit with the classic Pinball Map ball logo embroidered in pink. No text.
    %p
      We also have stickers!
    %p== Purchase them through the #{link_to 'Pinball Map store', store_path, :class => "bold"}.
%div.flex_center#support
  =link_to 'Support Us', '#support', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news.center
      %p
        %script{src: "https://storage.ko-fi.com/cdn/widget/Widget_2.js", type: "text/javascript"}
        :javascript
          kofiwidget2.init('Support Pinball Map on Ko-fi', '#29abe0', 'P5P411XZAM');kofiwidget2.draw();
      %p
        =link_to image_tag('become_a_patron_button@2x.png', :alt => 'Become a Patron', :style => 'width: 80%;'), "https://patreon.com/pinballmap", :target => "_blank"
  .news
    %p== #{link_to "Support Pinball Map via Ko-fi", "https://ko-fi.com/pinballmap", :class => "bold", :target => '_blank'} or #{link_to "Patreon", "https://patreon.com/pinballmap", :class => "bold", :target => '_blank'}. All our operating costs are covered by supporters!
    %p== You can make recurring or one-time donations. Supporters can read our updates on Ko-fi and Patreon, get discounts for stuff, and have a "supporter" role in the #{link_to "Pinball Map Discord", 'https://discord.gg/zK6xjyYHJf', :class => "bold", :target => '_blank'}.
    %p
      You can also support the map by
      =link_to 'telling your friends', map_flier_path
      about it (there's a handy flier) and updating it.
  - if !mobile_device?
    .news.center
      %script{src: "https://storage.ko-fi.com/cdn/widget/Widget_2.js", type: "text/javascript"}
      :javascript
        kofiwidget2.init('Support Pinball Map on Ko-fi', '#29abe0', 'P5P411XZAM');kofiwidget2.draw();
      %br/
      %br/
      =link_to image_tag('become_a_patron_button@2x.png', :alt => 'Become a Patron', :style => 'width: 80%;'), "https://patreon.com/pinballmap", :target => "_blank"
%div.flex_center.bg_lightpurple#more
  =link_to 'Keep Up', '#more', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news
    =image_tag( 'mappin-logo-600.orig.png', :alt => 'mapping logo', :style => 'height: 310px;border-radius: 10px;')
  .news
    %p== Check the #{link_to "blog", "https://blog.pinballmap.com/", :class => "bold"} to keep up with map news.
    %p== Follow us on #{link_to 'Mastodon', 'https://fosstodon.org/@pinballmap', :target => '_blank', :class => "bold"} and #{link_to 'Bluesky', 'https://bsky.app/profile/pinballmap.com', :target => '_blank', :class => "bold"}.
    %p== The podcast is back! #{link_to "Mappin' Around with Scott & Ryan", 'https://pod.pinballmap.com/', :target => '_blank', :class => 'bold'}. After four cold and dreary years, we are again making new episodes.
    %p== #{link_to "Join the Pinball Map Discord", 'https://discord.gg/zK6xjyYHJf', :class => "bold", :target => '_blank'}! It's got developers, administrators, supporters, and perhaps more. Chat about the map!
    %p== We can also regularly be found in the #{link_to 'Pinball People Discord', 'https://discord.gg/XffPx6VKTv', :class => "bold", :target => '_blank'}. It's a fun and friendly way to chat with other pinball fans from all over the world!
%div.flex_center#api
  =link_to 'API', '#api', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'cleo.png', :alt => 'cleo', :style => 'height: 220px;')
  .news
    %p== Not only is the Pinball Map website and app open source, but there is also #{link_to 'an API', apipie_apipie_path}. With it, you can pull down map data and use it on your cool app.
    %p
      = link_to 'Stern Pinball', 'https://sternpinball.com/pinball-locator/', :target => '_blank'
      uses our data for their machine locator. Our API is also used by
      = link_to 'Matchplay Events', 'https://matchplay.events/', :target => '_blank'
      and
      = link_to 'Pindigo', 'https://pindigo.app/', :target => '_blank'
      and
      = link_to 'Scorbit', 'https://scorbit.io/', :target => '_blank'
      and
      = link_to 'Kineticist', 'https://www.kineticist.com/', :target => '_blank'
      and many others!
    %p
      %span.bold If you use the data, provide attribution!
  - if !mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'cleo.png', :alt => 'cleo', :style => 'height: 220px;')
%div.flex_center.bg_lightpurple#operators
  =link_to 'Operators', '#operators', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news{:style => 'display: flex;justify-content: center;'}
    =image_tag( 'playing.jpg', :alt => 'playing', :style => 'height: 310px;border-radius: 10px;')
  .news
    %p== We have tools to help out operators. You can register your business in our system, tag all your locations, and receive email notifications when people leave comments on your machines. Check this section of #{link_to 'the FAQ', faq_path(anchor: 'operators')} for operator-specific tips.
    %p
      If you want to quickly look up all your locations, try this special map!
    %p.explore.center{:style => 'line-height: 50px;margin: 20px 0;'}
      = link_to 'Operators Map', operators_path
    %p== To be added to our system, and to receive email notifications (please specify that you want this), #{link_to 'contact us', 'portland/about', :class => "bold"}.
%div.flex_center#stack
  =link_to 'Stack', '#stack', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news.center
      =link_to image_tag( 'stack-dokku-logo.svg', :alt => 'dokku logo', :style => 'width: 220px;', :class => 'pb_15'), 'https://dokku.com/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-expo-logo.png', :alt => 'expo logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://expo.dev/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-scout-logo.png', :alt => 'scout APM logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://scoutapm.com/', :target => '_blank'
  .news
    %p
      The Pinball Map website, API, and app make extensive use of many free and/or open source services (as well as paid services). The website uses 
      =link_to 'Ruby on Rails', 'https://rubyonrails.org/', :target => '_blank', :class => 'bold'
      along with open source gems. The app uses 
      =link_to 'React Native', 'https://reactnative.dev/', :target => '_blank', :class => 'bold'
      and likewise is aided by many open source packages.
    %p== We use #{link_to 'Dokku', 'https://dokku.com/', :target => '_blank', :class => 'bold'} to build and deploy Pinball Map! It is a free service, though we support it with a monthly donation.
    %p 
      =link_to 'DigitalOcean', 'https://www.digitalocean.com/', :target => '_blank', :class => 'bold'
      hosts our server and Postgresql database. This is fully paid for via our Ko-fi and Patreon supporters.
    %p== #{link_to 'Mapbox', 'https://www.mapbox.com/', :target => '_blank', :class => 'bold'} is used for map tiles on the app. The website uses #{link_to 'Protomaps', 'https://protomaps.com/', :target => '_blank', :class => 'bold'} map tiles self-hosted on #{link_to 'Cloudflare', 'https://cloudflare.com/', :target => '_blank', :class => 'bold'}.
    %p
      =link_to 'Expo', 'https://expo.dev/', :target => '_blank', :class => 'bold'
      manages, among many things, the app development and build processes. 
    %p== #{link_to 'Scout APM', 'https://scoutapm.com/', :target => '_blank', :class => 'bold'} tracks performance monitoring for the website and API. #{link_to 'Sentry', 'https://sentry.io/', :target => '_blank', :class => 'bold'} is used for crash reporting on the app!
    %p== The geocoding requests are processed by #{link_to 'Google Maps', 'https://developers.google.com/maps', :target => '_blank', :class => 'bold'} and #{link_to 'HERE Maps', 'https://developer.here.com/', :target => '_blank', :class => 'bold'} and #{link_to 'Nominatim', 'https://nominatim.org/', :target => '_blank', :class => 'bold'}. We also use the Google Places API for location submissions.
    %p== Lastly, Pinball Map maintainers also help maintain the #{link_to 'Open Pinball Database (OPDB)', 'https://opdb.org/', :target => '_blank', :class => 'bold'}, and OPDB supplies the backglass images used on Pinball Map!
  - if !mobile_device?
    .news.center
      =link_to image_tag( 'stack-dokku-logo.svg', :alt => 'dokku logo', :style => 'width: 220px;', :class => 'pb_15'), 'https://dokku.com/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-expo-logo.png', :alt => 'expo logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://expo.dev/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-scout-logo.png', :alt => 'scout APM logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://scoutapm.com/', :target => '_blank'
%div.flex_center.bg_lightpurple#blog
  =link_to 'Recent Blog Posts', '#blog', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news{:style => 'display: flex;justify-content: center;'}
    =image_tag( 'sassy.jpg', :alt => 'sassy', :style => 'height: 310px;border-radius: 10px;')
  .news
    %p.mobile_center
      =link_to 'Protomaps Tile Hosting', 'https://blog.pinballmap.com/2024/11/05/protomaps-tile-hosting/', :target => '_blank', :class => 'bold'
      %span.block.italic.m_5 November 5, 2024
    %p.mobile_center
      =link_to 'Edit or Delete Your Machine Comments', 'https://blog.pinballmap.com/2024/06/01/edit-delete-machine-comments/', :target => '_blank', :class => 'bold'
      %span.block.italic.m_5 June 1, 2024
    %p.mobile_center
      =link_to 'Individual Machine RSS', 'https://blog.pinballmap.com/2024/04/01/individual-machine-rss/', :target => '_blank', :class => 'bold'
      %span.block.italic.m_5 April 1, 2024
    %p.mobile_center
      =link_to 'The Podcast is Back', 'https://blog.pinballmap.com/2024/03/26/podcast-is-back/', :target => '_blank', :class => 'bold'
      %span.block.italic.m_5 March 26, 2024
    %p.mobile_center
      =link_to 'Reflecting on 2023', 'https://blog.pinballmap.com/2023/12/28/reflecting-on-2023/', :target => '_blank', :class => 'bold'
      %span.block.italic.m_5 December 28, 2023
%div.flex_center.flex_column.mb_20#regions
  .region_map
    %p.center
      =link_to 'Regional Maps', '#regions', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
    %p
      If the
      = link_to 'big map', map_path
      isn&rsquo;t cutting it for you, you can search for machines in one select area. Please pick a "regional" map below. Regions are predefined geographical areas - they can be a city, county, state, or even a country - that an administrator and the local users created (a long time ago!). Each regional map is curated by a local administrator, often with the support of a league.
    #region_list
      - @all_regions.each.map {|r| r.state}.uniq.each do |s|
        %div.state_name_container
          %div.state_name
            %span.state_name #{s}
          %div.region_name_container
            - @all_regions.select {|r| r.state == s}.each do |r|
              %div.region_name
                =link_to "/#{r.name}" do
                  #{r.full_name}
