#div_container_column.div_01_outer
  .div_01
    %p.darkb.p1
      %span{:style => 'width:42px;margin-right: 5px;'}
        =image_tag( 'splash-icon-128.png', :alt => 'splash', :style => 'height:42px;', :class => 'splash')
      Welcome to Pinball Map!
    %p.p2
      %span{:style => 'max-width:400px;min-width:100px'}
        Pinball Map is a crowdsourced map of public pinball machines.
        %br/
        And we have a
        = link_to 'mobile app.', app_path, :class => 'apps_link'
    %p.bold.p3
      = link_to 'Explore the Map', map_path
    %p
      The map was last edited
      =distance_of_time_in_words(Time.now, @last_updated_time)
      ago.
#div_container_row{:style => 'border-bottom: 20px solid #e0e0ff;'}
  .div_01b.home_intro
    %p.darkb News!
    %p
      We completely redesigned the app! Read our
      = link_to "release notes", "http://blog.pinballmap.com/2019/06/18/pinball-map-app-update-5-0", :class => "bold"
      or
      = link_to "watch this demo video", "https://youtu.be/FfbIhYt_DTE", :class => "bold", :target => "_blank"
    %p
      Save your favorite locations! Click the
      =image_tag( 'heart-empty.png', :alt => 'heart icon', :class => 'fave_icon')
      next to each location name. Then view them all on the
      = link_to "Saved Map", saved_path, :class => "bold"
    %p
      We made two new
      = link_to "Pinball Map T-Shirts!", store_path, :class => "bold"
    %p
      We have a podcast,
      = link_to "Mappin' Around with Scott & Ryan.", "http://pod.pinballmap.com", :class => "bold"
      New episodes every couple months.
    %p
      = link_to "Support Pinball Map via Patreon", "https://patreon.com/pinballmap", :class => "bold", :target => '_blank'
      Patreon supporters get an EXCLUSIVE Pinball Map Hand Sanitizer!
    %p
      = link_to 'Stern Pinball', 'https://sternpinball.com/pinball-locator/', :target => '_blank'
      uses our data for their machine locator. Our API is also used by
      = link_to 'Matchplay Events', 'https://matchplay.events/', :target => '_blank'
      and
      = link_to 'Pindigo', 'https://pindigo.app/', :target => '_blank'
      and
      = link_to 'this sweet heatmap', 'https://arcg.is/0bHaif', :target => '_blank'
      and others! You can use the
      = link_to 'Pinball Map API', apipie_apipie_path, :class => 'apps_link'
      in your own project.
  .div_01b.home_intro.read_more_wrap
    %p
      Pinball Map is listing
      %span.darkb
        #{number_with_delimiter(Location.all.count,:delimiter => ",")}
      locations and
      %span.darkb
        #{number_with_delimiter(LocationMachineXref.all.count,:delimiter => ",")}
      machines.
    %p
      This is a user-powered map. You can help keep it up to date by adding and removing machines, submitting new locations, and telling your friends to use it!
    %p
      The data is managed by over 100 administrators and thousands of active users.
      =link_to 'Contact us!', 'portland/about', :class => 'apps_link'
    %p
      We have a free
      = link_to 'mobile app for iOS and Android.', app_path, :class => 'apps_link'
    %p
      Pinball Map is not monetized - no ads or premium membership. The
      = link_to 'code is open source.', 'https://github.com/scottwainstock/pbm', :class => 'apps_link'
      Follow us on Twitter for a massive amount of map updates.
      = link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
  - if mobile_device?
    .read_more
    .read_less
#div_container_column{:style => 'background-color:#f5f5ff'}
  .div_05
    %p.darkb.p1
      Regional Maps
    %p
      If the
      = link_to 'big map', map_path
      isn't cutting it for you, you can search for machines in one select area. Please pick a "regional" map below. Regions are predefined geographical areas - they can be a city, county, state, or even a country - that an administrator and the local users created. Each regional map is curated by a local administrator, often with the support of a league.
- if !mobile_device?
  #div_container_column{:style => 'background-color:#f5f5ff'}
    .div_02
      #region_map
#div_container_column
  .div_04
    #map_summaries
      #region_list
        - @all_regions.each.map {|r| r.state}.uniq.each do |s|
          %div.state_name_container
            %div.state_name
              %span.state_name #{s}
            %div.region_name_container
              - @all_regions.select {|r| r.state == s}.each do |r|
                %div.region_name
                  =link_to "/#{r.name}" do
                    #{r.full_name}
    .clear
    %br/

:javascript
  $().ready(function(){
    $(".read_less").css("display","none");
    $(".read_more").css("display","block");
    $(".read_more").click(function() {
      $(".read_more").css("display","none");
      $(".read_less,.read_more_wrap").css("display","block");
    });
    $(".read_less").click(function() {
      $(".read_more_wrap,.read_less").css("display","none");
      $(".read_more").css("display","block");
    });
  });

- unless Rails.env.test?
  :javascript
    $().ready(function(){
        initializeRegionMap(
          [#{@region_data[0].join(', ')}],
          [#{@region_data[1].join(', ')}],
          [#{@region_data[2].join(', ')}],
          [#{@region_data[3].join(', ').html_safe}]
        );
    });

