#welcome
  %div.home_intro_container.home_intro
    %div.dark{:style => 'left:0;'}
      %span.darkb Welcome to PinballMap.com!
      %p
        Pinball Map is a crowdsourced pinball locator, showing all the public pinball machines in select regions of North America.
      %p 
        We are currently listing a total of 
        %span.darkb 
          #{number_with_delimiter(Location.all.count,:delimiter => ",")} 
        locations and 
        %span.darkb 
          #{number_with_delimiter(LocationMachineXref.all.count,:delimiter => ",")} 
        machines.
      %p
        Pick a region to find pinball machines to play near you!
      %div.read_more_wrap
        %p
          Help keep your map up to date by adding and removing machines to/from locations, and by submitting new locations that aren't already listed.
        %p
          Each regional map is curated by a local administrator, often with the support of a league.
        %p
          We have a free
          = link_to 'mobile app for iPhone/iPad and Android.', app_path, :class => 'apps_link'
        %p
          If you'd like to see your city on this site,
          =link_to 'contact us!', 'portland/about', :class => 'apps_link'
          Contribute to the 
          = link_to 'Pinball Map Code!', 'https://github.com/scottwainstock/pbm', :class => 'apps_link'
          Use the
          = link_to 'Pinball Map API!', apipie_apipie_path, :class => 'apps_link'
        %p.twitter_img
          =image_tag('sol-icon.jpeg', :alt => 'Pinball Map Twitter Icon')
        %p.twitter_box
          Follow
          =link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
          on Twitter for updates from across all #{@all_regions.size} regional maps!
        %ul.twitter
          - @tweets.each do |t|
            %li= auto_link(t.text)
    - if mobile_device?
      .read_more
      .read_less
  #map_summaries.intro
    - if !mobile_device?
      #region_map
    #map_summary_outer
      - count = 1
      - @all_regions.each do |r|
        %div.map_summary_outer
          =link_to "/#{r.name}" do
            %div.map_summary
              %div.region_name_container
                %div.region_name_inner
                  %span.region_name
                    #{r.full_name}
              %div.map_summary_info
                %span.map_summary_locations
                  = "#{r.locations_count} Locations"
                %span.map_summary_machines
                  = "#{r.machines_count} Machines"
  .clear
  %br/

:javascript
  $().ready(function(){
    $(".read_less").css("display","none");
    $(".read_more").css("display","block");
    $(".read_more").click(function() {
      $(".read_more").css("display","none");
      $(".read_less,.read_more_wrap").css("display","block");
    });
    $(".read_less").click(function() {
      $(".read_more_wrap,.read_less").css("display","none");
      $(".read_more").css("display","block");
    });
  });
  $().ready(function(){
    - unless Rails.env.test?
      initializeRegionMap(
        [#{@region_data[0].join(', ')}],
        [#{@region_data[1].join(', ')}],
        [#{@region_data[2].join(', ')}],
        [#{@region_data[3].join(', ').html_safe}]
      );
  });
  
