.div_container_column.div_01_outer
  .div_01
    %p.red.font18.sans.bold.p1
      %span{:style => 'width:42px;margin-right: 5px;'}
        =image_tag( 'icon-color-noBGsvg.svg', :alt => 'splash', :style => 'height:42px;', :class => 'splash')
      Welcome to Pinball Map!
    %p.p2
      %span{:style => 'max-width:500px;min-width:100px'}
        Founded in 2008, Pinball Map is an open source, crowdsourced worldwide map of public pinball machines.
    %p.bold.p3
      = link_to 'Explore the Map', map_path
    %p.p2
      %span
        - if mobile_device?
          Better yet! Use the
        - else
          And check out the
        award-winning
        = link_to "mobile app", app_path, :style => "color: #fd0091;"
    %p.italic.flex_center
      =image_tag( 'machine-pink.png', :alt => 'machine', :style => 'height:32px;margin-right:5px;', :class => 'splash')
      The map was last updated
      =distance_of_time_in_words(Time.now, @last_updated_time)
      ago
    %p
      =(@top_machines)
.div_container_row
  .div_01b.serif
    %p.red.font18.sans.bold News!
    %p
      The Fall 2022 stickers are IN! They might be our shiniest stickers yet. Brushed gold with black ink. Buy them on our
      = link_to 'Pinball Map official sanctioned licensed and bonded store!', store_path, :class => "bold"
    %p
      Pinball Map was voted Best Pinball App in the 2021
      = link_to "TWIPy Awards!", "https://twipys.com/", :target => '_blank'
      = link_to "Thank you for voting for us!", "https://blog.pinballmap.com/2022/03/29/2021-TWIPY-Award/", :target => '_blank', :class => "bold"
    %p
      Check the
      = link_to "blog", "https://blog.pinballmap.com/", :class => "bold"
      to keep up with map news.
      = link_to "Support Pinball Map via Patreon.", "https://patreon.com/pinballmap", :class => "bold", :target => '_blank'
    %p
      Looking for a fun and friendly way to chat with us, as well as with other pinball lovers? Join
      = link_to 'The Pinball People', 'https://discord.gg/XffPx6VKTv', :class => "bold", :target => '_blank'
      Discord!
    %p
      Did you know
      = link_to 'Pinball Map has an open API?', apipie_apipie_path
      = link_to 'Stern Pinball', 'https://sternpinball.com/pinball-locator/', :target => '_blank'
      uses our data for their machine locator. Our API is also used by
      = link_to 'Matchplay Events', 'https://matchplay.events/', :target => '_blank'
      and
      = link_to 'Pindigo', 'https://pindigo.app/', :target => '_blank'
      and
      = link_to 'Scorbit', 'https://scorbit.io/', :target => '_blank'
      and many others! If you use the data, please provide attribution!
  .div_01b.serif.read_more_wrap
    %p.red.font18.sans.bold And more
    %p
      Pinball Map is listing
      %span.red.font18.sans.bold
        #{number_with_delimiter(Location.all.count,:delimiter => ",")}
      locations and
      %span.red.font18.sans.bold
        #{number_with_delimiter(LocationMachineXref.all.count,:delimiter => ",")}
      machines.
    %p
      This is a user-powered map. You can help keep it up to date by adding and removing machines, submitting new locations, and telling your friends to use it!
    %p
      The data is managed by over 100 administrators and thousands of active users.
    %p
      We have a free
      = link_to 'mobile app for iOS and Android.', app_path
    %p
      Pinball Map is not monetized - no ads or premium membership. The
      = link_to 'code is open source.', 'https://github.com/pinballmap/pbm'
      Follow us on Twitter for a massive amount of map updates.
      = link_to '@pinballmapcom', 'https://twitter.com/pinballmapcom', :target => '_blank'
    %p
      = link_to 'Contact us!', 'portland/about'
  - if mobile_device?
    .read_more
    .read_less
.div_container_column
  %p.p1.red.font18.sans.bold
    Recent Blog Posts
  - url = 'https://blog.pinballmap.com/feed.xml'
  - xml = HTTParty.get(url).body
  - feed = Feedjira.parse(xml)
  - feed.entries.take(5).each do |entry|
    %div.m_5.center
      =link_to entry.title, 'https://blog.pinballmap.com' + entry.url, :target => '_blank', :class => 'bold font20'
      %span.block.center.m_5 #{entry.published.strftime("%b %d, %Y")}

.div_container_column.bg_purple
  .div_05
    %p.p1.red.font18.sans.bold
      Regional Maps
    %p
      If the
      = link_to 'big map', map_path
      isn&rsquo;t cutting it for you, you can search for machines in one select area. Please pick a "regional" map below. Regions are predefined geographical areas - they can be a city, county, state, or even a country - that an administrator and the local users created. Each regional map is curated by a local administrator, often with the support of a league.
- if !mobile_device?
  .div_container_column.bg_purple
    .div_02
      #region_map
.div_container_column.bg_purple
  .div_04
    #map_summaries
      #region_list
        - @all_regions.each.map {|r| r.state}.uniq.each do |s|
          %div.state_name_container
            %div.state_name
              %span.state_name #{s}
            %div.region_name_container
              - @all_regions.select {|r| r.state == s}.each do |r|
                %div.region_name
                  =link_to "/#{r.name}" do
                    #{r.full_name}
    .clear
    %br/

:javascript
  $().ready(function(){
    $(".read_less").css("display","none");
    $(".read_more").css("display","block");
    $(".read_more").click(function() {
      $(".read_more").css("display","none");
      $(".read_less,.read_more_wrap").css("display","block");
    });
    $(".read_less").click(function() {
      $(".read_more_wrap,.read_less").css("display","none");
      $(".read_more").css("display","block");
    });
  });

- unless Rails.env.test?
  :javascript
    $().ready(function(){
        initializeRegionMap(
          [#{@region_data[0].join(', ')}],
          [#{@region_data[1].join(', ')}],
          [#{@region_data[2].join(', ')}],
          [#{@region_data[3].join(', ').html_safe}]
        );
    });

