%div.flex_center.flex_column{:style => 'margin-bottom: 20px;'}
  %p.red.bold.p1
    %span{:style => 'width:42px;margin-right: 5px;'}
      =image_tag( 'icon-color-noBGsvg.svg', :alt => 'splash', :style => 'height:42px;', :class => 'splash')
    Welcome to Pinball Map!
  %p.welcome.font20.center.mt_0{:style => 'max-width:540px;min-width:100px;line-height:32px;'}
    Founded in 2008, Pinball Map is an open source, crowdsourced worldwide map of public pinball machines.
  %p.explore
    = link_to 'Explore the Map', map_path
  %p
    %span.red.font18.bold
      #{number_with_delimiter(@locations_count_total,:delimiter => ",")}
    locations and
    %span.red.font18.bold
      #{number_with_delimiter(@machines_count_total,:delimiter => ",")}
    machines
  %div.flex_center.italic.darkgrey
    The map was last updated
    =distance_of_time_in_words(Time.now, @last_updated_time)
    ago
%div.flex_center.bg_lightpurple#app
  =link_to 'Use the App', '#app', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news{:style => 'display: flex;justify-content: center;'}
    =image_tag( 'purple-machine.png', :alt => 'machine', :style => 'height:130px;', :class => 'splash')
  .news
    %p
      On the go? Use the award-winning
      = link_to "Pinball Map mobile app", app_path, :class => "red"
    %p
      Available for both
      %span.bold
        Android
      and
      %span.bold
        iOS.
      It is FREE! No ads, no tracking. Just pinball!
%div.flex_center.mb_10#about
  =link_to 'About', '#about', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'portland/app_logo-350.jpg', :alt => 'portland logo',:style => 'height:260px;', :class => 'splash')
  .news
    %p
      This is a user-powered map. Create an account and then keep the map up to date by adding and removing machines, submitting new locations, and
      =link_to 'telling your friends', map_flier_path
      about it!
    %p
      The data is managed by over 100 administrators and thousands of active users.
    %p
      Pinball Map is not monetized - no ads or premium membership. The
      = link_to 'code is open source.', 'https://github.com/pinballmap/pbm'
    %p
      = link_to 'Contact us!', 'portland/about', :class => "bold"
  - if !mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'portland/app_logo-350.jpg', :alt => 'portland logo',:style => 'height:260px;', :class => 'splash')
%div.flex_center.bg_lightpurple#stickers
  =link_to 'Stickers', '#stickers', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news
    =link_to image_tag('pbm-both-stickers.png', :alt => 'Pinball Map Store', :style => 'width: 100%;'), store_path, :target => "_blank"
  .news
    %p
      We have
      %span.bold{:style => 'color:#fe46b0;'}
        pink
      and
      %span.bold{:style => 'color:#47475f;'}
        black
      stickers!
    %p
      And also brushed gold with black ink ones.
    %p
      Purchase them through the
      = link_to 'Pinball Map store!', store_path, :class => "bold"
%div.flex_center#support
  =link_to 'Support Us', '#support', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news
      =link_to image_tag('become_a_patron_button@2x.png', :alt => 'Become a Patron', :style => 'width: 100%;'), "https://patreon.com/pinballmap", :target => "_blank"
  .news
    %p
      = link_to "Support Pinball Map via Patreon.", "https://patreon.com/pinballmap", :class => "bold", :target => '_blank'
      All our operating costs are covered by supporters!
    %p
      Pinball Map was voted Best Pinball App in the 2021
      = link_to "TWIPy Awards!", "https://twipys.com/", :target => '_blank'
      = link_to "Thank you for voting for us!", "https://blog.pinballmap.com/2022/03/29/2021-TWIPY-Award/", :target => '_blank', :class => "bold"
  - if !mobile_device?
    .news
      =link_to image_tag('become_a_patron_button@2x.png', :alt => 'Become a Patron', :style => 'width: 100%;'), "https://patreon.com/pinballmap", :target => "_blank"
%div.flex_center.bg_lightpurple#more
  =link_to 'Keep Up', '#more', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news
    =image_tag( 'mappin-logo-600.orig.png', :alt => 'mapping logo', :style => 'height: 310px;', :class => 'splash')
  .news
    %p
      Check the
      = link_to "blog", "https://blog.pinballmap.com/", :class => "bold"
      to keep up with map news.
    %p
      Our current meager social media presence is
      = link_to 'on Mastodon.', 'https://fosstodon.org/@pinballmap', :target => '_blank', :class => "bold"
    %p
      We can be regularly found in the
      = link_to 'Pinball People Discord.', 'https://discord.gg/XffPx6VKTv', :class => "bold", :target => '_blank'
      It's a fun and friendly way to chat with other pinballers!
    %p
      What else... also got a Mastodon bot that posts random locations:
      = link_to '@OddPinballMap', 'https://botsin.space/@OddPinballMap', :target => '_blank', :class => "bold"
    %p
      The podcast is back!
      = link_to "Mappin' Around with Scott & Ryan.", 'https://pod.pinballmap.com/', :target => '_blank', :class => 'bold'
      After four cold and dreary years, we are again making new episodes.
%div.flex_center#api
  =link_to 'API', '#api', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'cleo.png', :alt => 'cleo', :style => 'height: 220px;', :class => 'splash')
  .news
    %p
      Not only is the Pinball Map website and app open source, but there is also
      = link_to 'an API!', apipie_apipie_path
      With it, you can pull down map data and use it on your cool app.
    %p
      = link_to 'Stern Pinball', 'https://sternpinball.com/pinball-locator/', :target => '_blank'
      uses our data for their machine locator. Our API is also used by
      = link_to 'Matchplay Events', 'https://matchplay.events/', :target => '_blank'
      and
      = link_to 'Pindigo', 'https://pindigo.app/', :target => '_blank'
      and
      = link_to 'Scorbit', 'https://scorbit.io/', :target => '_blank'
      and
      = link_to 'Kineticist', 'https://www.kineticist.co/', :target => '_blank'
      and many others!
    %p
      %span.bold If you use the data, please provide attribution!
  - if !mobile_device?
    .news{:style => 'display: flex;justify-content: center;'}
      =image_tag( 'cleo.png', :alt => 'cleo', :style => 'height: 220px;', :class => 'splash')
%div.flex_center.bg_lightpurple#operators
  =link_to 'Operators', '#operators', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news{:style => 'display: flex;justify-content: center;'}
    =image_tag( 'playing.jpg', :alt => 'playing', :style => 'height: 260px;', :class => 'splash')
  .news
    %p
      Over the years we have created tools to help out operators. You can register your business in our system, tag all your locations, and receive email notifications when people leave comments on your machines.
    %p
      If you want to quickly look up all your locations, try this special map!
    %p.explore.center{:style => 'line-height: 50px;margin: 20px 0;'}
      = link_to 'Operators Map', operators_path
    %p 
      To be added to our system, and to receive email notifications (please specify that you want this), 
      = link_to 'Contact us!', 'portland/about', :class => "bold"
%div.flex_center#stack
  =link_to 'Stack', '#stack', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex
  - if mobile_device?
    .news.center
      =link_to image_tag( 'stack-dokku-logo.svg', :alt => 'dokku logo', :style => 'width: 220px;', :class => 'pb_15'), 'https://dokku.com/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-expo-logo.png', :alt => 'expo logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://expo.dev/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-scout-logo.png', :alt => 'scout APM logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://scoutapm.com/', :target => '_blank'
  .news
    %p
      The Pinball Map website, API, and app make extensive use of many free and/or open source services (as well as paid services). The website uses 
      =link_to 'Ruby on Rails', 'https://rubyonrails.org/', :target => '_blank', :class => 'bold'
      along with open source gems. The app uses 
      =link_to 'React Native', 'https://reactnative.dev/', :target => '_blank', :class => 'bold'
      and likewise is aided by many open source modules.
    %p
      =link_to 'Dokku.', 'https://dokku.com/', :target => '_blank', :class => 'bold'
      We use Dokku to build and deploy Pinball Map! It is a free service, though we support it with a monthly donation.
    %p 
      =link_to 'DigitalOcean', 'https://www.digitalocean.com/', :target => '_blank', :class => 'bold'
      hosts our server and Postgresql database. This is fully paid for via our Patreon supporters.
    %p
      =link_to 'Mapbox', 'https://www.mapbox.com/', :target => '_blank', :class => 'bold'
      is used for map tiles. 
    %p
      =link_to 'Expo', 'https://expo.dev/', :target => '_blank', :class => 'bold'
      manages, among many things, the app development and build processes. 
    %p
      =link_to 'Scout APM', 'https://scoutapm.com/', :target => '_blank', :class => 'bold'
      tracks performance monitoring for the website and API.
    %p
      =link_to 'Sentry', 'https://sentry.io/', :target => '_blank', :class => 'bold'
      is used for crash reporting on the app!
    %p
      =link_to 'Google Maps', 'https://developers.google.com/maps', :target => '_blank', :class => 'bold'
      processes the geocoding requests. We also use the Places API for location submissions.
  - if !mobile_device?
    .news.center
      =link_to image_tag( 'stack-dokku-logo.svg', :alt => 'dokku logo', :style => 'width: 220px;', :class => 'pb_15'), 'https://dokku.com/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-expo-logo.png', :alt => 'expo logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://expo.dev/', :target => '_blank'
      %br/
      =link_to image_tag( 'stack-scout-logo.png', :alt => 'scout APM logo', :style => 'width: 220px;', :class => 'pt_5'), 'https://scoutapm.com/', :target => '_blank'
%div.flex_center.bg_lightpurple#blog
  =link_to 'Recent Blog Posts', '#blog', :class => "red font28 bold mt_20 mb_5 no_underline"
%div.flex_center.mobile_flex.bg_lightpurple
  .news{:style => 'display: flex;justify-content: center;'}
    =image_tag( 'sassy.jpg', :alt => 'sassy', :style => 'height: 260px;', :class => 'splash')
  .news
    %p
      =link_to 'The Podcast is Back', 'https://blog.pinballmap.com/2024/03/26/podcast-is-back/', :target => '_blank', :class => 'bold font18'
      %span.block.italic.m_5 March 26, 2024
    %p
      =link_to 'Reflecting on 2023', 'https://blog.pinballmap.com/2023/12/28/reflecting-on-2023/', :target => '_blank', :class => 'bold font18'
      %span.block.italic.m_5 December 28, 2023
    %p
      =link_to 'Pinball Map App Now Available On Tidbyt', 'https://blog.pinballmap.com/2023/11/04/tidbyt-app/', :target => '_blank', :class => 'bold font18'
      %span.block.italic.m_5 November 4, 2023
    %p
      =link_to 'Pinball Map Seminar at Pinball Expo 2023', 'https://blog.pinballmap.com/2023/10/22/pinball-map-seminar-at-pinball-expo/', :target => '_blank', :class => 'bold font18'
      %span.block.italic.m_5 October 22, 2023
    %p
      =link_to 'Pinball Map App 5.3.0', 'https://blog.pinballmap.com/2023/08/31/pinball-map-app-5-3-0/', :target => '_blank', :class => 'bold font18'
      %span.block.italic.m_5 August 31, 2023
%div.flex_center.flex_column.mb_20#regions
  .region_map
    %p.center
      =link_to 'Regional Maps', '#regions', :class => "brightpurple font28 bold mt_20 mb_5 no_underline"
    %p
      If the
      = link_to 'big map', map_path
      isn&rsquo;t cutting it for you, you can search for machines in one select area. Please pick a "regional" map below. Regions are predefined geographical areas - they can be a city, county, state, or even a country - that an administrator and the local users created (a long time ago!). Each regional map is curated by a local administrator, often with the support of a league.
    #region_list
      - @all_regions.each.map {|r| r.state}.uniq.each do |s|
        %div.state_name_container
          %div.state_name
            %span.state_name #{s}
          %div.region_name_container
            - @all_regions.select {|r| r.state == s}.each do |r|
              %div.region_name
                =link_to "/#{r.name}" do
                  #{r.full_name}
