#region_page_body
  - if mobile_device?
    %div.search_modal{:onclick => "showSearchModal();"}
      %button SEARCH
  #form_container
    #form
      - if mobile_device?
        %div.close_button{:onclick => "hideSearchModal();"}
          X
      = form_tag map_location_data_path, :method => 'get', :id => 'address_search_form', :class => 'location_search' do
        = hidden_field_tag :by_machine_id
        = hidden_field_tag :by_location_id
        .map_input.block
          %span Machine
          = text_field_tag "by_machine_name", params["by_machine_name"], :class => 'lookup_search_input', :placeholder => @machine_placeholder
        .map_input.block
          %span Near
          = text_field_tag "address", params[:address], :class => 'lookup_search_input', :placeholder => @big_cities_placeholder
        %hr
        .map_input.inline
          %span Venue
          = text_field_tag "by_location_name", params["by_location_name"], :class => 'lookup_search_input', :placeholder => @location_placeholder
        = image_submit_tag('search_icon.png', :class => 'map search', :id => "location_search_button")

  #map
    = render :partial => 'locations/map', locals: { lat: @random_lat, lon: @random_lon }

  #search_link_wrapper.hide_button.toggle_btn_reg
    =link_to "Link to this Search Result", "", :id => "search_link"
  #mapFollow_wrapper.hide_button.toggle_btn_reg
    %span.red.font16.p_5.m_5{:style => 'background-color:#fff1f1;', :id => "zoom_in_more"}
      Zoom in further to refresh results!
    %input{:type => "checkbox", :id => "followCheck", :name => "followCheck", :class => "m_0"}
    %span.font16 Redo results when map is moved?

  #lookup.map_lookup
    #locations
      #intro.serif
        %p
          %span.red.font16.sans.bold This map is best maintained with the help of YOU.
          Please
          %span.red.font16.sans.bold "add"
          and
          %span.red.font16.sans.bold "remove"
          machines to/from locations to keep things up to date. And
          %span
            =link_to 'submit new locations', map_location_suggest_path
          that aren't on the map.
        %p
          Pinball Map is currently listing a total of
          %span.red.font18.sans.bold
            #{number_with_delimiter(Location.count,:delimiter => ",")}
          locations and
          %span.red.font18.sans.bold
            #{number_with_delimiter(LocationMachineXref.count,:delimiter => ",")}
          machines.
        %p
          Check out our
          =link_to 'mobile app.', app_path
        %p
          = link_to "Support Pinball Map via Patreon", "https://patreon.com/pinballmap", :class => "bold"

:javascript
  $('#address_search_form').on('submit', function(e) {
    hideSearchModal();
    $(".mask").hide();
    if (mapAdjusted = 1) { //reset checkbox
      mapAdjusted = 0;
      $('#followCheck').prop('checked', false);
    }
    $('#search_link_wrapper').css('display','block');
    e.preventDefault();
    search_string = $("#address_search_form :input").filter(function(index, element) { return $(element).val() != ''; }).serialize();

    var form = $(this);

    $('#locations').html(loadingHTML());

    $.get(form.attr('action'), form.serialize(), function(data, textStatus, jqxhr) {
      $('#locations').html(data);
    });

    return false;
  });

:javascript
  var ismap = 1;
  $(function () {
    $('#by_location_name').bind('input', function(event, ui) {
      event.preventDefault();
      $('#address').val('');
      $('#by_machine_id').val('');
      $('#by_machine_name').val('');
    });

    $('#by_machine_name').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#by_machine_id').val('');
    });

    $('#address').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
    });

    $('#by_location_name').autocomplete({source: '/locations/autocomplete'});
    $('#by_location_name').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_machine_id').val('');
      $('#by_machine_name').val('');
      $('#by_location_id').val(ui.item.id);
      $('#by_location_name').val(ui.item.value);
    });

    $('#by_machine_name').autocomplete({source: '/machines/autocomplete'});
    $('#by_machine_name').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#by_machine_id').val(ui.item.id);
      $('#by_machine_name').val(ui.item.value);
    });

    $('#address').autocomplete({source: '/locations/autocomplete_city'});
    $('#address').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#address').val(ui.item.value);
    });
  });
