#page_body
  .left_column.secondary
    - if user_signed_in?
      %p.donate.darkb #{Authorization.current_user.username}
      %p Member since: #{Authorization.current_user.created_at.strftime('%m-%d-%Y')}
      %p 
        =link_to "Update email or password", "http://#{request.host_with_port}/users/edit"
    - else
      %p.darkb 
        Please
        = link_to 'Log In', "http://#{request.host_with_port}/users/sign_in"
        to view your profile!     
  .right_column.right_column_profile
    - if user_signed_in?
      %p.darkbl.stats 
        Number of machines added:
        %span.stats
          #{Authorization.current_user.num_machines_added}
      %p.darkbl.stats 
        Number of machines removed:
        %span.stats
          #{Authorization.current_user.num_machines_removed}
      %p.darkbl.stats 
        Number of locations suggested:
        %span.stats
          #{Authorization.current_user.num_locations_suggested}
      %p.darkbl.stats
        Number of locations edited:
        %span.stats
          #{Authorization.current_user.num_locations_edited}
      %p.darkbl.stats
        List of locations edited:
        %span.stats
          #{raw(Authorization.current_user.profile_list_of_edited_locations(request.host_with_port))}
      %p.darkbl.stats 
        High scores:
        %span.stats
          #{raw(Authorization.current_user.profile_list_of_high_scores)}
    - else
      %p Oh what cool stats you'll see here once you've signed in and updated your pinball map. But until then...
      
