#region_page_body
  - if mobile_device?
    %div.search_modal{:onclick => "showSearchModal();"}
      %button SEARCH
  #form_container
    #form
      = render :partial => 'locations/form'
  - if mobile_device?
    #map
      = render :partial => 'locations/map'
  #search_link_wrapper.hide_button.toggle_btn_reg
    =link_to "Link to this Search Result", "", :id => "search_link"
  #mapFollow_wrapper.hide_button.toggle_btn_reg
    %span.red.font16.p_5.m_5{:style => 'background-color:#fff1f1;', :id => "zoom_in_more"}
      Zoom in further to refresh results!
    %input{:type => "checkbox", :id => "followCheck", :name => "followCheck", :class => "m_0"}
    %span.font16 Redo results when map is moved?
  #lookup
    #locations
      = render :partial => 'pages/intro'
      - if !@region.motd.blank?
        %p.bg_vlightpurple.radius5
          %span.red.font18.sans.bold Message of the Day:
          = @region.html_motd
      = yield :presearch_sidebar
  - if !mobile_device?
    #map
      = render :partial => 'locations/map'
