#region_page_body
  #form.toggle_reg_lookup
    = form_tag regionless_location_data_path, :method => 'get', :id => 'address_search_form', :class => 'location_search' do
      = hidden_field_tag :by_machine_id
      = hidden_field_tag :by_location_id
      .regionless_input
        %span Machine
        = text_field_tag "by_machine_name", params["by_machine_name"], :class => 'lookup_search_input', :placeholder => 'e.g. Iron Maiden'
      .regionless_input
        %span Near
        = text_field_tag "address", params[:address], :class => 'lookup_search_input', :placeholder => 'e.g. Portland, OR'
      %hr
      .regionless_input.inline
        %span Location
        = text_field_tag "by_location_name", params["by_location_name"], :class => 'lookup_search_input', :placeholder => 'e.g. Ground Kontrol'
      = image_submit_tag('search_icon.png', :class => 'search', :id => "location_search_button")

    - if !mobile_device?
      #min_lookup_wrapper.hide_button.slide_left.toggle_btn_reg{:onclick => "min_lookup()"}
    #mapFollow_wrapper.hide_button.toggle_btn_reg
      %input{:type => "checkbox", :id => "followCheck", :name => "followCheck", :onchange => 'unChecked();'}
      Redo results when map is moved?
    #search_link_wrapper.hide_button.toggle_btn_reg
      =link_to "Link to this Search Result", "", :id => "search_link"

  #map
    = render :partial => 'locations/map', locals: { lat: 45.512794, lon: -122.679565 }
    
  #lookup.toggle_reg_lookup
    #locations
      #intro
        %p.dark.hello
          One Map To Rule Them All
        %p
          This pinball map has locations from 
          %span.bold.red all 
          the 
          = link_to "regions", root_path
          as well as “regionless” locations.
        %p 
          It is currently listing a total of 
          %span.darkb 
            #{number_with_delimiter(Location.count,:delimiter => ",")} 
          locations and 
          %span.darkb 
            #{number_with_delimiter(LocationMachineXref.count,:delimiter => ",")} 
          machines.
        %p 
          This map is in
          %span.bold.red
            BETA! 
          That means it’s not in its final form. We’ll be continuously enhancing the search experience. But to do so, it would help if you used it and 
          = link_to "gave us feedback!", about_path('portland')
        %p    
          You can
          = link_to "submit locations here.", regionless_location_suggest_path
          Doesn’t matter if the location fits within one of our regions. We’re aiming for more comprehensive coverage.
        %p
          If you prefer to navigate the map via your trusted home region, 
          = link_to "go here to find it.", root_path

:javascript
  $('#address_search_form').on('submit', function(e) {
    e.preventDefault();
    search_string = $( this ).serialize();

    var form = $(this);

    $('#locations').html(loadingHTML());

    $.get(form.attr('action'), form.serialize(), function(data, textStatus, jqxhr) {
      $('#locations').html(data);
    });

    return false;
  });

:javascript
  $(function () {
    $('#by_location_name').bind('input', function(event, ui) {
      event.preventDefault();
      $('#address').val('');
      $('#by_machine_id').val('');
      $('#by_machine_name').val('');
    });

    $('#by_machine_name').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#by_machine_id').val('');
    });

    $('#address').bind('input', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
    });

    $('#by_location_name').autocomplete({source: '/locations/autocomplete'});
    $('#by_location_name').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_machine_id').val('');
      $('#by_machine_name').val('');
      $('#by_location_id').val(ui.item.id);
      $('#by_location_name').val(ui.item.value);
    });

    $('#by_machine_name').autocomplete({source: '/machines/autocomplete'});
    $('#by_machine_name').bind('autocompleteselect', function(event, ui) {
      event.preventDefault();
      $('#by_location_id').val('');
      $('#by_location_name').val('');
      $('#by_machine_id').val(ui.item.id);
      $('#by_machine_name').val(ui.item.value);
    });
  });

:javascript
  function min_lookup() {
    $("#lookup,#form").toggleClass("toggle_min_lookup");
    $("#lookup,#form").toggleClass("toggle_reg_lookup");
    $("#min_lookup_wrapper").toggleClass("slide_left slide_right");
    $("#mapFollow_wrapper, #search_link_wrapper, #min_lookup_wrapper").toggleClass("toggle_map_btn");
    $("#mapFollow_wrapper, #search_link_wrapper, #min_lookup_wrapper").toggleClass("toggle_btn_reg");
  }
