#region_page_body
  #form.toggle_reg_lookup
    = render :partial => 'locations/form'
  - if mobile_device?
    #map
      = render :partial => 'locations/map'
  #lookup.toggle_reg_lookup
    #locations
      = render :partial => 'pages/intro'
      - if !@region.motd.blank?
        %p
          %span.darkb Message of the Day:
          = @region.html_motd
      = yield :presearch_sidebar
  - if !mobile_device?
    #map.desktop_map
      = render :partial => 'locations/map'
