#region_page_body
  - if mobile_device?
    %div.search_modal{:onclick => "showSearchModal();"}
      %button SEARCH
  #form_container
    #form
      = render :partial => 'locations/form'
  - if mobile_device?
    #map
      = render :partial => 'locations/map'
  #lookup
    #locations
      = render :partial => 'pages/intro'
      - if !@region.motd.blank?
        %p.gray_bg
          %span.darkb Message of the Day:
          = @region.html_motd
      = yield :presearch_sidebar
  - if !mobile_device?
    #map
      = render :partial => 'locations/map'
