#page_body
  .column_container.stats_container
    .column.w_560.bg_vlightpurple
      %p.red.bold.p1 Pinball Map Stats
      %p Started mapping in 2008.
      %p
        Currently listing
        %span{:class => 'red font18 bold'}
          #{number_with_delimiter(@locations_count_total,:delimiter => ",")}
        locations and
        %span{:class => 'red font18 bold'}
          #{number_with_delimiter(@machines_count_total,:delimiter => ",")}
        machines.
      %p
        #{number_with_delimiter(@users_count_total,:delimiter => ",")} registered user accounts (since 2017).
      %p
        #{number_with_delimiter(@user_submissions_total,:delimiter => ",")} maps edits (since 2015-ish).
      %p
        #{number_with_delimiter(@user_submissions_week,:delimiter => ",")} map edits in the last week.
      %p.font20.center.bold.pbt_5.bg_lightpurple
        Top 25 machines
      - @top_25.each do |row|
        %div{:style => 'display: flex; flex-direction: row; justify-content: space-between; padding: 0 10px;'}
          %p== #{link_to "#{row['machine_name']} (#{row['manufacturer']}, #{row['year']})", "/map?by_machine_id=#{row['id']}"}
          %p.bold.stat_values #{number_with_delimiter(row['machine_count'],:delimiter => ",")}
      %p.font20.center.bold.pbt_5.bg_lightpurple
        Top 10 cities by number of locations
      - @top_cities.each do |row|
        %div{:style => 'display: flex; flex-direction: row; justify-content: space-between; padding: 0 15px;'}
          %p #{row.city}
          %p.bold.stat_values #{number_with_delimiter(row.location_count,:delimiter => ",")}
      %p.font20.center.bold.pbt_5.bg_lightpurple
        Top 10 cities by number of machines
      - @top_cities_by_machine.each do |row|
        %div{:style => 'display: flex; flex-direction: row; justify-content: space-between; padding: 0 10px;'}
          %p #{row.city}
          %p.bold.stat_values #{number_with_delimiter(row.machines_count,:delimiter => ",")}
      %p.font20.center.bold.pbt_5.bg_lightpurple
        Top 25 users (# of edits)
      - @top_users.each do |row|
        %div{:style => 'display: flex; flex-direction: row; justify-content: space-between; padding: 0 10px; align-items: flex-end;'}
          %p #{row.username}
          %p.bold.stat_values #{number_with_delimiter(row.user_submissions_count,:delimiter => ",")}


