#page_body
  .column_container
    .column.bg_vlightpurple.w_640.suggest
      %p.red.bold.p1 Suggest a New Location
      - if user_signed_in?
        %p.center Please check first that we don't already list the location.
        %p.center Do not submit your home (even if it's a short-term rental).
        %p.center We review all location submissions (0 - 7 days).
        #location_maker
          = form_tag @region ? submitted_new_location_path : map_submitted_new_location_path, :method => 'post', :id => "submit_location" do
            = hidden_field_tag :place_id
            %ul
              %li
                %label{:for => "location_name"} Location Name:
                #place_autocomplete_container
                .location_name_result{style: "display:none;"}
                  %input{type: "text", id: "location_name", name: "location_name", class: "text"}
                  %a{href: "#", id: "search_again"} Search again
              %li
                %label{:for => "location_street"} Street:
                %input{:type => "text", id: "location_street", :name => "location_street", :params => "location_street", :class => "text", required: true}
              %li
                %label{:for => "location_city"} City:
                %input{:type => "text", id:"location_city", :name => "location_city", :params => "location_city", :class => "text"}
              %li
                %label{:for => "location_state"} State:
                - if @states.size > 0
                  = select_tag :location_state, options_for_select(@states)
                - else
                  %input{:type => "text", id:"location_state", :name => "location_state", :params => "location_state", :class => "text"}
              %li
                %label{:for => "location_zip"} Zip:
                %input{:type => "text",  id:"location_zip", :name => "location_zip", :params => "location_zip", :class => "text"}
              %li
                %label{:for => "location_country"} Country:
                = country_select('suggested_location', 'location_country', {include_blank: true}, {id:"location_country", name: 'location_country'})
              %li
                %label{:for => "location_phone"} Phone:
                %input{:type => "text", id:"location_phone", :name => "location_phone", :params => "location_phone", :class => "text"}
              %li
                %label{:for => "location_website"} Website:
                %input{:type => "text", id:"location_website", :name => "location_website", :params => "location_website", :class => "text"}
              %li
                %label{:for => "location_type"} Location Type:
                = select_tag :location_type, options_for_select(@location_types)
              - if @operators.size > 1
                %li
                  %label{:for => "location_operator"} Operator:
                  = select_tag :location_operator, options_for_select(@operators)
              - if @zones.size > 1
                %li
                  %label{:for => "location_zone"} Zone:
                  = select_tag :location_zone, options_for_select(@zones)
              .clear
              %li.textbox
                %label{:for => "location_comments"} Comments:
                %textarea{:type => "text", :name => "location_comments", :params => "location_comments", :class => "text", :placeholder => 'Opening date; hours; type of payment system(s) they use (door fee, cash, cards); accessibility issues'}
              %li.machines_textinput
                %label{:for => "location_type"} Machines:
                = select_tag "location_machines", options_from_collection_for_select(Machine.all.sort_by(&:massaged_name), 'id', 'name_and_year', params["location_machines_ids"]), multiple: "multiple", :class => 'location_machines', :id => 'location_machines', name: "location_machines_ids[]", required: true
              %li.brightpurple
                Unsure what "model" the machine is (e.g., Pro, Premium, LE, etc.)? The safest assumption is Pro (the baseline model).
              %li.submit.mt_5{:style => "clear:both;"}
                %input{:type => "submit", :value => "Submit New Location", :class => "submit_button"}
      - else
        %p.center== To suggest a new location you first need to #{link_to 'login', new_user_session_path, :class => "red bold"}. Thank you!
:javascript

  async function initMap() {
    const placeAutocomplete = new google.maps.places.PlaceAutocompleteElement();
    document.getElementById('place_autocomplete_container').appendChild(placeAutocomplete);

    const countryList = ["AT", "BE", "DE", "GB", "FI", "FR", "HK", "HR", "HU", "NL", "NO", "PL", "PT", "NZ", "RO", "SI", "SE"];

    let typedAutocompleteValue = '';
    placeAutocomplete.addEventListener('input', (e) => {
      typedAutocompleteValue = e.composedPath()[0].value;
    });

    document.getElementById('submit_location').addEventListener('submit', function(event) {
      if (!document.getElementById('location_name').value) {
        document.getElementById('location_name').value = typedAutocompleteValue;
      }

      const nameInput = document.getElementById('location_name');
      if (!nameInput.value) {
        event.preventDefault();
        document.getElementById('place_autocomplete_container').style.display = 'none';
        document.querySelector('.location_name_result').style.display = '';
        nameInput.setCustomValidity('Please fill in this field.');
        nameInput.reportValidity();
        nameInput.addEventListener('input', function() { this.setCustomValidity(''); }, { once: true });
        return;
      }

      var placeId = document.getElementById('place_id').value;
      if (!placeId) return;

      event.preventDefault();
      var form = this;

      fetch('/check_place_id?place_id=' + encodeURIComponent(placeId))
        .then(function(response) { return response.json(); })
        .then(function(data) {
          if (!data.duplicate || confirm('This location seems to already be on the map. Did you search first? Are you sure you want to submit it?')) {
            form.submit();
          }
        });
    });

    placeAutocomplete.addEventListener('gmp-select', async ({ placePrediction }) => {
      document.getElementById('location_phone').value = "";
      document.getElementById('location_street').value = "";
      document.getElementById('location_website').value = "";
      document.getElementById('place_id').value = "";
      document.getElementById('location_city').value = "";
      document.getElementById('location_zip').value = "";
      document.getElementById('location_state').value = "";
      document.getElementById('location_country').value = "";

      const place = placePrediction.toPlace();
      await place.fetchFields({
        fields: ['displayName', 'formattedAddress', 'addressComponents', 'websiteURI', 'nationalPhoneNumber', 'internationalPhoneNumber', 'id']
      });

      document.getElementById('location_name').value = place.displayName;
      document.getElementById('location_street').value = place.formattedAddress.split(',')[0];
      if (place.websiteURI) {
        document.getElementById('location_website').value = place.websiteURI;
      }
      if (place.id) {
        document.getElementById('place_id').value = place.id;
      }

      const addressComponents = place.addressComponents;
      const componentsMapLong = {};
      const componentsMapShort = {};
      addressComponents.forEach(component => {
        component.types.forEach(type => {
          componentsMapLong[type] = component.longText;
          componentsMapShort[type] = component.shortText;
        });
      });

      document.getElementById('location_city').value = componentsMapLong["postal_town"] || componentsMapLong["locality"];
      document.getElementById('location_zip').value = componentsMapLong["postal_code"];

      if (countryList.includes(componentsMapShort["country"])) {
        document.getElementById('location_state').value = "";
      } else {
        document.getElementById('location_state').value = componentsMapShort["administrative_area_level_1"];
      }

      document.getElementById('location_country').value = componentsMapShort["country"];

      if (componentsMapShort["country"] == 'US' && place.nationalPhoneNumber) {
        document.getElementById('location_phone').value = place.nationalPhoneNumber;
      } else if (componentsMapShort["country"] != 'US' && place.internationalPhoneNumber) {
        document.getElementById('location_phone').value = place.internationalPhoneNumber;
      }

      document.getElementById('place_autocomplete_container').style.display = 'none';
      document.querySelector('.location_name_result').style.display = '';
    });

    document.getElementById('location_name').addEventListener('input', function() {
      if (!this.value) {
        placeAutocomplete.value = '';
        document.getElementById('place_autocomplete_container').style.display = '';
        document.querySelector('.location_name_result').style.display = 'none';
        placeAutocomplete.focus();
      }
    });

    document.getElementById('search_again').addEventListener('click', function(event) {
      event.preventDefault();
      document.getElementById('place_autocomplete_container').style.display = '';
      document.querySelector('.location_name_result').style.display = 'none';
      document.getElementById('location_name').value = "";
      document.getElementById('location_street').value = "";
      document.getElementById('location_city').value = "";
      document.getElementById('location_zip').value = "";
      document.getElementById('location_state').value = "";
      document.getElementById('location_country').value = "";
      document.getElementById('location_phone').value = "";
      document.getElementById('location_website').value = "";
      document.getElementById('place_id').value = "";
    });
  }

  $(document).ready(function() {
    $('.location_machines').select2({
      placeholder: 'Select the machines at this location',
    });
  });
