#page_body
  .left_column.suggest
    %p.darkb Suggest a New Location
    - if user_signed_in?
      %p Add a new location to the database. Fill in this form. We'll review it to make sure the data works... so don't expect it to show up just yet. Thanks for helping out!
      #location_maker
        = form_tag submitted_new_location_path, :method => 'get' do
          %form#submit_location
            %ul
              %li{:class => "first"}
                %label{:for => "location_name"} Location Name:
                %input{:type => "text", :name => "location_name", :params => "location_name", :class => "text"}
              %li
                %label{:for => "location_street"} Street:
                %input{:type => "text", :name => "location_street", :params => "location_street", :class => "text"}
              %li{:class => "first"}
                %label{:for => "location_city"} City:
                %input{:type => "text", :name => "location_city", :params => "location_city", :class => "text"}
              %li
                %label{:for => "location_state"} State:
                = select_tag :location_state, options_for_select(@states)
              %li{:class => "first"}
                %label{:for => "location_zip"} Zip:
                %input{:type => "text", :name => "location_zip", :params => "location_zip", :class => "text"}
              %li
                %label{:for => "location_phone"} Phone:
                %input{:type => "text", :name => "location_phone", :params => "location_phone", :class => "text"}
              %li{:class => "first"}
                %label{:for => "location_website"} Website:
                %input{:type => "text", :name => "location_website", :params => "location_website", :class => "text"}
              %li
                %label{:for => "location_type"} Location Type:
                %select
                  %option{value: "Bar", :selected => params[:x] == "Bar"}= "Bar"
                  %option{value: "Bar/Restaurant", :selected => params[:x] == "Bar/Restaurant"}= "Bar/Restaurant"
                  %option{value: "Bowling Alley", :selected => params[:x] == "Bowling Alley"}= "Bowling Alley"
                  %option{value: "Pizza Parlor", :selected => params[:x] == "Pizza Parlor"}= "Pizza Parlor"
                  %option{value: "Restaurant", :selected => params[:x] == "Restaurant"}= "Restaurant"
                  %option{value: "Roller Skating Rink", :selected => params[:x] == "Roller Skating Rink"}= "Roller Skating Rink"
              %li
                %label{:for => "location_operator"} Operator:
                %input{:type => "text", :name => "location_operator", :params => "location_operator", :class => "text"}
              %li
                %label{:for => "location_comments"} Comments:
                %textarea{:type => "text", :name => "location_comments", :params => "location_comments", :class => "text comments"}
              %li.machines{:class => "first"}
                %label{:for => "location_machines"} Machines:
                %textarea{:type => "text", :name => "location_machines", :params => "location_machines", :class => "text machines"}
              %li.submit{:style => "clear:both;"}
                %input{:type => "submit", :value => "Submit New Location", :class => "submit_button"}

      %p
        Remember, only use this form if you are adding a new
        %em
          location
        to the map. If you want to add/remove a
        %em
          machine
        to/from a location, just bring up that location on the map and then use the add/remove functions.
    - else
      %p
        But first! We ask that you
        = link_to 'Login.', new_user_session_path, :class => "darkbl"
        Thank you!
