!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Machine name: #{@machine_name}
      %br 
      Location: #{@location_name}
    %p 
      (entered from #{@remote_ip} #{@user_agent}#{@user_info}) 