Here's a weekly overview of your pinball map region! Thanks for keeping your region updated!

#{@region_name} Weekly Overview

List of Empty Locations:
#{@machineless_locations}

List of Suggested Locations:
#{@suggested_locations}

#{@suggested_locations_count} location(s) submitted
#{@locations_added_count} location(s) added
#{@locations_deleted_count} location(s) deleted
#{@machine_comments_count} machine comment(s)
#{@machines_added_count} machine(s) added
#{@machines_removed_count} machine(s) removed

#{@region_name} is listing #{@machines_count} machines and #{@locations_count} locations
#{@events_count} event(s) listed
#{@contact_messages_count} "contact us" message(s) sent
