!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here is a weekly overview of all locations!
    %h3
      Global Weekly Overview
    %p
      %strong List of Empty Locations:
      %br
      - @machineless_locations.each do |ml|
        = ml
        %br
    %p
      #{pluralize(@suggested_locations_count, "location")} submitted
      %br
      #{pluralize(@locations_added_count, "location")} added
      %br
      #{pluralize(@locations_deleted_count, "location")} deleted
      %br
      #{pluralize(@machine_comments_count, "machine comment")}
      %br
      #{pluralize(@machines_added_count, "machine")} added
      %br
      #{pluralize(@machines_removed_count, "machine")} removed
      %br
      #{pluralize(@contact_messages_count, "contact message")}
      %br
      #{pluralize(@pictures_added_count, "picture")} added
      %br
      #{pluralize(@scores_added_count, "score")} added
    %p
      Pinball Map is listing #{@machines_count} machines and #{@locations_count} locations
