Dear Admin: You can approve this location with the click of a button! In the Suggested Locations section, click the "(i)", and then the big "APPROVE LOCATION" button at the top.

But first, check that the location is not already on the map, add any missing fields (like Type, Phone, and Website), confirm the address via https://maps.google.com, and make sure it's a public venue. Thanks!!

Location Name: #{@location_name}

Street: #{@location_street}

City: #{@location_city}

State: #{@location_state}

Zip: #{@location_zip}

Country: #{@location_country}

Phone: #{@location_phone}

Website: #{@location_website}

Type: #{@location_type}

Operator: #{@operator}

Zone: #{@zone}

Comments: #{@location_comments}

Machines: #{@location_machines}

Google Places ID: #{@place_id}

(entered from #{@remote_ip} via #{@headers} #{@user_agent}#{@user_info}) 
