!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here's a weekly overview of your pinball map region! Thanks for keeping your region updated!
    %h3
      #{@region_name} Weekly Overview
    %p
      %strong List of Empty Locations:
      %br
      - @machineless_locations.each do |ml|
        = ml
        %br
    %p
      %strong List of Suggested Locations:
      %br
      - @suggested_locations.each do |sl|
        = sl
        %br
    %p
      #{pluralize(@suggested_locations_count, "location")} submitted
      %br
      #{pluralize(@locations_added_count, "location")} added
      %br
      #{pluralize(@locations_deleted_count, "location")} deleted
      %br
      #{pluralize(@machine_comments_count, "machine comment")}
      %br
      #{pluralize(@machines_added_count, "machine")} added
      %br
      #{pluralize(@machines_removed_count, "machine")} removed
    %p
      #{@region_name} is listing #{number_with_delimiter(@machines_count, :delimiter => ",")} machines and #{number_with_delimiter(@locations_count, :delimiter => ",")} locations
      %br
      #{pluralize(@contact_messages_count, "contact message")}
      %br
      #{pluralize(@pictures_added_count, "picture")} added
      %br
      #{pluralize(@scores_added_count, "score")} added
