Here's a weekly overview of your pinball map region! Thanks for keeping your region updated!

#{@region_name} Weekly Overview

List of Empty Locations:
#{@machineless_locations}

List of Suggested Locations:
#{@suggested_locations}

#{pluralize(@suggested_locations_count, "location")} submitted
#{pluralize(@locations_added_count, "location")} added
#{pluralize(@locations_deleted_count, "location")} deleted
#{pluralize(@machine_comments_count, "machine comment")}
#{pluralize(@machines_added_count, "machine")} added
#{pluralize(@machines_removed_count, "machine")} removed

#{@region_name} is listing #{number_with_delimiter(@machines_count, :delimiter => ",")} machines and #{number_with_delimiter(@locations_count, :delimiter => ",")} locations
#{pluralize(@contact_messages_count, "contact message")}
#{pluralize(@pictures_added_count, "picture")} added
#{pluralize(@scores_added_count, "score")} added
