!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here is the daily global activity digest for #{(Time.now - 1.day).strftime('%m/%d/%Y')}.
    %h3
      Summary
    %p
      #{pluralize(@machines_added_count, "machine")} added
      %br/
      #{pluralize(@machine_removals_count, "machine")} removed
      %br/
      #{pluralize(@machine_comments_count, "machine comment")}
      %br/
      #{pluralize(@pictures_added_count, "picture")} added
      %br/
      #{pluralize(@scores_added_count, "score")} added
      %br/
      #{pluralize(@location_metadata_count, "location metadata update")}
    %h3
      New User Activity (joined within 7 days)
    - @new_user_activity.each do |user|
      %p
        %strong= "#{user[:user_name]} (joined #{time_ago_in_words(user[:joined_at])} ago)"
        - unless user[:comments].empty?
          %br/
          Comments:
          - user[:comments].each do |c|
            %br/
            %a{href: "https://pinballmap.com/map?by_location_id=#{c[:location_id]}"}= c[:location_name]
            \&mdash; #{c[:machine_name]}: "#{c[:comment]}"
        - unless user[:removals].empty?
          %br/
          Removals:
          - user[:removals].each do |r|
            %br/
            %a{href: "https://pinballmap.com/map?by_location_id=#{r[:location_id]}"}= r[:location_name]
            \&mdash; #{r[:machine_name]}
        - unless user[:pictures].empty?
          %br/
          Pictures:
          - user[:pictures].each do |pic|
            %br/
            %a{href: "https://pinballmap.com/map?by_location_id=#{pic[:location_id]}"}= pic[:location_name]
    %h3
      Machine Comments
    - @machine_comments.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:machine_name]
        %br/
        "#{item[:comment]}"
        %br/
        = item[:user_name]
    %h3
      Machine Removals
    - @machine_removals.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:machine_name]
        %br/
        = item[:user_name]
    %h3
      Pictures Added
    - @pictures_added.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:user_name]
    %h3
      Location Metadata Updates
    - @location_metadata.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        Description: #{item[:description]}
        %br/
        = item[:user_name]
    %h3
      Suspected Comment Removal (Remove + Re-add Within 5 Minutes)
    - @remove_and_readd.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:machine_name]
        %br/
        = item[:user_name]
        %br/
        Removed: #{item[:removed_at].strftime('%H:%M:%S')} / Re-added: #{item[:readded_at].strftime('%H:%M:%S')}
    %h3
      Proxy Machine Activity (Machine IDs 847, 1116, 3251)
    - if @proxy_machine_additions&.any?
      %p
        %strong Additions:
      - @proxy_machine_additions.each do |item|
        %p
          %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
          %br/
          = item[:machine_name]
          %br/
          = item[:user_name]
    - if @proxy_machine_comments&.any?
      %p
        %strong Comments:
      - @proxy_machine_comments.each do |item|
        %p
          %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
          %br/
          = item[:machine_name]
          %br/
          "#{item[:comment]}"
          %br/
          = item[:user_name]
    - if @proxy_machine_additions&.empty? && @proxy_machine_comments&.empty?
      %p None
