Potentially duplicate locations found on #{Date.today.strftime('%m/%d/%Y')}.

Same Name + City

- if @name_city_dupes.any?
  - @name_city_dupes.each do |row|
    = "#{row["name"]} / #{row["city"]} (#{row["count"]})"
- else
  None found.

Same Lat + Zip

- if @lat_zip_dupes.any?
  - @lat_zip_dupes.each do |row|
    = "#{row["lat"]} / #{row["zip"]} (#{row["count"]})"
- else
  None found.
