Here is a weekly overview of all locations!

Global Weekly Overview

List of Empty Locations:
- @machineless_locations.each do |ml|
  = ml

#{pluralize(@suggested_locations_count, "location")} submitted
#{pluralize(@locations_added_count, "location")} added
#{pluralize(@locations_deleted_count, "location")} deleted
#{pluralize(@machine_comments_count, "machine comment")}
#{pluralize(@machines_added_count, "machine")} added
#{pluralize(@machines_removed_count, "machine")} removed
#{pluralize(@contact_messages_count, "contact message")}
#{pluralize(@pictures_added_count, "picture")} added
#{pluralize(@scores_added_count, "score")} added

Pinball Map is listing #{@machines_count} machines and #{@locations_count} locations
