!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here's a weekly overview of your pinball map region! Thanks for keeping your region updated!
    %h3
      #{@region_name} Weekly Overview
    %p
      %strong List of Empty Locations:
      %br
      - @machineless_locations.each do |ml|
        = ml
        %br
    %p
      %strong List of Suggested Locations:
      %br
      - @suggested_locations.each do |sl|
        = sl
        %br
    %p
      #{@suggested_locations_count} #{pluralize(@suggested_locations_count, "location")} submitted
      %br
      #{@locations_added_count} #{pluralize(@locations_added_count, "location")} added
      %br
      #{@locations_deleted_count} #{pluralize(@locations_deleted_count, "location")} deleted
      %br
      #{@machine_comments_count} machine #{pluralize(@machine_comments_count, "comment")}
      %br
      #{@machines_added_count} #{pluralize(@machines_added_count, "machine")} added
      %br
      #{@machines_removed_count} #{pluralize(@machines_removed_count, "machine")} removed
    %p
      #{@region_name} is listing #{@machines_count} machines and #{@locations_count} locations
      %br
      #{@events_count} #{pluralize(@events_count, "event")} listed
      %br
      #{@contact_messages_count} "contact us" #{pluralize(@contact_messages_count, "message")} sent
      %br
      #{@pictures_added_count} #{pluralize(@pictures_added_count, "picture")} added
      %br
      #{@scores_added_count} #{pluralize(@scores_added_count, "score")} added
