= simple_format(@message)

- if ( @email.present? )
  Name: #{@name}

  Email: #{@email}

- else
  Username: #{@user_name}

  Email: #{@user_email}

(entered from #{@remote_ip} via #{@headers} #{@user_agent})
