Here is a weekly overview of all locations!

Global Weekly Overview

List of Empty Locations:
- @machineless_locations.each do |ml|
  = ml

#{@suggested_locations_count} #{pluralize(@suggested_locations_count, "location")} submitted
#{@locations_added_count} #{pluralize(@locations_added_count, "location")} added
#{@locations_deleted_count} #{pluralize(@locations_deleted_count, "location")} deleted
#{@machine_comments_count} machine #{pluralize(@machine_comments_count, "comment")}
#{@machines_added_count} #{pluralize(@machines_added_count, "machine")} added
#{@machines_removed_count} #{pluralize(@machines_removed_count, "machine")} removed
#{@contact_messages_count} "contact us" #{pluralize(@contact_messages_count, "message")} sent
#{@pictures_added_count} #{pluralize(@pictures_added_count, "picture")} added
#{@scores_added_count} #{pluralize(@scores_added_count, "score")} added

Pinball Map is listing #{@machines_count} machines and #{@locations_count} locations
