!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here is the daily global activity digest for #{(Time.now - 1.day).strftime('%m/%d/%Y')}.
    %h3
      Summary
    %p
      #{pluralize(@machines_added_count, "machine")} added
      %br/
      #{pluralize(@machine_removals_count, "machine")} removed
      %br/
      #{pluralize(@machine_comments_count, "machine comment")}
      %br/
      #{pluralize(@pictures_added_count, "picture")} added
      %br/
      #{pluralize(@scores_added_count, "score")} added
      %br/
      #{pluralize(@location_metadata_count, "location metadata update")}
    %h3
      Machine Comments
    - @machine_comments.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:machine_name]
        %br/
        "#{item[:comment]}"
        %br/
        = item[:user_name]
    %h3
      Machine Removals
    - @machine_removals.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:machine_name]
        %br/
        = item[:user_name]
    %h3
      Pictures Added
    - @pictures_added.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:user_name]
    %h3
      Location Metadata Updates
    - @location_metadata.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        Description: #{item[:description]}
        %br/
        = item[:user_name]
    %h3
      Suspected Comment Removal (Remove + Re-add Within 5 Minutes)
    - @remove_and_readd.each do |item|
      %p
        %a{href: "https://pinballmap.com/map?by_location_id=#{item[:location_id]}"}= item[:location_name]
        %br/
        = item[:machine_name]
        %br/
        = item[:user_name]
        %br/
        Removed: #{item[:removed_at].strftime('%H:%M:%S')} / Re-added: #{item[:readded_at].strftime('%H:%M:%S')}
