!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Potentially duplicate locations found on #{Date.today.strftime('%m/%d/%Y')}.
    %h3
      Same Name + City
    - if @name_city_dupes.any?
      %table
        %tr
          %th Name
          %th City
          %th Count
        - @name_city_dupes.each do |row|
          %tr
            %td= row["name"]
            %td= row["city"]
            %td= row["count"]
    - else
      %p None found.
    %h3
      Same Lat + Zip
    - if @lat_zip_dupes.any?
      %table
        %tr
          %th Lat
          %th Zip
          %th Count
        - @lat_zip_dupes.each do |row|
          %tr
            %td= row["lat"]
            %td= row["zip"]
            %td= row["count"]
    - else
      %p None found.
