!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    - if ( @email.present? )
      %p
        Name: #{@name}
      %p
        Email: #{@email}
    %p
      Message:
      = simple_format(@message)
    - if ( @user_name.present? )
      %p 
        Username: #{@user_name}
      %p
        Email: #{@user_email}
    %p
      (entered from #{@remote_ip} via #{@headers} #{@user_agent})
