!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Here is a weekly overview of all locations!
    %h3
      Global Weekly Overview
    %p
      %strong List of Empty Locations:
      %br
      - @machineless_locations.each do |ml|
        = ml
        %br
    %p
      #{pluralize(@suggested_locations_count, "location")} submitted
      %br
      #{pluralize(@locations_added_count, "location")} added
      %br
      #{pluralize(@locations_deleted_count, "location")} deleted
      %br
      #{pluralize(@machine_comments_count, "machine comment")}
      %br
      #{pluralize(number_with_precision(@machines_added_count, precision: 0, delimiter: ","), "machine")} added
      %br
      #{pluralize(number_with_precision(@machines_removed_count, precision: 0, delimiter: ","), "machine")} removed
      %br
      #{pluralize(@contact_messages_count, "contact message")}
      %br
      #{pluralize(@pictures_added_count, "picture")} added
      %br
      #{pluralize(@scores_added_count, "score")} added
      %br
      #{pluralize(@scores_deleted_count, "score")} deleted
      %br
      #{pluralize(@machine_comments_deleted_count, "machine comment")} deleted
    %p
      Pinball Map is listing #{number_with_delimiter(@machines_count, :delimiter => ",")} machines and #{number_with_delimiter(@locations_count, :delimiter => ",")} locations
