Here is the daily global activity digest for #{(Time.now - 1.day).strftime('%m/%d/%Y')}.

Machine Comments

- @machine_comments.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:comment]
  = item[:user_name]

Machine Removals

- @machine_removals.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:user_name]

Pictures Added

- @pictures_added.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:user_name]

Location Metadata Updates

- @location_metadata.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = "Description: #{item[:description]}"
  = item[:user_name]

Suspected Comment Removal (Remove + Re-add Within 5 Minutes)

- @remove_and_readd.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:user_name]
  = "Removed: #{item[:removed_at].strftime('%H:%M:%S')} / Re-added: #{item[:readded_at].strftime('%H:%M:%S')}"
