Here is the daily global activity digest for #{(Time.now - 1.day).strftime('%m/%d/%Y')}.

Summary

= pluralize(@machines_added_count, "machine") + " added"
= pluralize(@machine_removals_count, "machine") + " removed"
= pluralize(@machine_comments_count, "machine comment")
= pluralize(@pictures_added_count, "picture") + " added"
= pluralize(@scores_added_count, "score") + " added"
= pluralize(@location_metadata_count, "location metadata update")

New User Activity (joined within 7 days)

- @new_user_activity.each do |user|
  = "#{user[:user_name]} (joined #{time_ago_in_words(user[:joined_at])} ago)"
  - unless user[:comments].empty?
    = "  Comments:"
    - user[:comments].each do |c|
      = "  #{c[:location_name]} (https://pinballmap.com/map?by_location_id=#{c[:location_id]}) - #{c[:machine_name]}: #{c[:comment]}"
  - unless user[:removals].empty?
    = "  Removals:"
    - user[:removals].each do |r|
      = "  #{r[:location_name]} (https://pinballmap.com/map?by_location_id=#{r[:location_id]}) - #{r[:machine_name]}"
  - unless user[:pictures].empty?
    = "  Pictures:"
    - user[:pictures].each do |pic|
      = "  #{pic[:location_name]} (https://pinballmap.com/map?by_location_id=#{pic[:location_id]})"

Machine Comments

- @machine_comments.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:comment]
  = item[:user_name]

Machine Removals

- @machine_removals.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:user_name]

Pictures Added

- @pictures_added.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:user_name]

Location Metadata Updates

- @location_metadata.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = "Description: #{item[:description]}"
  = item[:user_name]

Suspected Comment Removal (Remove + Re-add Within 5 Minutes)

- @remove_and_readd.each do |item|
  = item[:location_name]
  = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
  = item[:machine_name]
  = item[:user_name]
  = "Removed: #{item[:removed_at].strftime('%H:%M:%S')} / Re-added: #{item[:readded_at].strftime('%H:%M:%S')}"

Proxy Machine Activity (Machine IDs 847, 1116, 3251)

- if @proxy_machine_additions&.any?
  = "Additions:"
  - @proxy_machine_additions.each do |item|
    = item[:location_name]
    = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
    = item[:machine_name]
    = item[:user_name]
- if @proxy_machine_comments&.any?
  = "Comments:"
  - @proxy_machine_comments.each do |item|
    = item[:location_name]
    = " (https://pinballmap.com/map?by_location_id=#{item[:location_id]})"
    = item[:machine_name]
    = item[:comment]
    = item[:user_name]
- if @proxy_machine_additions&.empty? && @proxy_machine_comments&.empty?
  = "None"
