Here is a weekly overview of regionless locations!

Regionless Weekly Overview

List of Empty Locations:
- @machineless_locations.each do |ml|
  = ml

List of Suggested Locations:
- @suggested_locations.each do |sl|
  = sl

#{@suggested_locations_count} location(s) submitted
#{@locations_added_count} location(s) added by you
#{@locations_deleted_count} location(s) deleted
#{@machine_comments_count} machine comment(s)
#{@machines_added_count} machine(s) added
#{@machines_removed_count} machine(s) removed

Regionless is listing #{@machines_count} machines and #{@locations_count} locations