.text_col
  %p.yellow
    %span Links:
    %br/
    %br/
    = image_tag 'sandiego/sandiego-sdpc.gif'
    %br/
    = link_to 'San Diego Pinball Club', 'http://www.meetup.com/sdpinball', :class => 'light-blue'
    %br/
    %br/
    %span If you like to play, talk about, collect, repair, or restore pinball machines this is the group for you! We host a monthly pinball league, and occasional tournaments.
    %br/
    = image_tag 'sandiego/sandiego-endless.jpeg'
    %br/
    = link_to 'Endless Pinball', 'http://www.endlesspinball.com/', :class => 'light-blue'
    %br/
    %span Southern California Pinball Sales, Repair, and Restoration.
    %br/
    %br/
    = link_to 'Internet Pinball Database', 'http://ipdb.org/', :class => 'light-blue'
    %br/
    %br/
    = link_to 'PinRepair.com', 'http://www.pinrepair.com/', :class => 'light-blue'
    %br/
    %span Amazing pinball repair guides, for do it yourselfers!
    %br/
    %br/
    = link_to 'rec.games.pinball', 'http://groups.google.com/group/rec.games.pinball/topics', :class => 'light-blue'
    %br/
    %span Worldwide forum to get your pinball questions answered.
