%select{:name => "#{object_type}[operator_id]"}
  <option value=""></option>
  - Operator.includes(:region).all.sort {|a, b| (a.region_id ? a.region.full_name : ' ') <=> (b.region_id ? b.region.full_name : ' ') }.each do |o|
    <option value="#{o.id}" #{o.id == operator_id ? 'selected=select' : ''} >#{o.region ? o.region.full_name : 'NO REGION'} - #{o.name}</option>
