//= require chartkick
//= require Chart.bundle

var map;
var region;
var region_id;
var mapAdjusted = 0;
var mapLoaded = 0;
var search_string;
var zoomLevel;
var locationIDs = new Array();
var searchSections = new Array();
var refresh_bounds;
var by_at_least_n_machines;
var by_type_id;
var by_machine_id;
var by_machine_single_id;
var locations_geojson;
var results_init;
var center_lat;
var center_lon;
var map_init = 0;
var map_init_zoom;
var stored_machine_id = "";
var boundsData;
var selectedLocationID;

function toggleData(name, id) {
  var main = id ? '_' + id : '';

  $('#' + name + main).toggle();
}

function toggle_machine_data(name, id) {
  if (name == 'add_machine_location') {
    $('#add_machine_location_' + id).toggle();
  } else {
    $('#add_machine_location_' + id).hide();
  }
  if (name == 'add_picture_location') {
    $('#add_picture_location_' + id).toggle();
  } else {
    $('#add_picture_location_' + id).hide();
  }
  if (name == 'recent_location_activity_location') {
    $('#recent_location_activity_location_' + id).toggle();
  } else {
    $('#recent_location_activity_location_' + id).hide();
  }
  if (name == 'former_machines_location') {
    $('#former_machines_location_' + id).toggle();
  } else {
    $('#former_machines_location_' + id).hide();
  }
}

function regionMapLocations(region_id) {
  mapAdjusted === 0;
  var region_id = region_id;

  $('#locations').html(loadingHTML());

  $.ajax({
    url: "/region_init_load",
    type: "POST",
    data: { region_id },
    success: function(data) {
      $('#locations').html(data);
      refresh_bounds = undefined;
      mapAdjusted = 0;
    }
  });
}

function homeMapBounds() {
  mapAdjusted === 0;
  locations_geojson = [];
  showLocations();
  map_init = 0;
  setTimeout(getMapBounds, 800);
}

function findClosestLocations() {
  $('#intro_container').css('display','none');
  mapAdjusted = 1;
  $.ajax({
    url: "/map_nearby",
    type: "POST",
    data: { },
    success: function(data) {
      $('#locations').html(data);
      refresh_bounds = undefined;
      mapAdjusted = 0;
      map.getSource("point").setData({
        'type': 'FeatureCollection',
        'features': locations_geojson
      });
    }
  });
}

function getMapBounds(by_at_least_n_machines, by_type_id, by_machine_id, by_machine_single_id) {
  mapAdjusted = 1;
  refresh_bounds = map.getBounds();
  boundsData = {
    ne: refresh_bounds.getNorthEast(),
    sw: refresh_bounds.getSouthWest(),
  };
  $('#locations').html(loadingHTML());

  $.ajax({
    url: "/map_bounds",
    type: "POST",
    data: { boundsData: boundsData, by_at_least_n_machines: by_at_least_n_machines, by_type_id: by_type_id, by_machine_id: by_machine_id, by_machine_single_id: by_machine_single_id },
    success: function(data) {
      $('#locations').html(data);
      refresh_bounds = undefined;
      mapAdjusted = 0;
      map.getSource("point").setData({
        'type': 'FeatureCollection',
        'features': locations_geojson
      });
    }
  });
}

function showLocations() {
  let protocol = new pmtiles.Protocol();
  maplibregl.addProtocol("pmtiles", protocol.tile);

  if (typeof refresh_bounds == 'undefined') {
    var bounds = new maplibregl.LngLatBounds();
    bounds_padding = 50;
  } else {
    var bounds = refresh_bounds;
    bounds_padding = 0;
  }

  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches){
    var map_style = map_style_obj_dark;
  } else {
    var map_style = map_style_obj;
  }

  if (mapLoaded === 1 && map_init === 0 && mapAdjusted === 0 && locations_geojson.length > 0) {
      map.getSource("point").setData({
        'type': 'FeatureCollection',
        'features': locations_geojson
      });
  } else if (mapAdjusted === 0 && mapLoaded === 0) {
    if (map_init == 1) {
      map = new maplibregl.Map({
        container: 'map_canvas',
        style: map_style,
        center: [center_lon, center_lat],
        zoom: map_init_zoom
      });
    } else {
      map = new maplibregl.Map({
        container: 'map_canvas',
        style: map_style,
      });
    }
    map.dragRotate.disable();
    map.keyboard.disable();
    map.touchZoomRotate.disableRotation();
    map.addControl(new maplibregl.ScaleControl({unit: 'imperial'}), 'bottom-right');
    map.addControl(new maplibregl.NavigationControl(), 'bottom-right');
    map.addControl(new maplibregl.FullscreenControl(), 'top-right');
    mapLoaded = 1;
  }

  map.on('load', async () => {
    const promises = [
      map.loadImage("<%= asset_path('marker-1.png') %>"),
      map.loadImage("<%= asset_path('marker-2.png') %>"),
      map.loadImage("<%= asset_path('marker-2-1-sel.png') %>"),
      map.loadImage("<%= asset_path('marker-10.png') %>"),
      map.loadImage("<%= asset_path('marker-10-sel.png') %>"),
      map.loadImage("<%= asset_path('marker-z-1.png') %>"),
      map.loadImage("<%= asset_path('marker-z-2.png') %>"),
      map.loadImage("<%= asset_path('marker-z-10.png') %>"),
      map.loadImage("<%= asset_path('marker-z-sel.png') %>")
    ]
    const [marker_1, marker_2, marker_2_1_sel, marker_10, marker_10_sel, marker_z_1, marker_z_2, marker_z_10, marker_z_sel] = await Promise.all(promises)

    map.addImage('marker-1', marker_1.data);
    map.addImage('marker-2', marker_2.data);
    map.addImage('marker-2-1-sel', marker_2_1_sel.data);
    map.addImage('marker-10', marker_10.data);
    map.addImage('marker-10-sel', marker_10_sel.data);
    map.addImage('marker-z-1', marker_z_1.data);
    map.addImage('marker-z-2', marker_z_2.data);
    map.addImage('marker-z-10', marker_z_10.data);
    map.addImage('marker-z-sel', marker_z_sel.data);

    map.addSource('point', {
      'type': 'geojson',
      'data': {
        'type': 'FeatureCollection',
        'features': locations_geojson
      }
    });

    map.addLayer({
      'id': 'points',
      'type': 'symbol',
      'source': 'point',
      'layout': {
        'icon-image': [
          "step", ["zoom"],
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
            ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
            'marker-z-10']], 9,
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
            ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
            'marker-10']], 11,
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
            ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
            'marker-10']], 13,
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-1',
            ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
            'marker-10']],
        ],
        'icon-size': ["interpolate", ["linear"], ["zoom"], 1, 0.14, 4, 0.18, 9, 0.5, 16, 0.8],
        "symbol-sort-key": ["get", "order"],
        'text-field': ["step", ["zoom"],
          "", 9,
          ["case", [">", ["get", "machine_count"], 9], ["get", "machine_count"], ""], 11,
          ["case", [">", ["get", "machine_count"], 1], ["get", "machine_count"], ""],
          13,
          ["get", "machine_count"],
        ],

        "text-font": ["Noto Sans Medium"],
        'text-size': ["interpolate", ["linear"], ["zoom"], 9, 16, 14, 22],

        "icon-allow-overlap": true,
        "icon-ignore-placement": true,
        "text-allow-overlap": true,
        "text-ignore-placement": false,
      },
      'paint': {
        "text-color": ["case", [">", ["get", "machine_count"], 1], "#FFFFFF", "#000000"]
      }
    });
  });

  if (locations_geojson.length === 1) {
    var location_coords = []
    locations_geojson.forEach(function(feature) {
      location_coords = feature.geometry.coordinates;
    });
    map.setZoom(18);
    map.setCenter(location_coords);
    hideRefresh();
    refreshButton();
  } else if (locations_geojson.length == 0 && typeof refresh_bounds !== 'undefined') {
    map.fitBounds(bounds, { padding: bounds_padding, animate: false });
    hideRefresh();
    refreshButton();
  } else if (locations_geojson.length == 0 && map_init == 0) {
    document.getElementById("map_canvas").innerHTML = "<p id='not_found' class='font28 red bold'>" + "NOT FOUND. PLEASE SEARCH AGAIN." + "<br />" + "Use the dropdown or the autocompleting textbox if you want results." + "</p>";
    mapLoaded = 0;
    hideRefresh();
    document.getElementById('map_activity_button').style.display = "none";
  } else if (locations_geojson.length > 1) {
    locations_geojson.forEach(function(feature) {
      bounds.extend(feature.geometry.coordinates);
    });
    map.fitBounds(bounds, { padding: bounds_padding, animate: false });
    hideRefresh();
    refreshButton();
  }

  map.on('click', 'points', function (e) {
    showLocationDetail(e.features[0].properties.id);
    map.setLayoutProperty('points', 'icon-image',
      ["step", ["zoom"],
      ['match', ['id'], e.features[0].id, 'marker-z-sel',
        ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
        ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
          'marker-z-10']]
      ],
      9,
      ['match', ['id'], e.features[0].id,
        ["case", [">=", ["get", "machine_count"], 10], 'marker-10-sel',
          'marker-z-sel'],
        ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
        ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
          'marker-10']]
      ],
      11,
      ['match', ['id'], e.features[0].id,
        ["case", [">=", ["get", "machine_count"], 10], 'marker-10-sel',
          ["case", [">=", ["get", "machine_count"], 2], 'marker-2-1-sel',
          'marker-z-sel']],
        ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
        ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
          'marker-10']]
      ],
      13,
      ['match', ['id'], e.features[0].id,
        ["case", ["<=", ["get", "machine_count"], 9], 'marker-2-1-sel',
          'marker-10-sel'],
        ["case", ["<=", ["get", "machine_count"], 1], 'marker-1',
        ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
          'marker-10']]
      ]]
    )
  });

  var popup = new maplibregl.Popup({
    offset: 15,
    closeButton: false,
    closeOnClick: false
  });

  map.on('mouseenter', 'points', function (e) {
    map.getCanvas().style.cursor = 'pointer';

    var coordinates = e.features[0].geometry.coordinates.slice();
    var description = e.features[0].properties.name;

    while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
    }

    popup.setLngLat(coordinates).setHTML(description).addTo(map);
  });

  map.on('mouseleave', 'points', function () {
    map.getCanvas().style.cursor = '';
    popup.remove();
  });
}

function hideRefresh() {
  document.getElementById("refresh_button").style.display = "none";
}

function refreshButton() {
  map.on('zoomend', function () {
    document.getElementById("refresh_button").style.display = "block";
    mapAdjusted = 1;
  });
  map.on('dragend', function () {
    document.getElementById("refresh_button").style.display = "block";
    mapAdjusted = 1;
  });
}

function loadingHTML() {
  return "<div class='loading'><img src='<%= asset_path 'map_loading.gif' %>' /></div>";
}

function setOtherSearchOptions(newSection) {
  var html = "<span class='black_text'>Search:</span>";
  for (section in searchSections) {
    html += "  <button id='" + searchSections[section] + "_section_link' onclick='switchSection(\"" + searchSections[section] + "\");'>" + searchSections[section] + "</button>\n"
  }

  $('#other_search_options').html(html);
}

function switchSection(newSection) {
  setOtherSearchOptions(newSection);
  $("div .section:visible").hide();
  $('#by_' + newSection).toggle();
  $("#" + newSection + "_section_link").toggleClass("active_section_link");
}

function initSearch(userFaved, locationIDs, operatorIDs, locationTypeIDs, zoneIDs, machineIDs, machineID, machineGroupId, byMachineIDsIC, byMachineIDIC, byMachineYear, ipdbIDs, opdbIDs, cityID, lat, lon, byAtLeastNMachines, byAtLeastNMachinesCity, byAtLeastNMachinesType, byAtLeastNMachinesZone, byCityName, byStateName, byCityNoState, byCountry, byICActive, byIsSternArmy, byMachineType, byMachineDisplay, byManufacturer, region) {
  if (userFaved || locationIDs || operatorIDs || locationTypeIDs || zoneIDs || machineIDs || machineID || machineGroupId || byMachineIDsIC || byMachineIDIC || byMachineYear || ipdbIDs || opdbIDs || cityID || byAtLeastNMachines || byAtLeastNMachinesCity || byAtLeastNMachinesType || byAtLeastNMachinesZone || byCityName || byStateName || byCityNoState || byCountry || byICActive || byIsSternArmy || byMachineType || byMachineDisplay || byManufacturer || region) {

    if (region && !(userFaved || locationIDs || operatorIDs || locationTypeIDs || zoneIDs || machineIDs || machineID || machineGroupId || byMachineIDsIC || byMachineIDIC || byMachineYear || ipdbIDs || opdbIDs || cityID || machineGroupId || byAtLeastNMachines || byAtLeastNMachinesCity || byAtLeastNMachinesType || byAtLeastNMachinesZone || byCityName || byStateName || byICActive || byIsSternArmy || byMachineType || byMachineDisplay || byManufacturer)) {
      return;
    }

    var url = '/locations?user_faved=' + userFaved + '&by_location_id=' + locationIDs + '&by_operator_id=' + operatorIDs + '&by_type_id=' + locationTypeIDs + '&by_zone_id=' + zoneIDs + '&by_machine_id=' + machineIDs + '&by_machine_single_id=' + machineID + '&by_machine_group_id=' + machineGroupId + '&by_machine_id_ic' + byMachineIDsIC + '&by_machine_single_id_ic' + byMachineIDIC + '&by_machine_year' + byMachineYear + '&by_ipdb_id=' + ipdbIDs + '&by_opdb_id=' + opdbIDs + '&by_city_id=' + cityID + '&lat=' + lat + '&lon=' + lon + '&by_at_least_n_machines=' + byAtLeastNMachines + '&by_at_least_n_machines_city=' + byAtLeastNMachinesCity + '&by_at_least_n_machines_type=' + byAtLeastNMachinesType + '&by_at_least_n_machines_zone=' + byAtLeastNMachinesZone + '&by_city_name=' + byCityName + '&by_state_name=' + byStateName + '&by_city_no_state=' + byCityNoState + '&by_country=' + byCountry + '&by_ic_active=' + byICActive + '&by_is_stern_army=' + byIsSternArmy + '&by_machine_type=' + byMachineType + '&by_machine_display=' + byMachineDisplay + '&manufacturer=' + byManufacturer + '&region=' + region ;

    $('#locations').html(loadingHTML());
    $.get(url, function (data) {
      $('#locations').html(data);
    });
  }
}

function showLocationDetail(locationID) {
  if (selectedLocationID === locationID) {
  } else {
    $('.location_detail').hide();
    $('#intro_container').css('display','none');
    $('#next_link').hide();
    selectedLocationID = locationID;

    if ($('#location_detail').is(":hidden")) {
      $('#show_location_detail_location_' + locationID).hide();
      $('.sub_nav_location').hide();
      $('.back_to_results').show();

      map.setLayoutProperty('points', 'icon-image',
        ["step", ["zoom"],
        ['match', ['id'], locationID, 'marker-z-sel',
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
          ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
            'marker-z-10']]
        ],
        9,
        ['match', ['id'], locationID,
          ["case", [">=", ["get", "machine_count"], 10], 'marker-10-sel',
            'marker-z-sel'],
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
          ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
            'marker-10']]
        ],
        11,
        ['match', ['id'], locationID,
          ["case", [">=", ["get", "machine_count"], 10], 'marker-10-sel',
            ["case", [">=", ["get", "machine_count"], 2], 'marker-2-1-sel',
            'marker-z-sel']],
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
          ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
            'marker-10']]
        ],
        13,
        ['match', ['id'], locationID,
          ["case", ["<=", ["get", "machine_count"], 9], 'marker-2-1-sel',
            'marker-10-sel'],
          ["case", ["<=", ["get", "machine_count"], 1], 'marker-1',
          ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
            'marker-10']]
        ]]
      )

      $('#location_detail').toggle();

      $('#location_detail').html(loadingHTML());
      $.get('/locations/' + locationID + '/render_location_detail', function (data) {
        $('#location_detail').html(data);
      });
    }
  }
}

function backToResults() {
  selectedLocationID = "";
  $('.back_to_results').hide();
  $('.sub_nav_location').show();
  $('#next_link').show();
  $('#location_detail').hide();
  map.setLayoutProperty('points', 'icon-image', [
    "step", ["zoom"],
    ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
      ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
      'marker-z-10']], 9,
    ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
      ["case", ["<=", ["get", "machine_count"], 9], 'marker-z-2',
      'marker-10']], 11,
    ["case", ["<=", ["get", "machine_count"], 1], 'marker-z-1',
      ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
      'marker-10']], 13,
    ["case", ["<=", ["get", "machine_count"], 1], 'marker-1',
      ["case", ["<=", ["get", "machine_count"], 9], 'marker-2',
      'marker-10']],
  ]);
}

function closeActivity() {
  document.getElementById('map_activity_container').innerHTML = "";
}

function showSearchModal() {
  $('#form_container').show(400);
}

function hideSearchModal() {
  if ($('.search_modal').css('display') == 'block') {
    $('#form_container').hide(400);
  }
}

function setRegion(regionName) {
  region = regionName;
}

function setSearchSections(newSearchSections) {
  searchSections = newSearchSections;
}

function updateLocationUpdatedText(id) {
  $('#last_updated_location_' + id).load('/locations/' + id + '/render_last_updated');
  $('#stale_' + id).hide();
  return false;
}

var fade_flash = function () {
  $("#flash_notice").delay(2400).fadeOut("slow");
  $("#flash_alert").delay(2400).fadeOut("slow");
  $("#flash_error").delay(2400).fadeOut("slow");
};
fade_flash();

var show_ajax_message = function (msg, type) {
  $("#flash-message").html('<div id="flash_' + type + '">' + msg + '</div>');
  fade_flash();
};

function show_new_machine_message() {
  alert('Please choose a machine from the list. If the machine is not in the list, it is likely a game (e.g., a non-pinball game) that we do not include on Pinball Map. If you think the list is missing a pinball machine, please contact us.');
};
