%div.high_score
  = banner('add_scores_lmx', 'Enter Your High Score', lmx)
  %div[lmx, :add_scores]{:style => 'display:none;', :class => 'add_scores_form'}
    = form_tag machine_score_xrefs_path, :id => "add_high_score_#{lmx.id}", :method => 'post' do
      = hidden_field_tag :location_machine_xref_id, lmx.id
      = label_tag :score, 'Score: '
      = text_field_tag :score
      %br/
      = submit_tag 'Add Score', :id => 'add_score'

    :javascript
      $('#add_high_score_#{lmx.id}').submit(function () {
        $('#score_container_lmx_#{lmx.id}').css('visibility', 'visible');
        $('#score_container_lmx_#{lmx.id}').css('display', 'block');
        $('#show_scores_lmx_#{lmx.id}').html(loadingHTML());
        $('#show_scores_lmx_banner_#{lmx.id}')
          .animate( { backgroundColor: "#d3ecff" }, 1000 )
          .animate( { backgroundColor: "transparent" }, 1000 );


        var form = $(this);
        $.post(form.attr('action'), form.serialize(), function (data) {
          $('#show_scores_lmx_#{lmx.id}').load('/#{params[:region]}/locations/#{lmx.id}/render_scores');
        });
        $('#add_high_score_#{lmx.id} #score').val('');

        return false;
      });
