%div.high_score
  - icon_path = image_tag('icons/numeric.svg', :alt => 'Add Score Icon', :class => 'banner_icon')
  - if !user_signed_in?
    =link_to new_user_session_path, :class => "no_underline" do
      %div.sub_nav_item.add_scores_lmx_toggle
        =icon_path
        %span Add high score
  - else
    = banner('add_scores_lmx', 'Add high score', icon_path, lmx)
    %div[lmx, :add_scores]{:style => 'display:none;', :class => 'add_scores_form mt_20'}
      = form_tag machine_score_xrefs_path, :id => "add_high_score_#{lmx.id}", :method => 'post' do
        = hidden_field_tag :location_machine_xref_id, lmx.id
        = label_tag :score, 'Score: '
        = text_field_tag :score, nil, :placeholder => "enter your score", :class => 'score', :id => "score_#{lmx.id}"
        %br/
        = submit_tag 'Add Score', :id => "add_score_#{lmx.id}", :class => 'add_score'

      :javascript
        document.getElementById('score_#{lmx.id}').addEventListener('input', event =>
          event.target.value = (parseInt(event.target.value.replace(/[^\d]+/gi, '')) || 0).toLocaleString('en-US')
        );
        $('#add_high_score_#{lmx.id}').submit(function () {
          $('#show_scores_lmx_#{lmx.id}').html(loadingHTML());

          var form = $(this);
          $.post(form.attr('action'), form.serialize(), function (data) {
            $('#show_scores_lmx_#{lmx.id}').load('/locations/#{lmx.id}/render_scores');
          });
          $('#add_high_score_#{lmx.id} #score_#{lmx.id}').val('');

          return false;
        });
