= banner(location, 'add_machine_location', 'Add New Machine At This Location')
%div[location, :add_machine]{:style => 'display:none;'}
  %span Select a machine and then click the Add button.
  %br{:style => "clear:both;"}/
  = form_tag location_machine_xrefs_path, :method => 'post', :id => "add_new_machine_#{location.id}", :remote => true do
    = hidden_field_tag :location_id, location.id
    = text_field_tag :add_machine_by_name, params[:add_machine_by_name]
    %br/
    = select_tag :add_machine_by_id, options_for_select(['']) + options_from_collection_for_select(Machine.order('name'), 'id', 'name', params[:add_machine_by_id])
    %br/
    = submit_tag 'Add', :id => 'add'

  :javascript
    $(function () {
      $('#add_machine_by_name').autocomplete({source: '#{autocomplete_machines_path}'});
    });

    $('#add_new_machine_#{location.id}').submit(function () {
      $('#show_machines_location_#{location.id}').html(loading_html());
      $.post(this.action, $(this).serialize(), null, 'script');
      $('#show_machines_location_#{location.id}').load('/#{params[:region]}/locations/#{location.id}/render_machines');

      return false;
    });
