%div.remove_button
  = button_to "Remove machine",  location_machine_xref_path(:id => lmx.id), :id => "remove_machine_#{lmx.id}", :method => 'delete', :remote => true, :class => "remove_machine_button"

:javascript
  $('#remove_machine_#{lmx.id}').click(function () {
    if (confirm("Remove this machine?")) {
      $('#machine_lmx_#{lmx.id}').fadeOut('slow', function() {
        updateLocationUpdatedText(#{lmx.location_id});
        $('#gm_machines_#{lmx.location_id}').load('/locations/#{lmx.location_id}/render_machine_names_for_infowindow', function() {
          $('#show_machines_location_count_#{lmx.location_id}').load('/locations/#{lmx.location_id}/render_machines_count', function() {});
        });
      });

      $(this).callRemote();
    }
    return false;
  });
