%span.machine_name= lmx.machine.name
= button_to "x remove",  location_machine_xref_path(:region => @region.name, :id => lmx.id), :id => "remove_machine_#{lmx.id}", :class => 'delete_button', :method => 'delete', :remote => true

:javascript
  $('#remove_machine_#{lmx.id}').click(function () {
    $('#machine_lmx_#{lmx.id}').fadeOut('slow', function() {});
    $(this).callRemote();

    return false;
  });
