= link_to lmx.machine.name, "http://ipdb.org/search.pl?name=#{lmx.machine.name};qh=checked;searchtype=advanced", :class => 'machine_name'
= button_to "remove",  location_machine_xref_path(:region => @region.name, :id => lmx.id), :id => "remove_machine_#{lmx.id}", :method => 'delete', :remote => true, :class => "remove_machine_button"

:javascript
  $('#remove_machine_#{lmx.id}').click(function () {
    $('#machine_lmx_#{lmx.id}').fadeOut('slow', function() {});
    $(this).callRemote();

    return false;
  });
