- cache [logged_in, lmx] do
  = render :partial => 'location_machine_xrefs/backglass', :locals => {:lmx => lmx}
  - if (lmx.machine.opdb_id.present?)
    %div.external_link_container
      %p{:style => "margin-bottom: 0; padding-bottom: 2"}
        Find machine tips, rules, & videos on
      = render :partial => 'location_machine_xrefs/matchplay', :locals => {:lmx => lmx}
  = render :partial => 'location_machine_xrefs/ic_button', :locals => {:lmx => lmx}
  %div.machine_comments_container
    = render :partial => 'machine_conditions/show_machine_conditions', :locals => {:lmx => lmx}, cached: true
    = render :partial => 'location_machine_xrefs/update_machine_condition', :locals => {:lmx => lmx}
  %div.machine_scores_container
    = render :partial => 'machine_score_xrefs/show_high_scores', :locals => {:lmx => lmx}
    = render :partial => 'machine_score_xrefs/add_high_score',  :locals => {:lmx => lmx}
