- scores.each do |msx|
  %div.high_score_new_line="#{number_with_delimiter(msx.score, :delimiter => ",")}"
  %div.high_score_meta
    - if msx.user
      = link_to msx.user.username, "#{request.scheme}://#{request.host_with_port}/users/#{msx.user.username}/profile", :class => 'bold'
      - if !msx.user.admin_title.blank? || !msx.user.contributor_rank.blank?
        - rank = msx.user.admin_title.present? ? msx.user.admin_title.gsub(' ', '') : msx.user.contributor_rank.gsub(' ', '')
        %span{:class => "rank_icon_#{rank}"}
          =image_tag("rank/#{rank}.png", :class => "rank_icon")
      - if !msx.user.flag.blank?
        %span{:class => "user_flag_container"}
          =image_tag("https://flagcdn.com/24x18/#{msx.user.flag}.png", :class => "user_flag", :alt => "#{msx.user.flag} flag")
    - else
      DELETED USER
    %span.high_score_date=msx.created_at ? msx.created_at.strftime("%b %d, %Y") : ''
