%span= (lmx.condition.to_s == '') ? '' : lmx.condition
- if (!lmx.condition_date.nil?)
  %span.machine_condition_date= 'Updated: ' + lmx.condition_date.strftime("%d-%b-%Y")
%div[lmx, :machine_condition]
  %div.machine_condition
    %span.comment_image
      =image_tag('comment-3.png', :alt => 'Leave a machine comment')
  .clear  
%div[lmx, :machine_condition_edit]{:style => 'display:none'}
  = form_tag update_machine_condition_location_machine_xrefs_path(:action => 'update_machine_condition', :id => lmx.id, :region => @region.name), :id => "update_machine_condition_#{lmx.id}", :method => 'get' do
    = hidden_field_tag :id, lmx.id
    = text_area_tag "new_machine_condition_#{lmx.id}", '', :cols => 20, :rows => 3, :class => 'edit_mode', :placeholder => '(note: if this machine is gone, please just remove it. no need to leave a comment saying it is gone)'
    %br/
    = submit_tag 'Save', :id => "save_machine_condition_#{lmx.id}", :class => "save_button"
  = submit_tag 'Cancel', :id => "cancel_machine_condition_#{lmx.id}", :class => "cancel_button"

:javascript
  $('#update_machine_condition_#{lmx.id}').submit(function () {
    $('#machine_condition_display_#{lmx.id}').html(loadingHTML());

    var form = $(this);
    $.get(form.attr('action'), form.serialize(), function (data) {
      $('#machine_condition_display_lmx_#{lmx.id}').load('/#{params[:region]}/location_machine_xrefs/#{lmx.id}/render_machine_condition');
      $('#show_conditions_lmx_#{lmx.id}').load('/#{params[:region]}/location_machine_xrefs/#{lmx.id}/render_machine_conditions');
      updateLocationUpdatedText(#{lmx.location_id}, '#{params[:region]}');
    });

    return false;
  });

  $('#cancel_machine_condition_#{lmx.id}, #machine_condition_lmx_#{lmx.id}').click(function () {
    $('#machine_condition_edit_lmx_#{lmx.id}').toggle();
    $('#machine_condition_lmx_#{lmx.id}').toggle();
  });
