- if user_signed_in?
  %div[lmx, :machine_condition]
    =image_tag("icons/comment-text.svg", :alt => "Leave a Comment", :class => "machine_comment_icon")
    %div.add_condition Add machine comment
  %div[lmx, :machine_condition_edit]{:style => 'display:none'}
    = form_tag update_machine_condition_location_machine_xrefs_path(:action => 'update_machine_condition', :id => lmx.id), :id => "update_machine_condition_#{lmx.id}", :method => 'get' do
      = hidden_field_tag :id, lmx.id
      = text_area_tag "new_machine_condition_#{lmx.id}", '', :cols => 20, :rows => 3, :class => 'edit_mode', :placeholder => '(note: if this machine is gone, please just remove it. no need to leave a comment saying it is gone)'
      %br/
      = submit_tag 'Save', :id => "save_machine_condition_#{lmx.id}", :class => "save_button"
    = submit_tag 'Cancel', :id => "cancel_machine_condition_#{lmx.id}", :class => "cancel_button"

:javascript
  $('#update_machine_condition_#{lmx.id}').submit(function () {

    var form = $(this);
    $.get(form.attr('action'), form.serialize(), function (data) {
      $('#show_conditions_lmx_#{lmx.id}').load('/location_machine_xrefs/#{lmx.id}/render_machine_conditions');
      updateLocationUpdatedText(#{lmx.location_id});
    });
    $('#update_machine_condition_#{lmx.id} #new_machine_condition_#{lmx.id}').val('');

    return false;
  });

  $('#cancel_machine_condition_#{lmx.id}, #machine_condition_lmx_#{lmx.id}').click(function () {
    $('#machine_condition_edit_lmx_#{lmx.id}').toggle();
    $('#machine_condition_lmx_#{lmx.id}').toggle();
  });
