- if !user_signed_in?
  =link_to new_user_session_path, :class => "no_underline" do
    %div.machine_condition_lmx
      =image_tag('icons/comment-text.svg', alt: 'Leave a Comment', :class => "machine_comment_icon")
      %div.add_condition Add machine comment
- else
  %div[lmx, :machine_condition]
    =image_tag("icons/comment-text.svg", :alt => "Leave a Comment", :class => "machine_comment_icon")
    %div.add_condition Add machine comment
  %div[lmx, :machine_condition_edit]{:style => 'display:none'}
    = form_tag update_machine_condition_location_machine_xrefs_path(:action => 'update_machine_condition', :id => lmx.id), :id => "update_machine_condition_#{lmx.id}", :class => "update_machine_condition_lmx", :method => 'patch' do
      = hidden_field_tag :id, lmx.id
      = text_area_tag "new_machine_condition_#{lmx.id}", '', :cols => 20, :rows => 3, :class => 'edit_mode', :placeholder => '(note: if this machine is gone, please just remove it. no need to leave a comment saying it is gone)'
      %div.brightpurple{:style => "margin: 5px;line-height: 16px;"}
        %span.bold Everyone:
        Sometimes it's better to tell technicians about small and very temporary issues on-site (note or call) rather than leaving them "on the record" here.
        %br/
        %br/
        That said, please be descriptive about machine issues and also considerate of the time and effort needed to maintain machines.
        %br/
        %br/
        %span.bold Operators:
        if you've fixed an issue, please leave a comment saying so.
      %br/
      = submit_tag 'Save', :id => "save_machine_condition_#{lmx.id}", :class => "save_button"
    = submit_tag 'Cancel', :id => "cancel_machine_condition_#{lmx.id}", :class => "cancel_button"


:javascript
  $('#update_machine_condition_#{lmx.id}').submit(function () {

    var form = $(this);
    $.post(form.attr('action'), form.serialize(), function (data) {
      $('#show_conditions_lmx_#{lmx.id}').load('/location_machine_xrefs/#{lmx.id}/render_machine_conditions');
      updateLocationUpdatedText(#{h(lmx.location_id)});
    });
    $('#update_machine_condition_#{lmx.id} #new_machine_condition_#{lmx.id}').val('');
    $('#machine_condition_edit_lmx_#{lmx.id}').slideToggle('slow');
    $('#machine_condition_lmx_#{lmx.id}').toggle();

    return false;
  });

  $('#cancel_machine_condition_#{lmx.id}, #machine_condition_lmx_#{lmx.id}').click(function () {
    $('#machine_condition_edit_lmx_#{lmx.id}').toggle();
    $('#machine_condition_lmx_#{lmx.id}').toggle();
  });
