.left_column
  %p.regular_text
    %span Fat Links:
    %br/
    %br/
    = link_to 'Seattle Pinball League', 'http://seattlepinballleague.com/', :class => 'light_blue', :target => '_blank'
    %br/
    %br/
    = link_to 'Skill Shot Zine', 'http://www.skill-shot.com', :class => 'light_blue', :target => '_blank'
    %br/
    %br/
    = link_to 'Pacific NW Pinball', 'http://www.pnwpinball.com/', :class => 'light_blue', :target => '_blank'
    %br/
    %br/
    = link_to 'NW Pinball and Gameroom Show', 'http://www.nwpinballshow.com/', :class => 'light_blue', :target => '_blank'
.right_column.secondary
  = link_to image_tag('seattle/skillshot_17.jpg'), 'http://www.skill-shot.com', :target => '_blank'
