= banner('add_machine_location', 'ADD MACHINE', location)
%div[location, :add_machine]{:style => 'display:none'}

:javascript
  $(function() {
    $('#add_machine_location_banner_#{location.id}').click(function () {
      $('#add_machine_location_#{location.id}').html(loadingHTML());
      $('#add_machine_location_#{location.id}').load('/#{params[:region]}/locations/#{location.id}/render_add_machine');
    });
  });
