<%= banner(location, 'add_machine', 'Add New Machine At This Location') %>
<div id="add_machine_<%= location.id %>" style="display: none;">
  <span>Select a machine and then click the Add button.</span>
  <br clear="all" />
  <%= form_tag add_machine_locations_path, :id => "add_new_machine_#{location.id}", :method => 'get', :remote => true do %>
    <%= hidden_field_tag :location_id, location.id %>
    <%= text_field_tag :add_machine_by_name, params[:add_machine_by_name] %>
    <br />
    <%= select_tag :add_machine_by_id, options_for_select(['']) + options_from_collection_for_select(Machine.all, 'id', 'name', params[:add_machine_by_id]) %>
    <br />
    <%= submit_tag 'Add', :id => 'add' %>
  <% end %>

  <script type="text/javascript">
    $(function () {
      $('#add_machine_by_name').autocomplete({source: '<%= autocomplete_machines_path %>'});
    });

    $('#add_new_machine_<%= location.id %>').submit(function () {
      $('#show_machines_' + <%= location.id %>).html(loading_html());
      $.get(this.action, $(this).serialize(), null, 'script');
      $('#show_machines_' + <%= location.id %>).load('/<%= params[:region] %>/locations/<%= location.id %>/render_machines');

      return false;
    });
  </script>
</div>
