%a{:id => 'other_search_options_link', :href => '#other_search_options', :rel => 'facebox[.search_option_selector]'} Other search options
%div{:id => 'other_search_options', :style => 'display:none;'}

%div{:id => 'by_city', :class => 'section', :style => 'display:none;'}
  = search_banner('by_city', 'LOOKUP BY CITY')
  = form_tag locations_path, :method => 'get', :class => 'location_search', :remote => true do
    %span.info To search locations by city, please select a city from the drop down
    %br{:style => "clear:both;"}/
    = select_tag :by_city, options_for_select(['']) + options_from_collection_for_select(Location.find(:all, :conditions => ['region_id = ?', @region.id], :select => 'distinct city', :order => 'city'), 'city', 'city', params[:by_city])
    %br{:style => "clear:both;"}/
    = submit_tag 'Search', :class => 'search', :id => 'city_search_button'

%div{:id => 'by_zone', :class => 'section', :style => 'display:none;'}
  = search_banner('by_zone', 'LOOKUP BY ZONE')
  = form_tag locations_path, :method => 'get', :class => 'location_search', :remote => true do
    %span.info To search locations by zone, please select a zone from the drop down
    %br{:style => "clear:both;"}/
    = select_tag :by_zone_id, options_for_select(['']) + options_from_collection_for_select(Zone.where('region_id = ?', @region.id).order('name'), 'id', 'name', params[:by_zone_id])
    %br{:style => "clear:both;"}/
    = submit_tag 'Search', :class => 'search', :id => 'zone_search_button'

%div{:id => 'by_location', :class => 'section', :style => 'display:none;'}
  = search_banner('by_location', 'LOOKUP BY LOCATION')
  = form_tag locations_path, :method => 'get', :class => 'location_search', :remote => true do
    %span.info To search locations please select a place or region from the drop down or begin typing in the text box.
    %br{:style => "clear:both;"}/
    = select_tag :by_location_id, options_for_select(['']) + options_from_collection_for_select(Location.where('region_id = ?', @region.id).order('name'), 'id', 'name', params[:by_location_id])
    %br{:style => "clear:both;"}/
    = text_field_tag :by_location_name, params[:by_location_name]
    %br{:style => "clear:both;"}/
    = submit_tag 'Search', :class => 'search', :id => 'location_search_button'

%div{:id => 'by_machine', :class => 'section', :style => 'display:none;'}
  = search_banner('by_machine', 'LOOKUP BY MACHINE')
  = form_tag locations_path, :method => 'get', :class => 'location_search', :remote => true do
    %span.info To find a machine please select one from the drop down or use the text box.
    %br{:style => "clear:both;"}/
    = select_tag :by_machine_id, options_for_select(['']) + options_from_collection_for_select(Machine.order('name'), 'id', 'name', params[:by_machine_id])
    %br{:style => "clear:both;"}/
    = text_field_tag :by_machine_name, params[:by_machine_name]
    %br{:style => "clear:both;"}/
    = submit_tag 'Search', :class => 'search', :id => 'machine_search_button'

:javascript
  $(function () {
    $('#by_location_name').autocomplete({source: '#{autocomplete_locations_path(:region_id => @region.id)}'});
    $('#by_machine_name').autocomplete({source: '#{autocomplete_machines_path}'});

    $('.location_search').submit(function () {
      $('#locations').html(loadingHTML());
      $.get(this.action, $(this).serialize(), function(data){$('#locations').html(data);}, 'script');
      return false;
    });

    $('a[rel*=facebox]').facebox({
      loadingImage : '/images/facebox/loading.gif',
      closeImage   : '/images/facebox/closelabel.png'
    });
  });
