- if (@locations)
  - location_data = locations_javascript_data(@locations)
  :javascript
    show_locations(
      [#{location_data[0].join(', ')}],
      [#{location_data[1].join(', ')}],
      [#{location_data[2].join(', ')}],
      [#{location_data[3].join(', ')}]
    );
  %h2.search_results_header Search Results
  %div#search_results
    - @locations.each do |l|
      %div.search_result[l]
        %div.sub_nav_item
          = open_closed_arrows_for('location_detail_location', l.id)
          %div[l, :show_location_detail]{:onclick => "$('#location_summary_location_#{l.id}').toggle(); toggle_data('location_detail_location', #{l.id});"}
            %span= l.name
            %span[l, :location_summary] #{[l.street, l.city].join(' | ')}<br style="clear:all" />#{[l.machine_names].join(' | ')[0, 10]}
        %div.sub_nav_item[l, :location_detail]{:style => 'display:none'}
          %div.location_name
            %ul
              %li= l.street
              %br{:style => "clear:all;"}/
              %li= [l.city, l.zip, l.state].join(', ')
          = render :partial => 'locations/add_machine', :locals => {:location => l}
          = render :partial => 'locations/show_machines', :locals => {:location => l}
