- if (@locations)
  - @operators_map = "operators" if request.url.include?('operator_location_data')
  :javascript
    $("#min_lookup_wrapper,#map_activity_button, #closest_button, #key_container").removeClass("hide_button");

    var locations_geojson = JSON.parse('#{@locations_geojson}');
    showLocations();

    results_init = true;

    var hrefOrig = '#{request.scheme}://#{request.host_with_port}/#{@region ? h(@region.name.downcase) : @operators_map ? @operators_map : "map"}?';
    var def_value = window.location.href;

    var url = '';
    if (typeof(search_string) == "undefined") {
      url = def_value;
    } else {
      url = hrefOrig + search_string;
    }

    if (history.pushState) {
      var a = document.createElement('a');
      a.href = url;

      window.history.pushState('', '', a.pathname + a.search);
    }
- if @locations_size == 1
  :javascript
    var locationName = "#{sanitize(@locations.first&.name)}";

    var regionName = "#{sanitize(@region&.full_name)}"

    newTitle = locationName + " - " + regionName + " Pinball Map";

    document.title = newTitle;
    $('meta[property="og:title"]').attr("content", newTitle);
- else
  :javascript
    document.title = "#{title_for_path(request.path, @region)}";
    $('meta[property="og:title"]').attr("content", "#{title_for_path(request.path, @region)}");

:javascript

  var topbutton = document.getElementById("top_button");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
      topbutton.style.display = "block";
    } else {
      topbutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }

#results_container
  - if @locations_size > 1
    #search_results_count
      %p.bold.red
        #{number_with_delimiter(@locations_size,:delimiter => ",")} locations & #{number_with_delimiter(@machines_sum,:delimiter => ",")} machines in map results
  - unless @locations_size == 1
    %div.back_to_results.font14.bold.pointer{:onclick => "backToResults();"}
      %span.left_arrow &#x2190;
      %span Go back to search results

  %div#location_detail.location_detail{:style => 'display:none;'}
  #search_results
    = render :partial => 'locations/render_locations'
