- if (@locations)
  :javascript
    $("#min_lookup_wrapper,#map_activity_button, #closest_button, #key_container").removeClass("hide_button");

    var locations_geojson = JSON.parse('#{@locations_geojson}');
    var _favedSet = new Set(favedLocationIds);
    locations_geojson.forEach(function(f) { f.properties.is_faved = _favedSet.has(f.id); });
    notFound_lat = "#{j(@nearby_lat || 0)}";
    notFound_lon = "#{j(@nearby_lon || 0)}";
    showLocations(notFound_lat, notFound_lon#{', true' if @city_search_mode});
    #{"(function() { var nMachines = $('#by_at_least_n_machines').val() || undefined; var typeIds = $('#by_type_id').val() || undefined; var mfr = $('#by_manufacturer').val() || undefined; var mType = (typeof emModeActive !== 'undefined' && emModeActive) ? ['em', 'me'] : undefined; var icActive = (typeof icActiveMode !== 'undefined' && icActiveMode) ? '1' : undefined; var yearGte = $('#by_machine_year_gte').val() || undefined; var yearLte = $('#by_machine_year_lte').val() || undefined; var machineIds = machineSelectIds(); var byMachineId, byMachineSingleId, byMachineIdIc, byMachineSingleIdIc; var icChecked = $('#icVersion').is(':checked'); if (icChecked && machineIds.length) { if (machineIds.length === 1 && machineGroups[machineIds[0]] && !$('#singleVersion').is(':checked')) { byMachineIdIc = machineIds; } else { byMachineSingleIdIc = machineIds; } } else if (machineIds.length === 1 && machineGroups[machineIds[0]] && !$('#singleVersion').is(':checked')) { byMachineId = machineIds; } else if (machineIds.length) { byMachineSingleId = machineIds; } getMapBounds({ by_at_least_n_machines: nMachines, by_type_id: typeIds, by_machine_id: byMachineId, by_machine_single_id: byMachineSingleId, manufacturer: mfr, by_machine_type: mType, by_machine_id_ic: byMachineIdIc, by_machine_single_id_ic: byMachineSingleIdIc, by_ic_active: icActive, by_machine_year_gte: yearGte, by_machine_year_lte: yearLte }); })();" if @city_search_mode}

    results_init = true;

    var hrefOrig = '#{request.scheme}://#{request.host_with_port}/#{@region ? h(@region.name.downcase) : @operators_map ? @operators_map : "map"}?';
    var def_value = window.location.href;

    var url = '';
    if (typeof(search_string) == "undefined") {
      url = def_value;
    } else {
      url = hrefOrig + search_string;
    }

    if (history.pushState) {
      var a = document.createElement('a');
      a.href = url;

      window.history.pushState('', '', a.pathname + a.search);
    }
- if @locations_size == 1
  :javascript
    var locationName = "#{j @locations.first&.name}";

    var regionName = "#{j @region&.full_name}"

    newTitle = locationName + " - " + (regionName ? regionName + " " : "") + "Pinball Map";

    document.title = newTitle;
    $('meta[property="og:title"]').attr("content", newTitle);
- else
  :javascript
    document.title = "#{title_for_path(request.path, @region)}";
    $('meta[property="og:title"]').attr("content", "#{title_for_path(request.path, @region)}");

:javascript
  var topbutton = document.getElementById("top_button");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
      topbutton.style.display = "block";
    } else {
      topbutton.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }

#results_container
  - if @locations_size > 1
    #search_results_count
      %p.bold.red
        #{number_with_delimiter(@locations_size,:delimiter => ",")} locations & #{number_with_delimiter(@machines_sum,:delimiter => ",")} machines in map results
  - unless @locations_size == 1
    %div.back_to_results.font14.bold.pointer{:onclick => "backToResults();"}
      %span.left_arrow &#x2190;
      %span Go back to search results

  %div#location_detail.location_detail{:style => 'display:none;'}
  #search_results
    = render :partial => 'locations/render_locations'
