- if (@locations)
  :javascript
    clearMarkers()
    clearInfoWindows();

    showLocations(
      [#{@location_data[0].join(', ')}],
      [#{@location_data[1].join(', ')}],
      [#{@location_data[2].join(', ')}],
      [#{@location_data[3].join(', ')}]
    );
  #results_container
    #search_results
      - @locations.each do |location|
        - l = location.clone
        %div.search_result[l]
          %div.sub_nav_location[l, :show_location_detail]{:onclick => "showLocationDetail(#{l.id});"}
            %ul
              %li.name= l.name
              - if (!params[:show_location_distance].blank? && !params[:lat].blank? && !params[:lon].blank?)
                %li.location_type= " distance: #{l.distance_from([params[:lat], params[:lon]]).round(2)} miles"
              - if (l.location_type)
                %li.location_type= " (#{l.location_type.name})"
              .clear
              %li.address
                %span.address_name[l, :location_summary] #{[l.street, l.city].join(' | ')}
                .clear
              %li.machine_names
                #{[l.machine_names].join('<br />').html_safe}
          .clear
          %div.location_detail[l, :location_detail]{:style => 'display:none;'}
            %div.location_name{:onclick => "toggleArrows('location_detail', #{l.id}); locationLookupMapCenter(#{l.id});"}
              %ul
                %li.name= l.name
                .clear
                %span.location_description
                  %span.comment_image
                    =image_tag('comment-3.png', :alt => 'Update Location Description/Hours/Etc')
                  %span.location_meta
                    %span.meta_image
                      =image_tag('tools.png', :alt => 'Update Location Metadata')
                %li.address_full= [l.street, l.city, l.state + " " + l.zip].join(', ')
                %div[l, :metadata]
                  = render :partial => 'locations/render_update_metadata', :locals => {:l => l}
                %div[l, :desc]
                  = render :partial => 'locations/render_desc', :locals => {:l => l}
                %div.location_thumbs
                  = render :partial => 'location_picture_xrefs/show_thumbs', :locals => {:location_picture_xrefs => l.location_picture_xrefs}
                %div.location_link 
                  =link_to 'Link to this map result', "/#{@region.name.downcase}/?by_location_id=#{l.id}", :id => l.id
            %div.location_detail_sub
              - if user_signed_in?
                = render :partial => 'location_picture_xrefs/add_picture', :locals => {:location => l}
                = render :partial => 'locations/add_machine', :locals => {:location => l}
              = render :partial => 'locations/show_machines', :locals => {:location => l}
        - l = nil

    - if (@locations.size == 1)
      :javascript
        $(function() {
          singleLocationLoad('#{@region.name.downcase}', #{@locations.first.id});
        });

