- if (@locations)
  :javascript

    clearMarkers();
    clearInfoWindows();
    $("#mapFollow_wrapper,#search_link_wrapper,#min_lookup_wrapper").removeClass("hide_button");

    showLocations(
      [#{@location_data[0].join(', ')}],
      [#{@location_data[1].join(', ')}],
      [#{@location_data[2].join(', ')}],
      [#{@location_data[3].join(', ').html_safe}],
      [#{@location_data[4].join(', ')}],
      [#{[@lat, @lon].join(', ')}]
    );

    var hrefOrig = 'https://#{request.host_with_port}/#{@region ? @region.name.downcase : "map"}?';
    var def_value = window.location.href;

    var url = '';
    if (typeof(search_string) == "undefined") {
      url = def_value;
      document.getElementById("search_link").href=url;
    } else {
      url = hrefOrig + search_string;
      document.getElementById("search_link").href=url;
    }

    if (history.pushState) {
      var a = document.createElement('a');
      a.href = url;

      window.history.pushState('', '', a.pathname + a.search);
    }

:javascript
  var isSingleLocation = #{@locations.size == 1 ? true : false};

  if (isSingleLocation) {
    var locationName = "#{raw @locations.size == 0 ? '' : @locations[0].name}";
    var locationAddress = "#{raw @locations.size == 0 ? '' : @locations[0].full_street_address}";
    var regionName = "#{raw @locations.size == 0 ? '' : @locations[0].region ? @locations[0].region.full_name : ''}";
    var machineCount = "#{raw @locations.size == 0 ? '' : @locations[0].machines.count}";
    var machineNames = "#{raw @locations.size == 0 ? '' : @locations[0].machine_names[0,3].join(', ')}";
    var machineSingle = "#{raw @locations.size == 0 ? '' : @locations[0].machines.count > 1 ? 'pinball machines' : 'pinball machine'}";
    var machineMoreThree = "#{raw @locations.size == 0 ? '' : @locations[0].machines.count > 3 ? ' and more!' : '.'}";

    newTitle = locationName + " - " + regionName + " Pinball Map";
    newDesc = locationName + " on Pinball Map! " + locationAddress + ". " + locationName + " has " + machineCount + " " + machineSingle + ": " + machineNames + machineMoreThree;

    document.title = newTitle;
    $('meta[property="og:title"]').attr("content", newTitle);
    $('meta[name="description"]').attr("content", newDesc);
    $('meta[property="og:description"]').attr("content", newDesc);
  } else {
    document.title = "#{title_for_path(request.path, @region)}";
    $('meta[property="og:title"]').attr("content", "#{title_for_path(request.path, @region)}");
    $('meta[name="description"]').attr("content", "#{desc_for_path(request.path, @region)}");
    $('meta[property="og:description"]').attr("content", "#{desc_for_path(request.path, @region)}");
  }

#results_container
  #search_results
    - unless @locations.size == 1
      %div.back_to_results.font14.bold.red.pointer{:onclick => "backToResults();"}
        %span.left_arrow &#x2190;
        %span Go back to search results
    - total_num_machines = 0
    - @locations.each do |location|
      - l = location.clone
      %div.search_result[l]
        - if (@locations.size == 1)
          %div.location_detail[l, :location_detail]
            = render :partial => 'locations/render_location_detail', :locals => {l: l}
        - else
          %div.sub_nav_location[l, :show_location_detail]{:onclick => "showLocationDetail(#{l.id}); showInfowindow(#{l.id});"}
            %div.name.bold.font20
              = l.name
            - if (l.location_type)
              %div.location_type
                - if (l.location_type.icon)
                  %div.location_type_container
                    =image_tag("icons/#{l.location_type.icon}.svg", :alt => "#{l.location_type.icon}")
                %span
                  #{l.location_type.name}
            - if (!params[:show_location_distance].blank? && !params[:lat].blank? && !params[:lon].blank?)
              %div.location_types= "distance: #{l.distance_from([params[:lat], params[:lon]]).round(2)} miles"
            - if (l.state.blank?)
              %div.address
                %span.address_name[l, :location_summary] #{[l.street, l.city].join(', ')}
            - else
              %div.address
                %span.address_name[l, :location_summary] #{[l.street, l.city, l.state].join(', ')}
            %div.machine_names
              - l.machine_names.take(20).each do |machine|
                %div #{machine.html_safe}
            - if (location.machines.size > 20)
              %div.black
                and
                - the_rest = (location.machines.size - 20)
                #{the_rest}
                more
                - if the_rest == 1
                  machine...
                - else
                  machines...
          %div.location_detail[l, :location_detail]{:style => 'display:none;'}

      - l = nil
      - total_num_machines += location.machines.size
  - unless @locations.size == 1
    #search_results_count
      %span
        #{@locations.size} Locations & #{total_num_machines} machines in results
      %span

  - if (@locations.size == 1)
    :javascript
      $(function() {
        showInfowindow(#{@locations.first.id});
      });
