<% if (@locations) %>
  <% location_data = locations_javascript_data(@locations) %>
  <script type="text/javascript">
    show_locations(
      [<%= location_data[0].join(', ') %>],
      [<%= location_data[1].join(', ') %>],
      [<%= location_data[2].join(', ') %>],
      [<%= location_data[3].join(', ') %>]
    );
  </script>
  <h2 class="search_results_header">Search Results</h2>
  <div id="search_results">
    <% @locations.each do |l| %>
      <div class="search_result">
        <div class="sub_nav_item">
          <%= open_closed_arrows_for('location_detail', l.id) %>
          <%= link_to('#', :id => "show_location_detail_#{l.id.to_s}", :onclick => "$('.location_summary_#{l.id}').toggle(); toggle_data('location_detail', #{l.id});") do %>
            <span><%= l.name %> </span><span class="location_summary_<%= l.id %>"><%= [l.street, l.city].join(' | ') %></span>
            <br clear="all" />
            <span class="location_summary_<%= l.id %>"><%= [l.machine_names].join(' | ')[0, 10] %></span>
          <% end %>
        </div>
        <div id="location_detail_<%= l.id %>" class="sub_nav_item" style="display: none;">
          <div class="location_name">
            <ul>
              <li><%= l.street %></li>
              <li><%= [l.city, l.zip, l.state].join(', ') %></li>
            </ul>
          </div>
          <%= render :partial => 'locations/add_machine', :locals => {:location => l} %>
          <%= render :partial => 'locations/show_machine', :locals => {:location => l} %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
