- if (@locations)
  :javascript
    show_locations(
      [#{@location_data[0].join(', ')}],
      [#{@location_data[1].join(', ')}],
      [#{@location_data[2].join(', ')}],
      [#{@location_data[3].join(', ')}]
    );
  %h2.search_results_header Search Results
  %div.clear
  %div#search_results
    - @locations.each do |l|
      %div.search_result[l]
        %div
          = open_closed_arrows_for('location_detail_location', l.id)
          %div[l, :show_location_detail]{:onclick => "$('#location_summary_location_#{l.id}').toggle(); toggle_data('location_detail_location', #{l.id});"}
            %span= l.name
            %div.clear
            %span[l, :location_summary] #{[l.street, l.city].join(' | ')}<br class="clear" />#{[l.machine_names].join(' | ')[0, 10]}
        %div.clear
        %div.sub_nav_item[l, :location_detail]{:style => 'display:none'}
          %div.location_name
            %ul
              %li= l.street
              %div.clear
              %li= [l.city, l.zip, l.state].join(', ')
              %li
                = link_to 'Link to this map result', locations_path, :class =>'location_link', :id => l.id
          = render :partial => 'location_picture_xrefs/show_thumbs', :locals => {:location => l}
          = render :partial => 'location_picture_xrefs/add_picture', :locals => {:location => l}
          = render :partial => 'location_machine_xrefs/add_machine', :locals => {:location => l}
          = render :partial => 'locations/show_machines', :locals => {:location => l}
      %div.clear
