- if (@locations)
  :javascript
    clearMarkers()
    clearInfoWindows();

    showLocations(
      [#{@location_data[0].join(', ')}],
      [#{@location_data[1].join(', ')}],
      [#{@location_data[2].join(', ')}],
      [#{@location_data[3].join(', ')}]
    );
  #results_container
    .scroll_pane
      .clear
      #search_results
        - @locations.each do |l|
          %div.search_result[l]
            %div.sub_nav_item[l, :show_location_detail]{:onmouseover => "$(this).addClass('location_summary_image_mouseover');", :onmouseout => "$(this).removeClass('location_summary_image_mouseover');", :onclick => "showLocationDetail(#{l.id});"}
              %ul
                %li= l.name
                .clear
                %li
                  %span[l, :location_summary] #{[l.street, l.city].join(' | ')}<br class="clear" />#{[l.machine_names].join(' | ')}
            .clear
            %div.location_detail[l, :location_detail]{:style => 'display:none'}
              %div.location_name{:onclick => "$('#location_detail_location_#{l.id}').toggle(); toggleData('show_location_detail_location', #{l.id}); toggleArrows('location_detail', #{l.id});"}
                %ul
                  %li= l.name
                  .clear
                  %li= l.street
                  .clear
                  %li= [l.city, l.zip, l.state].join(', ')
                  .clear
                  %li= link_to 'Link to this map result', "/#{@region.name.downcase}/?by_location_id=#{l.id}", :class =>'location_link', :id => l.id
              = render :partial => 'location_picture_xrefs/show_thumbs', :locals => {:location_picture_xrefs => l.location_picture_xrefs}
              = render :partial => 'location_picture_xrefs/add_picture', :locals => {:location => l}
              = render :partial => 'location_machine_xrefs/add_machine', :locals => {:location => l}
              = render :partial => 'locations/show_machines', :locals => {:location => l}
    :javascript
      $(function () {
        $('.scroll_pane').jScrollPane({showArrows: true, autoReinitialise: true});
      });

    - if (@locations.size == 1)
      :javascript
        $(function() {
          singleLocationLoad(#{@location_data[0][0]});
        });
