#map_canvas
  = render :partial => template_exists?("#{@region.name}/_intro") ? "#{@region.name}/intro" : 'pages/intro'
#ticker
  - @region.n_recent_scores(20).each do |msx|
    %span= "#{msx.location.name}'s #{msx.machine.name}: #{MachineScoreXref::ENGLISH_SCORES[msx.rank]} with #{msx.score} by #{msx.initials}"

:javascript
  $().ready(function(){
      $("#ticker").scrollSomething({
        scrollerWidth: 645,
        scrollerHeight: 40,
        buttonSettings: "show",
        itemsVisable: 3,
        itemsScrolling: 1,
        buttonPosition: "bottomRight",
        scrollInterval: 3000
      });
  });
