#map_canvas
  .mask
    .closest_button
      %span.bold{:onclick => "findClosestLocations('#{@region ? @region.name : 'map'}')"}
        = link_to 'Click here to find the closest pinball machines!', '#', {:id => 'find_closest_locations'}
        Or Search.

- lat = local_assigns.has_key?(:lat) ? lat : @region.lat
- lon = local_assigns.has_key?(:lon) ? lon : @region.lon
- testMode = Rails.env.production? ? false : true

:javascript
  mapboxgl.accessToken = 'pk.eyJ1IjoicnlhbnRnIiwiYSI6ImNsZTV5dW11YTBoankzbnFsZTEzcnQycWsifQ._0FYgeHFSQCQJ6VboGXl8A';
  map = new mapboxgl.Map({
    container: 'map_canvas',
    testMode: #{testMode},
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [#{lon}, #{lat}],
    zoom: 12
  });
