- if !user_signed_in? && (l.date_last_updated.blank?)
- else
  %div{id: "confirm_location_#{l.id}", :class => "confirm_location #{user_signed_in? ? 'confirm_logged' : ''}"}
    %div.confirm_inner
      %div{:class => "confirm_location_button", :id => "confirm_location_button_#{l.id}"}
        - if user_signed_in?
          %span.confirm_button
      %span.last_updated{:id => "last_updated_location_#{l.id}"}
        #{l.date_last_updated ? "Last updated: #{l.date_last_updated.strftime("%b-%d-%Y")}" : ''}
        - if l.last_updated_by_user
          by
          %span.last_updated_username
            = link_to l.last_updated_by_user.username, "https://#{request.host_with_port}/users/#{l.last_updated_by_user.username}/profile"
            - user = l.last_updated_by_user
            - rank_int = user.admin? ? user.admin_rank_int : user.contributor_rank_int
            - if rank_int.present?
              %span{:class => "rank_icon_#{rank_int}"}
                = image_tag("rank/Rank_#{rank_int}.png", :class => "rank_icon")

  - if (!l.date_last_updated.blank?) && (l.date_last_updated < 2.years.ago)
    %div{:class => "stale", :id => "stale_#{l.id}"}
      This location has not been updated in over 2 years! The info may be out of date.

:javascript
  $('#confirm_location_button_#{l.id}').click(function () {
    $.get('/locations/#{l.id}/confirm', {}, function(data) {
      updateLocationUpdatedText(#{l.id});
    });
  });
