- lmx.machine_score_xrefs.collect! do |msx|
  %span.high_score_new_line= "Rank: #{MachineScoreXref::ENGLISH_SCORES[msx.rank]}; Initials: #{msx.initials}; Score #{msx.score}; Date #{msx.created_at ? msx.created_at.strftime("%m-%d-%Y") : ''}"
