- lmx.machine_score_xrefs.each do |msx|
  %div.high_score_new_line="#{number_with_delimiter(msx.score, :delimiter => ",")}"
  %div.high_score_meta
    - if msx.user
      %span.high_score_user
        = link_to msx.user.username, "#{request.scheme}://#{request.host_with_port}/users/#{msx.user.username}/profile"
    %span.high_score_date=msx.created_at ? msx.created_at.strftime("%b %d, %Y") : ''
