- if l.date_last_updated
  Location last updated: #{l.date_last_updated.strftime("%b-%d-%Y")}
  - if l.last_updated_by_user
    by
    %span.last_updated_username
      = link_to l.last_updated_by_user.username, "https://#{request.host_with_port}/users/#{l.last_updated_by_user.username}/profile"
      - user = l.last_updated_by_user
      - rank_int = user.admin? ? user.admin_rank_int : user.contributor_rank_int
      - if rank_int.present?
        %span{:class => "rank_icon_#{rank_int}"}
          = image_tag("rank/Rank_#{rank_int}.png", :class => "rank_icon")
