%div#location_detail[l]
	%div.location_name_container
		%div{:class => "bold font22 location_name"}
			=l.name
		%div.location_tools.pointer
			- if !user_signed_in?
				=link_to new_user_session_path, :class => "no_underline" do
					=image_tag('icons/lead-pencil.svg', :class => 'meta_image_notlogged')
					%span.meta_image_tooltip
						Update Location Info
					=image_tag( 'icons/heart-empty.svg', :alt => 'fave this location', :class => 'fave_location')
					%span.fave_location_tooltip
						Favorite This Location
			- else
				=image_tag('icons/lead-pencil.svg', :class => 'meta_image')
				%span.meta_image_tooltip
					Update Location Info
				=image_tag( l.user_fave?(current_user.id) ? 'icons/heart-filled.svg' : 'icons/heart-empty.svg', :alt => 'fave this location', :id => "fave_location_img_#{l.id}", :class => 'fave_location')
				%span.fave_location_tooltip
					Favorite This Location
			=link_to image_tag( 'icons/link-variant.svg' ), "/#{@region ? l.region.name.downcase : 'map'}/?by_location_id=#{l.id}", :id => l.id, :alt => 'link to this location', :class => 'permalink'
			%span.permalink_tooltip
				Location Permalink
	%div.m_10[l, :metadata]
		= render :partial => 'locations/render_update_metadata', :locals => {:l => l}
	- if ENV['AWS_BUCKET_NAME'].present? && !is_bot?
		%div.location_thumbs[l, :thumbs]
			= render :partial => 'location_picture_xrefs/show_thumbs', :locals => {:location_picture_xrefs => l.location_picture_xrefs}
	%div.quick_buttons
		- icon_path3 = image_tag('icons/plus-outline.svg', :alt => 'Add Machine Icon', :class => 'banner_icon')
		%div.quick_button_sub_container
			- if !user_signed_in?
				=link_to new_user_session_path, :class => "no_underline" do
					%div.sub_nav_item.add_machine_location_toggle
						=icon_path3
				%div.quick_button_desc Add a machine
			- else
				= quick_buttons('add_machine_location', icon_path3, l)
				%div.quick_button_desc Add a machine

		- icon_path = image_tag('icons/newspaper-variant-multiple-outline.svg', :alt => 'Recent Activity Icon', :class => 'banner_icon')
		%div.quick_button_sub_container
			= quick_buttons('recent_location_activity_location', icon_path, l)
			%div.quick_button_desc Recent activity

		- icon_path_confirm = image_tag('icons/check-outline.svg', :alt => 'Confirm Lineup Icon', :class => 'banner_icon')
		%div.quick_button_sub_container
			- if !user_signed_in?
				=link_to new_user_session_path, :class => "no_underline" do
					%div.sub_nav_item.confirm_location_toggle
						=icon_path_confirm
				%div.quick_button_desc Confirm lineup
			- else
				= quick_buttons('confirm_location', icon_path_confirm, l)
				%div.quick_button_desc Confirm lineup

		- icon_path4 = image_tag('icons/image.svg', :alt => 'Upload Picture Icon', :class => 'banner_icon')
		%div.quick_button_sub_container
			- if !user_signed_in?
				=link_to new_user_session_path, :class => "no_underline" do
					%div.sub_nav_item.add_picture_location_toggle
						=icon_path4
				%div.quick_button_desc Upload a picture
			- else
				= quick_buttons('add_picture_location', icon_path4, l)
				%div.quick_button_desc Upload a picture

	= render :partial => 'locations/add_machine', :locals => {:location => l}
	= render :partial => 'location_picture_xrefs/add_picture', :locals => {:location => l}
	= render :partial => 'locations/recent_activity', :locals => {:location => l}
	%div.lmx_count_row{:id => "lmx_count_row_#{l.id}"}
		= render :partial => 'locations/lmx_count_row', :locals => {:location => l}
	= render :partial => 'locations/show_machines', :locals => {:location => l}

:javascript
	currentMachineSort = 'alphabetical';

	$(function () {
		$("#fave_location_img_#{l.id}").click(function() {
			$.post('/users/#{current_user ? current_user.id : 'null'}/toggle_fave_location.json', {location_id: #{l.id}}, function(data) {
				var isFaved = $("#fave_location_img_#{l.id}").attr('src') === '#{asset_path('icons/heart-filled.svg')}';
				$("#fave_location_img_#{l.id}").attr('src', isFaved ? '#{asset_path('icons/heart-empty.svg')}' : '#{asset_path('icons/heart-filled.svg')}');
				if (isFaved) {
					favedLocationIds = favedLocationIds.filter(function(id) { return id !== #{l.id}; });
				} else {
					favedLocationIds.push(#{l.id});
				}
				if (typeof locations_geojson !== 'undefined' && typeof map !== 'undefined' && map.getSource('point')) {
					var feature = locations_geojson.find(function(f) { return f.id === #{l.id}; });
					if (feature) { feature.properties.is_faved = !isFaved; }
					map.getSource('point').setData({ type: 'FeatureCollection', features: locations_geojson });
				}
			});
		});
		$('#confirm_location_banner_#{l.id}').click(function () {
			showConfirmModal('Confirm the lineup at #{j l.name}?', function () {
				$.get('/locations/#{l.id}/confirm', {}, function(data) {
					updateLocationUpdatedText(#{l.id});
				});
			}, { confirmText: 'Confirm lineup' });
		});
		$(document).off('click', '#random_machine_icon_#{l.id}').on('click', '#random_machine_icon_#{l.id}', function () {
			showRandomMachineModal(#{l.id});
		});
		$(document).off('click', '#machine_sort_icon_#{l.id}').on('click', '#machine_sort_icon_#{l.id}', function () {
			showMachineSortModal(#{l.id});
		});

		if ( $("#thumbs_location_#{l.id}").prop('scrollHeight') > $("#thumbs_location_#{l.id}").height() ) {
			$("#thumbs_location_#{l.id}").addClass('location_thumbs_bg');
		}
	});
