%div[l, :desc_show]
  - if (!l.description.blank?)
    %hr
  %span.location_actual_description= (l.description.to_s == '') ? '' : l.description
  .clear
%div[l, :desc_edit]{:style => 'display:none'}
  - if user_signed_in?
    = form_tag update_desc_locations_path(:action => 'update_desc', :id => l.id), :id => "update_desc_#{l.id}", :method => 'get' do
      = hidden_field_tag :id, l.id
      = text_area_tag "new_desc_#{l.id}", (l.description.to_s == '') ? 'Update location description/hours/etc' : l.description, :cols => 20, :rows => 3, :class => 'edit_mode'
      %br/
      = submit_tag 'Save', :class => "save_button", :id => "save_desc_#{l.id}"
    = submit_tag 'Cancel', :id => "desc_cancel_#{l.id}", :class => "cancel_button"

:javascript

  $('#update_desc_#{l.id}').submit(function () {
    $('#desc_location_#{l.id}').html(loadingHTML());

    var form = $(this);
    $.get(form.attr('action'), form.serialize(), function (data) {
      $('#desc_location_#{l.id}').load('/locations/#{l.id}/render_desc');
      updateLocationUpdatedText(#{l.id})
    });

    return false;
  });

- if user_signed_in?
  :javascript
    $('#desc_cancel_#{l.id}, #location_detail_location_#{l.id} .location_description .comment_image').unbind('click').click(function () {
      $('#desc_show_location_#{l.id}').toggle();
      $('#desc_edit_location_#{l.id}').toggle();
    });
