- conditions.collect! do |mcx|
  %div.machine_condition_new_line
    %span{:style => "display:block;"}= "#{mcx.created_at ? mcx.created_at.strftime("%m-%d-%Y") : ''}"
    %span{:style => "display:block;"}= "#{mcx.comment}"
    = button_to "remove", machine_condition_path(:id => mcx.id), :id => "remove_machine_condition_#{mcx.id}", :method => 'delete', :remote => true, :form_class => "remove_machine_condition"

    :javascript
      $('#remove_machine_condition_#{mcx.id}').click(function () {
        if (confirm("Remove this machine condition?")){
          $(this).callRemote();
          return false;
        }

        return false;
      });