- if l.date_last_updated
  Location last updated: #{l.date_last_updated.strftime("%b-%d-%Y")}
  - if l.last_updated_by_user
    by
    %span.last_updated_username
      = link_to l.last_updated_by_user.username, "https://#{request.host_with_port}/users/#{l.last_updated_by_user.username}/profile"
      - last_updated_admin_rank_int = l.last_updated_by_user.admin_rank_int
      - last_updated_contributor_rank_int = l.last_updated_by_user.contributor_rank_int
      - if !last_updated_admin_rank_int.blank?
        %span{:class => "rank_icon_#{last_updated_admin_rank_int}"}
          =image_tag("rank/Rank_#{last_updated_admin_rank_int}.png", :class => "rank_icon")
      - elsif !last_updated_contributor_rank_int.blank?
        %span{:class => "rank_icon_#{last_updated_contributor_rank_int}"}
          =image_tag("rank/Rank_#{last_updated_contributor_rank_int}.png", :class => "rank_icon")
