%div.quick_button_content_header Add a Machine
%div.font14.p_10.center Tip: only add machines that are on the floor.
= form_tag location_machine_xrefs_path, :method => 'post', :id => "add_new_machine_#{l.id}" do
  = hidden_field_tag :location_id, l.id
  %div.add_machine_select_wrapper
    = select_tag "add_machine_by_id_#{l.id}", options_for_select(['']) + options_for_select(machine_select_options(params["add_machine_by_id_#{l.id}"])), :class => 'lookup_search_select'
    %div.machine_sort_trigger_wrapper
      =image_tag('icons/sort-variant.svg', :alt => 'Sort machines', :class => 'machine_sort_icon', :id => "add_machine_sort_icon_#{l.id}")
  %div{:id => "add_machine_backglass_preview_#{l.id}", :class => 'add_machine_backglass_preview', :style => 'display: none;'}
    %img{:alt => 'backglass image', :class => 'backglass_img', :id => "add_machine_backglass_img_#{l.id}"}
  = text_area_tag "machine_condition_#{l.id}", nil, placeholder: 'You can also include a machine comment...', class: 'add_machine_condition_input', id: "add_machine_condition_#{l.id}", rows: 3, style: 'display: none;'
  %div{:id => "add_machine_ic_prompt_#{l.id}", :class => 'add_machine_ic_prompt', :style => 'display: none;'}
    %span.add_machine_ic_question Does this machine have Stern Insider Connected enabled?
    %label
      = radio_button_tag "ic_enabled_#{l.id}", 'true', false, id: "add_machine_ic_yes_#{l.id}"
      Yes
    %label
      = radio_button_tag "ic_enabled_#{l.id}", 'false', false, id: "add_machine_ic_no_#{l.id}"
      No
  = submit_tag 'Add', :id => 'add', :class => 'add_machine_submit'

:javascript
  var currentAddMachineSort_#{l.id} = 'alphabetical';

  $(function () {
    $("#dialog-message").css("display","none");

    $('#add_machine_by_id_#{l.id}').select2({
      placeholder: 'Select a machine...',
      allowClear: true,
      sorter: function (data) {
        return data.slice().sort(machineSortComparator(currentAddMachineSort_#{l.id}));
      }
    });

    $('#add_machine_sort_icon_#{l.id}').on('click', function () {
      openMachineSortModal({
        allowedSorts: ['alphabetical', 'year_newest', 'year_oldest', 'manufacturer'],
        currentSort: currentAddMachineSort_#{l.id},
        onSelect: function (sort) {
          currentAddMachineSort_#{l.id} = sort;
        }
      });
    });

    $('#add_machine_by_id_#{l.id}').on('change', function () {
      var machineId = $(this).val();

      $('input[name="ic_enabled_#{l.id}"]').prop('checked', false);

      if (!machineId) {
        $('#add_machine_backglass_preview_#{l.id}').hide();
        $('#add_machine_backglass_img_#{l.id}').attr('src', '');
        $('#add_machine_condition_#{l.id}').hide().val('');
        $('#add_machine_ic_prompt_#{l.id}').hide();
        return;
      }

      $('#add_machine_condition_#{l.id}').show();

      $.getJSON('/machines/' + machineId + '/opdb_img', function (data) {
        if (data.opdb_img) {
          $('#add_machine_backglass_img_#{l.id}').attr('src', data.opdb_img);
          $('#add_machine_backglass_preview_#{l.id}').show();
        } else {
          $('#add_machine_backglass_preview_#{l.id}').hide();
          $('#add_machine_backglass_img_#{l.id}').attr('src', '');
        }

        $('#add_machine_ic_prompt_#{l.id}').toggle(!!data.ic_eligible);
      });
    });
  });

  $('#add_new_machine_#{l.id}').submit(function () {
    $('#show_machines_location_#{l.id}').html(loadingHTML());

    $.post(this.action, $(this).serialize(), function (data) {
      $('#show_machines_location_#{l.id}').load('/locations/#{l.id}/render_machines?' + machineSortQueryParam(), function() {
        updateLocationUpdatedText(#{l.id});
        $('#lmx_count_row_#{l.id}').load('/locations/#{l.id}/render_lmx_count_row', function() {});
      });
    });

    return false;
  });
