= banner('show_machines_location', 'SHOW MACHINES AT THIS LOCATION', location)
%div[location, :show_machines]{:style => 'display:none'}

:javascript
  $(function() {
    $('#show_machines_location_banner_#{location.id}').click(function () {
      $('#show_machines_location_#{location.id}').html(loadingHTML());
      $('#show_machines_location_#{location.id}').load('/#{params[:region]}/locations/#{location.id}/render_machines');
    });
  });
