= banner('show_machines_location', 'SHOW MACHINES AT THIS LOCATION', location)
%div[location, :show_machines]{:style => 'display:none'}

:javascript
  jQuery(function() {
    jQuery('#show_machines_location_banner_#{location.id}').click(function () {
      jQuery('#show_machines_location_#{location.id}').html(loadingHTML());
      jQuery('#show_machines_location_#{location.id}').load('/#{params[:region]}/locations/#{location.id}/render_machines');
    });
  });
