= form_tag remove_machine_locations_path, :id => "remove_machine_#{lmx.id}", :method => 'get', :remote => true do
  = hidden_field_tag :location_id, lmx.location_id
  = hidden_field_tag :machine_id, lmx.machine_id
  = label_tag :machine_name, lmx.machine.name
  = submit_tag 'Remove', :id => "remove"

:javascript
  $('#remove_machine_#{lmx.id}').submit(function () {
    $.get(this.action, $(this).serialize(), null, 'script');
    $('#machine_location_machine_xref_#{lmx.id}').fadeOut('slow', function() {});

    return false;
  });
