<h1>Editing location</h1>

<%= simple_form_for @location do |f| %>
  <%= f.input :name, :label => 'Location Name' %>
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :phone, :required => false %>
  <%= f.input :lat, :as => :string %>
  <%= f.input :lon, :as => :string %>
  <%= f.input :website, :as => :url, :required => false %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', locations_path %>
