<!DOCTYPE html>
%html
  %head
    %title Pinball Map
  = stylesheet_link_tag 'style', 'jquery.ui.all', 'jquery.jscrollpane.css', 'facebox.css'
  = javascript_include_tag 'jquery', 'jquery-ui-1.8.5.custom.min', 'jQuery.scrollSomething-1.0.0', 'rails', 'application', 'jquery.form', 'jquery.remotipart', 'jquery.mousewheel', 'jquery.jscrollpane', 'facebox.js'
  = csrf_meta_tag
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'

  #page
    = render :partial => 'pages/header'
    .clear

    %body{ :onload => "switchSection('location');" }
      %p.notice= notice
      %p.alert= alert

      =yield

:javascript
  $(function () {
    $.facebox.settings.closeImage = '/images/facebox/closelabel.png'
    $.facebox.settings.loadingImage = '/images/facebox/loading.gif'
  });
