<!DOCTYPE html>
%html
  %head
    %title #{(defined? @region) ? @region.full_name : ''} Pinball Map
    %meta{:name => "keywords", :content => "pinball, map, google map, locator" }
    %meta{:name => "description", :content => "Find local places to play pinball! The #{(defined? @region) ? @region.full_name : ''} Pinball Map is a high-quality user-updated pinball locator for all the public pinball machines in your area." }
    = stylesheet_link_tag 'style', 'jquery.ui.all', 'jquery.jscrollpane', 'highslide', 'highslide-ie6'
    = javascript_include_tag 'jquery', 'jquery-ui-1.8.5.custom.min', 'jQuery.scrollSomething-1.0.0', 'rails', 'application', 'jquery.form', 'jquery.remotipart', 'jquery.mousewheel', 'jquery.jscrollpane', 'highslide.min'
    = csrf_meta_tag
    = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true'
    %link{:rel => 'shortcut icon', :href => '/assets/favicon.ico', :type => 'image/x-icon'}/

  #page
    = render :partial => 'pages/header'
    .clear

    - if (@region)
      %body{ :onload => "switchSection('#{@region.default_search_type || 'location'}'); #{params['by_location_id'] ? "initSearch('#{@region.name.downcase}', #{params['by_location_id']});" : ""}" }
    - else
      %body

    %p.notice= notice
    %p.alert= alert

    = yield

:javascript
  $(function () {

    hs.registerOverlay({
      html: '<div class="closebutton" onclick="return hs.close(this)" title="Close"></div>',
      position: 'top right',
      fade: 2
    });

    hs.graphicsDir = '/images/highslide/graphics/';
    hs.wrapperClassName = 'borderless';

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33321299-1']);
    _gaq.push(['_setDomainName', 'pinballmap.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  });
