<!DOCTYPE html>
%html{:class => "#{current_page?(map_path) ? 'html_region' : '' }"}
  %head
    %meta{:charset => "UTF-8"}
    %title #{@title_params&.fetch(:title, nil) || title_for_path(request.path, @region)}
    %meta{:property => "og:title", :content => "#{@title_params&.fetch(:title, nil) || title_for_path(request.path, @region)}"}
    %meta{:name => "keywords", :content => "pinball, map, locator, arcade, tournaments, league" }
    %meta{:name => "description", :content => "#{@title_params&.fetch(:title_meta, nil) || desc_for_path(request.path, @region)}" }
    %meta{:property => "og:description", :content => "#{@title_params&.fetch(:title_meta, nil) || desc_for_path(request.path, @region)}" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:property => "og:site_name", :content => "Pinball Map"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "https://#{request.host+request.fullpath}" }
    %meta{:property => "og:image", :content => image_path("pbm-og-image.jpg")}
    %meta{:content => "JFE_WxE-R1LZtdT0omEkIKOlZr7oq1fPBW9mr3cdyx4", :name => "google-site-verification"}/
    - if Rails.env.staging?
      %meta{content: "noindex,nofollow", name: "robots"}/

    = stylesheet_link_tag 'normalize', 'application', 'mediaqueries', :media => ""
    - if mobile_device?
      = stylesheet_link_tag 'mobile-application'
    = javascript_include_tag 'application', 'jquery.form', 'jquery.remotipart'
    - if current_page?(saved_path) || current_page?(map_path) || current_page?(operators_path) || ((defined? @region) and current_page?(region_homepage_path))
      = stylesheet_link_tag 'lightbox', 'https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.css'
      = javascript_include_tag 'lightbox.min', 'https://unpkg.com/maplibre-gl@4.7.1/dist/maplibre-gl.js', 'https://unpkg.com/pmtiles@3.2.0/dist/pmtiles.js'
    - if ((defined? @region) and current_page?(suggest_path)) || current_page?(map_location_suggest_path) 
      = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + ENV['GOOGLE_MAPS_API_KEY'].to_s, 'https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js'
      = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css'

    = csrf_meta_tag
    = render 'application/favicon'

  - init_search = "initSearch('#{params['user_faved']}', '#{params['by_operator_id']}', '#{params['by_location_id']}', '#{params['by_type_id']}', '#{params['by_zone_id']}', '#{params['by_machine_id']}', '#{params['by_machine_single_id']}','#{params['by_ipdb_id']}','#{params['by_opdb_id']}', '#{params['by_city_id']}', '#{params['by_machine_group_id']}', '#{params['show_location_distance']}', '#{params['lat']}', '#{params['lon']}', '#{params['by_at_least_n_machines']}', '#{params['by_at_least_n_machines_city']}', '#{params['by_at_least_n_machines_type']}', '#{params['by_at_least_n_machines_zone']}', '#{params['region']}')"
  %body{ :onload => defined?(@region) ? "setSearchSections(#{@region.available_search_sections}); setRegion('#{@region.name.downcase}'); switchSection('#{(@region.default_search_type && !@region.default_search_type.empty?) ? @region.default_search_type : 'location'}'); #{init_search}" : "#{init_search}" }
    #container
      #page{:class => "#{@region ? '' : (defined? @region) and current_page?(submitted_new_location_path) ? 'page_home submitted' : 'page_home'} #{current_page?(map_flier_path) ? 'flier_print_hide' : ''}"}
        = render :partial => 'pages/header'
        .clear
        #flash-message{:class => "#{@region ? 'flash_region' : 'flash_home'}"}
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
            :javascript
              $(function () {
                $("#flash_#{name}").delay(2000).fadeOut("slow");
              });

      = yield
      = render :partial => 'pages/footer'
