<!DOCTYPE html>
<html>
<head>
  <title>Pbm</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
    <%= link_to "Log out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
