<!DOCTYPE html>
%html{:class => "#{current_page?(map_path) ? 'html_region' : '' }"}
  %head
    %meta{:charset => "UTF-8"}
    %title #{title_for_path(request.path, @region)}
    %meta{:property => "og:title", :content => "#{title_for_path(request.path, @region)}"}
    %meta{:name => "keywords", :content => "pinball, map, mapbox map, locator, arcade, tournaments, league" }
    %meta{:name => "description", :content => "#{desc_for_path(request.path, @region)}" }
    %meta{:property => "og:description", :content => "#{desc_for_path(request.path, @region)}" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:property => "og:site_name", :content => "Pinball Map"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "https://#{request.host+request.fullpath}" }
    %meta{:property => "og:image", :content => image_path("pbm-og-image.png")}
    %meta{:content => "JFE_WxE-R1LZtdT0omEkIKOlZr7oq1fPBW9mr3cdyx4", :name => "google-site-verification"}/
    / Start SmartBanner configuration
    %meta{:content => "Pinball Map", :name => "smartbanner:title"}/
    %meta{:content => "Get the App!", :name => "smartbanner:author"}/
    %meta{:content => "FREE", :name => "smartbanner:price"}/
    %meta{:content => " - On the App Store", :name => "smartbanner:price-suffix-apple"}/
    %meta{:content => " - In Google Play", :name => "smartbanner:price-suffix-google"}/
    %meta{:content => "#{asset_path('splash-icon-128.png')}", :name => "smartbanner:icon-apple"}/
    %meta{:content => "#{asset_path('splash-icon-128.png')}", :name => "smartbanner:icon-google"}/
    %meta{:content => "View", :name => "smartbanner:button"}/
    %meta{:content => "https://itunes.apple.com/us/app/pinball-map/id359275713?mt=8", :name => "smartbanner:button-url-apple"}/
    %meta{:content => "https://play.google.com/store/apps/details?id=com.pbm&hl=en", :name => "smartbanner:button-url-google"}/
    %meta{:content => "android,ios", :name => "smartbanner:enabled-platforms"}/
    %meta{:content => "Close", :name => "smartbanner:close-label"}/
    / End SmartBanner configuration

    = stylesheet_link_tag 'normalize', 'application', 'mediaqueries', 'https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css', :media => ""
    - if mobile_device?
      = stylesheet_link_tag 'mobile-application', 'smartbanner.min.css'
      = javascript_include_tag 'smartbanner.min.js'
    = javascript_include_tag 'application', 'jquery.form', 'jquery.remotipart', 'highslide.min', 'https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'
    = csrf_meta_tag
    = render 'application/favicon'

  - init_search = "initSearch('#{params['user_faved']}', '#{params['by_operator_id']}', '#{params['by_location_id']}', '#{params['by_type_id']}', '#{params['by_zone_id']}', '#{params['by_machine_id']}','#{params['by_ipdb_id']}','#{params['by_opdb_id']}', '#{params['by_city_id']}', '#{params['by_machine_group_id']}', '#{params['show_location_distance']}', '#{params['lat']}', '#{params['lon']}', '#{params['by_at_least_n_machines_city']}', '#{params['by_at_least_n_machines_type']}', '#{params['by_at_least_n_machines_zone']}', '#{params['region']}')"
  %body{ :onload => defined?(@region) ? "setSearchSections(#{@region.available_search_sections}); setRegion('#{@region.name.downcase}'); switchSection('#{(@region.default_search_type && !@region.default_search_type.empty?) ? @region.default_search_type : 'location'}'); #{init_search}" : "#{init_search}" }
    #container
      #page{:class => "#{@region ? '' : (defined? @region) and current_page?(submitted_new_location_path) ? 'page_home submitted' : 'page_home'}"}
        = render :partial => 'pages/header'
        .clear
        #flash-message{:class => "#{@region ? 'flash_region' : 'flash_home'}"}
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
            :javascript
              $(function () {
                $("#flash_#{name}").delay(3000).fadeOut("slow");
              });

      = yield
      = render :partial => 'pages/footer'
      :javascript

        $(function () {
          hs.registerOverlay({
            html: '<div class="closebutton" onclick="return hs.close(this)" title="Close"></div>',
            position: 'top right',
            fade: 2
          });

          hs.graphicsDir = '/images/highslide/graphics/';
          hs.wrapperClassName = 'borderless';

        });
