<!DOCTYPE html>
%html
  %head
    %meta{:charset => "UTF-8"}
    %title #{(defined? @region) ? @region.full_name + ' ' : ''}Pinball Map#{(current_page?(apps_path)) || (current_page?(apps_support_path)) ? ' Apps' : ''}
    %meta{:property => "og:title", :content => "#{(defined? @region) ? @region.full_name + ' ' : ''}Pinball Map#{(current_page?(apps_path)) || (current_page?(apps_support_path)) ? ' Apps' : ''}"}
    %meta{:name => "keywords", :content => "pinball, map, google map, locator, arcade, tournaments, league" }
    - if (current_page?(apps_path)) || (current_page?(apps_support_path))
      %meta{:name => "description", :content => "Pinball Map App for iOS and Android. It's FREE." }
      %meta{:property => "og:description", :content => "Pinball Map App for iOS and Android. It's FREE." }
    - else
      %meta{:name => "description", :content => "Find local places to play pinball! #{(defined? @region) ? 'The ' + @region.full_name + ' ' : ''}Pinball Map is a high-quality user-updated pinball locator for all the public pinball machines in your area." }
      %meta{:property => "og:description", :content => "Find local places to play pinball! #{(defined? @region) ? 'The ' + @region.full_name + ' ' : ''}Pinball Map is a high-quality user-updated pinball locator for all the public pinball machines in your area."}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:property => "og:site_name", :content => "Pinball Map"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => "http://#{request.host+request.fullpath}" }
    %meta{:property => "og:image", :content => image_path("pbm-og-image.png")}
    = stylesheet_link_tag 'application', 'mediaqueries', 'https://fonts.googleapis.com/css?family=Fira+Mono:400,700'
    - if mobile_device?
      = stylesheet_link_tag 'mobile-application'
    = javascript_include_tag 'application', 'jQuery.scrollSomething-1.0.0', 'jquery.form', 'jquery.remotipart', 'highslide.min', 'http://maps.google.com/maps/api/js?sensor=true'
    = csrf_meta_tag
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
    %link{:href => image_path("iconpurple.png"), :rel => "icon", :sizes => "196x196", :type => "image/png"}/

  %body{ :onload => defined?(@region) ? "setSearchSections(#{@region.available_search_sections}); switchSection('#{(@region.default_search_type && !@region.default_search_type.empty?) ? @region.default_search_type : 'location'}'); initSearch('#{@region.name.downcase}', '#{params['by_operator_id']}', '#{params['by_location_id']}', '#{params['by_location_type_id']}', '#{params['by_zone_id']}', '#{params['by_machine_id']}','#{params['by_ipdb_id']}','#{params['by_city_id']}', '#{params['by_machine_group_id']}', '#{params['show_location_distance']}', '#{params['lat']}', '#{params['lon']}');" : nil }
    #container
      #page
        = render :partial => 'pages/header'
        .clear
        #flash-message
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"

      = yield
      :javascript
        $(function () {
          hs.registerOverlay({
            html: '<div class="closebutton" onclick="return hs.close(this)" title="Close"></div>',
            position: 'top right',
            fade: 2
          });

          hs.graphicsDir = '/images/highslide/graphics/';
          hs.wrapperClassName = 'borderless';

        });
