= form_for LocationPictureXref.new, :id => "new_location_picture_xref_#{location.id}", :html => {:id => "new_location_picture_xref_#{location.id}", :multipart => true}, :remote => true do |f|
  = f.hidden_field :location_id, { :value => location.id }
  = f.label :photo, 'Photo To Upload:', :style => 'float: left;'
  = f.file_field :photo, :id => 'file_chooser_button'
  %br/
  = f.submit "Upload", :class => 'submit_picture'

:javascript
  $('#new_location_picture_xref_#{location.id}').submit(function () {
    var form = $(this);
    $(".submit_picture").attr('disabled', true);
    $.ajax({
      url: form.attr('action'),
      type: 'POST',
      data: new FormData(this),
      processData: false,
      contentType: false,
      success: function(data) {
        window.alert("Thanks for uploading that picture! It'll show up on the site as soon as an admin approves it.");
        toggleData('add_picture_location', #{location.id});
        document.getElementById("file_chooser_button").value = "";
        $(".submit_picture").attr('disabled', false);
      }
    });

    return false;
  });
