= form_for LocationPictureXref.new, :html => {:multipart => true}, :remote => true do |f|
  = f.hidden_field :location_id, { :value => location.id }
  = f.label :photo, 'Photo To Upload:'
  = f.file_field :photo
  = f.label :description, 'Description'
  = f.text_field :description
  = f.submit "Upload"
