= link_to "x", location_picture_xref_path(:id => lpx.id), :id => "remove_picture_#{lpx.id}", :method => 'delete', :remote => true, :class => "remove_picture_button"

:javascript
  $('#remove_picture_#{lpx.id}').click(function () {
    if (confirm("Remove this picture?")) {
      $('.location_picture_xref_#{lpx.id},#remove_picture_#{lpx.id}').fadeOut('slow');
      $(this).callRemote();
    }
    return false;
  });

