<p>Welcome to Pinball Map, <%= @username %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>
    <%= link_to 'Blog', 'http://blog.pinballmap.com/' %><br />
    <%= link_to 'Twitter', 'https://twitter.com/pinballmapcom/' %><br />
    <%= link_to 'Support Pinball Map on Patreon', 'https://patreon.com/pinballmap/' %>
</p>
